﻿@using KatilimEmeklilikInternetSube.Classes.Tools
@using KatilimEmeklilikInternetSube.Classes.ClassData
@model cSignUp

@{ 
    ViewBag.Title = "Kullanıcı Girişi";

    jCryption.HandleRequest(Request);

    if (Model == null)
    {
        return;
    }
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Kullanıcı Girişi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" href="/favicon.ico?v2" type="image/x-icon">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <link rel="stylesheet" href="/styles/vendor.css?@(DateTime.Now.ToString("ddMMyyyy"))">
    <link rel="stylesheet" href="/styles/main.css?@(DateTime.Now.ToString("ddMMyyyy"))">
    <script src="/scripts/vendor/modernizr.js"></script>
</head>
<body oncontextmenu="return false;">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="login">
        <div class="login-header">
            <img src="/images/logobig.png">
        </div>
        <div class="login-container">
            <div class="login-inner">
                <form id="form1" method="post" action="/">
                    @if (!Model.bolConfirmForm)
                    {
                        <input type="hidden" id="logintype" name="logintype" value="@(string.IsNullOrEmpty(Model.strLoginType) ? "2" : "1")" />
                        <ul role="tablist" class="nav nav-tabs">
                            <li class="active"><a href="#tc" role="tab" data-toggle="tab" onclick="$('#logintype').val('2');">TCKN ile Giriş</a></li>
                            <li><a href="#musteri-no" aria-controls="musteri-no" role="tab" data-toggle="tab" onclick="$('#logintype').val('1');">Müşteri No ile Giriş</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tc" role="tabpanel" class="tab-pane @(string.IsNullOrEmpty(Model.strLoginType) || Model.strLoginType == "2" ? "active" : "")">
                                <div class="form-group">
                                    <input id="tc_no" name="tc_no" type="text" value="@Model.strTckn" placeholder="TC Kimlik Numarası" maxlength="11" class="form-control validate[required]" autocomplete="off" />
                                </div>
                                <div class="form-group">
                                    <input id="cep_no" name="cep_no" value="@Model.strPhoneTckn" autocomplete="off" type="text" placeholder="Cep Numarası" class="form-control validate[required,custom[phone]]">
                                </div>
                                <a href="#" class="securiy-points">GÜVENLİK NOKTALARI</a>
                                <button type="submit" class="btn button-beta" onclick="return SendForm();">Gönder</button>
                            </div>
                            <div id="musteri-no" role="tabpanel" class="tab-pane @(Model.strLoginType == "1" ? "active" : "")">
                                <div class="form-group">
                                    <input id="musteri_no_input" name="musteri_no_input" value="@Model.strCustomerNo" type="text" placeholder="Müşteri Numarası" class="form-control validate[required]" autocomplete="off" />
                                </div>
                                <div class="form-group">
                                    <input id="cep_no_2" name="cep_no_2" value="@Model.strPhoneCustomer" type="text" placeholder="Cep Numarası" class="form-control validate[required,custom[phone]]" autocomplete="off" />
                                </div>
                                <a href="#" class="securiy-points">GÜVENLİK NOKTALARI</a>
                                <button type="submit" class="btn button-beta" onclick="return SendForm();">Gönder</button>
                            </div>
                        </div> 
                    }
                    else
                    {
                        <ul role="tablist" class="nav nav-tabs">
                            <li class="active"><a href="#sms" role="tab" data-toggle="tab">SMS Doğrulama</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="sms" role="tabpanel" class="tab-pane active">
                                <input type="hidden" name="lgkey" value="@Model.strLoginID" />
                                <input type="hidden" id="countdown" name="countdown" value="@Model.strCountdown" />
                                <div class="form-group">
                                    <input id="smscode" name="smscode" type="text" placeholder="SMS Kodu" maxlength="6" class="form-control validate[required]" autocomplete="off" />
                                </div>
                                <span id="timer" style="font-size: 24px; color: #008acf">&nbsp;</span>
                                <button type="submit" class="btn button-beta" onclick="return SendForm();">Gönder</button>
                            </div>
                        </div>  
                    }
                </form>
            </div>
            <div class="login-inner">
                <div class="call-center-container">
                    <span class="phone"><span class="icon-callcenter"></span>
                        <p>0850 226 0 123</p>
                    </span>
                    <p class="call-center-text">Çağrı Merkezimiz hafta içi her gün 09:00 – 19:00 saatleri arasında hizmet vermektedir.</p>
                </div>
                <div class="footer">
                    <div class="row-fluid no-padding">
                        <div class="col-sm-12 no-padding">
                            <ul>
                                <li><a href="#">Sıkça Sorulan Sorular</a></li>
                                <li><a href="https://www.katilimemeklilik.com.tr/iletisim/iletisim-bilgileri/" target="_blank">İletişim</a></li>
                            </ul>
                            <div class="logos">
                                <img src="/images/ssl.jpg"><img src="/images/m.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" class="modal fade modal-alpha">
        <div class="modal-dialog modal-md">
            <div class="close-l">
                <div class="icon-close"></div>
            </div>
            <div class="modal-content"></div>
        </div>
    </div>
    <div tpl="modal-warning">
        <div class="warning">
            <div class="head-type">
                <div class="icon-warning"></div>
            </div>
            <div class="title"><span>Uyari</span></div>
            <div class="text"><span>Bir uyari ile karsilasildi.</span></div>
        </div>
    </div>
    <div tpl="modal-error">
        <div class="error">
            <div class="head-type">
                <div class="icon-warning"></div>
            </div>
            <div class="title"><span>Hata</span></div>
            <div class="text"><span>Bir hata ile karsilasildi.</span></div>
        </div>
    </div>
    <div tpl="modal-prompt">
        <div class="warning">
            <div class="head-type">
                <div class="icon-warning"></div>
            </div>
            <div class="title"><span>Uyarı</span></div>
            <div class="text"><span>Süreniz doldu!</span></div>
            <div class="mrTop">
                <div class="row">
                    <div class="col-sm-6"><a href="/" class="button-alpha approve">TAMAM</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-securty modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-md">
            <div style="color: #4bb2e5; font-size: 30px; position: absolute; top: -36px; display: inline-block; right: 0;" class="close-l">X</div>
            <div style="padding: 20px;" class="modal-content">
                <h1 style="color: #4bb2e5; text-align: center;">GÜVENLİK NOKTALARI</h1>
                <h2 style="color: #0f3f93; font-size: 24px; padding-left: 24px;">İnternet Şubesi kullanımında güvenlik için dikkat edilmesi gereken hususlar:</h2>
                <ul>
                    <li>
                    Halka açık bilgisayarlardan İnternet Şubesi işlemlerini asla yapmayınız.! Çünkü halka açık bilgisayarlar da sizin kullanıcı adı ve parolanızı gizlice kaydeden programlar olabilir.
			<li>Mail aracılığı ile veya başka bir ortamda sunulan web sayfaları kullanılmamalı, farklı sayfalardan İnternet Şubesine yönlendirme yoluyla giriş yapılmamalı.</li>
                    <li>Katılım Emeklilik İnternet Şube’lerinden çıkmak için mutlaka güvenli ‘Çıkış' butonu kullanılarak işlemler sona erdirilmelidir.</li>
                    <li>Şifrenizi bilgisayarınız veya tarayıcınıza kaydetmeyiniz. Eğer bilgisayarınıza kaydedecekseniz şifreleme (Encryption) programları kullanarak şifreleyiniz. Şifrelerinizi ve gizli bilgilerinizi encryption yapmadan başka mail adreslerinize mail yolu ile göndermeyiniz.</li>
                    <li>Kendi bilgisayarınızda mutlaka antivirus yazılımları ve kişisel güvenlik duvarı (Desktop Firewall) kullanınız.</li>
                    <li>Kullandığınız işletim sistemini mutlaka güncel tutunuz. En son çıkan güvenlik yamalarını (Security Patch) yükleyiniz.</li>
                    <li>Microsoft tabanlı sistemler için Windows Xp Pro  ve yukarısı işletim sistemleri kullanınız. Windows 7  kullanmanız tavsiye edilir.</li>
                    <li>Şifrelerinizi belli aralıklarla değiştirmelisiniz.</li>
                    <li>Sadece güvenilir sitelerden program indiriniz ve indirdiğiniz programı antivirus programınız ile tarayınız.</li>
                    <li>Korsan program satan kişilerden aldığınız korsan program (Crack) ve oyun cd’leri sizin için tehlike teşkil etmektedir. Genellikle kırılmış programların yer aldığı cd’lerde kötü amaçlı programlar olabilir (Trojan, virus, worm...).</li>
                    <li>Katılım Emeklilik, cep telefonunuza herhangi bir sertifikasyon yüklemesi yapmanızı talep etmez. Bu yöntemle telefonunuza virüs içeren bir link gönderilip, sms şifre mesajlarınıza ulaşılmak istenebilmektedir. Web sayfasında çıkan bu tür bilgi ekranlarına herhangi bir giriş yapmayınız.</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/scripts/vendor.js?@(DateTime.Now.ToString("ddMMyyyy"))"></script>
    @jCryption.RenderScriptFor("form", src: "/js/jquery.jcryption.3.1.0.mod.js")

    <script type="text/javascript">
        var _clickBtn = 0;
        $(function () {
            @if (Model.bolConfirmForm)
            {
                 @Html.Raw("TimerStart();")
            }

            @if (!string.IsNullOrEmpty(Model.strScript))
            {
                @Html.Raw(Model.strScript)
            }

            $(".icon-close").click(function () {
                location.href = '/';
            });
            $('.securiy-points').on('click', function () {
                $('.modal-securty').modal('show');
            });
            $('.close-l').on('click', function () {
                $('.modal-securty').modal('hide');
            });
        });
        function SendForm() {
            var _sendForm = _clickBtn == 0 ? $("#form1").validationEngine('validate') : false;
            if (_sendForm) {
                _clickBtn = 1;
            }
            return _sendForm;
        };
        function TimerStart() {
            var countdown = $("#countdown").val();
            var timerId = setInterval(function () {
                if (_clickBtn == 0) {
                    countdown -= 1000;
                    var min = Math.floor(countdown / (60 * 1000));
                    var sec = Math.floor((countdown - (min * 60 * 1000)) / 1000);

                    if (countdown <= 0) {
                        $("#timer").html("&nbsp;");
                        clearInterval(timerId);

                        _clickBtn = 1;
                        MsgOpen("Süreniz doldu!", "prompt");
                    } else {
                        $("#timer").html((min > 9 ? min : "0" + min) + ":" + (sec > 9 ? sec : "0" + sec));
                        $("#countdown").val(countdown);
                    }
                } else {
                    $("#timer").html("Lütfen bekleyiniz...");
                }
            }, 1000);
        };
        function MsgOpen(strMsg, strType) {
            setTimeout(function () {
                var title = ""
                if (strType == "warning") {
                    title = "Uyarı"
                }
                else if (strType == "error") {
                    title = "Hata"
                }
                else if (strType == "success") {
                    title = "Başarılı"
                }

                $(window).trigger('modal-' + strType, { title: title, text: strMsg });
            }, 500);
        };

    </script>

    @Html.Raw(Model.strMessage)

</body>
</html>
