﻿@model List<CMS.Models.tblFileUploadLogs>
@{
    ViewBag.Title = "Yüklenen Dosya Logları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Script = ViewBag.Msg;
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">Raporlar / Kurumsal İnternet Şube
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>Yüklenen Dosya Logları
                             <a href="javascript:void();" style="float: right; font-size:25px;" title="Bilgi" onclick="OpenHelp('rprts-collectionfilelogs');">(i)</a>
                        </h1>
                        <div class="row">
                            <form method="get" action="@Request.Url.AbsolutePath">
                                <div class="col-md-12 col-lg-12">
                                    <select id="filetype" name="filetype" class="selectpicker">
                                        <option value="">Dosya türü</option>
                                        <option @(Request.QueryString["filetype"] == "URT" ? "selected" : "") value="URT">Üretim</option>
                                        <option @(Request.QueryString["filetype"] == "TAH" ? "selected" : "") value="TAH">Tahsilat</option>
                                        <option @(Request.QueryString["filetype"] == "OksTakip" ? "selected" : "") value="OksTakip">Oks Takip</option>
                                    </select>
                                    <input type="text" id="tckn" name="tckn" placeholder="TCKN" style="height: 33px;" value="@Request.QueryString["tckn"]" />
                                    <input type="text" id="customercode" name="customercode" placeholder="Müşteri kodu" style="height: 33px;" value="@Request.QueryString["customercode"]"  />
                                    <input type="text" id="refno" name="refno" placeholder="Referans numarası" style="height: 33px;" value="@Request.QueryString["refno"]"  /> 
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    Tarih Aralı 
                                    <input type="text" id="refno" name="refno" placeholder="Referans numarası" style="height: 33px;" value="@Request.QueryString["refno"]"  />
                                    <input type="submit" class="button-alpha pull-right" style="border: none; height: 33px; width: 50px; line-height: 30px; font-size: 19px; background-color: #4bb2e5" value="Ara" />
                                </div>
                            </form>
                        </div>
                        <br />
                        <form>
                            <div class="table-responsive">
                                @if (Model != null)
                                { 
                                    <table class="table table-hover">
                                        <tr>
                                            <td><strong>Kimlik Numarası</strong> </td>
                                            <td><strong>Dosya Türü</strong> </td>
                                            <td><strong>Müşteri kodu</strong> </td>
                                            <td><strong>Referans Numarası</strong> </td>
                                            <td><strong>İşlem Türü</strong> </td>
                                            <td><strong>Tutar</strong> </td>
                                            <td><strong>Kayıt Tarihi</strong></td>
                                        </tr>
                                        @foreach (var item in Model)
                                        { 
                                            <tr>
                                                <td>@CMS.Classes.Tools.Encryptor.Decrypt(item.tblUserLoginLogs.strTCKN)</td>
                                                <td>@item.strFileType</td>
                                                <td>@item.strCustomerCode</td>
                                                <td>@item.strRefNo</td>
                                                <td>@item.strProcessType</td>
                                                <td>@(!string.IsNullOrEmpty(item.strPrice) ? item.strPrice + " TL" : "")</td>
                                                <td>@item.dtRegisterDate</td>
                                            </tr>
                                        }
                                    </table>
                                    
                                        if (ViewBag.intCount > 1)
                                        {
                                    <ul class="pagination">
                                        @Web.Paging.pageLinks(Request.Url.AbsolutePath + "?q=page"
                                        + (Request.QueryString["filetype"] != null ? "&filetype=" + Request.QueryString["filetype"] : "")
                                        + (Request.QueryString["customercode"] != null ? "&customercode=" + Request.QueryString["customercode"] : "")
                                        + (Request.QueryString["refno"] != null ? "&refno=" + Request.QueryString["refno"] : "")
                                        + (Request.QueryString["tckn"] != null ? "&tckn=" + Request.QueryString["tckn"] : ""), CMS.Classes.Tools.QueryStrings.page, ViewBag.intCount)
                                    </ul>
                                        }
                                }
                                else
                                {
                                    <label>Kayıt bulunamadı!</label>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
