﻿@model List<CMS.Classes.ClassData.cUserLogs>
@{
    ViewBag.Title = "Kullanıcı Logları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Script = ViewBag.Msg;
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">
                            Raporlar / @(Request.QueryString["type"].Substring(0, 1).ToUpper() + Request.QueryString["type"].Substring(1, Request.QueryString["type"].Length - 1)) İnternet Şube
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            Kullanıcı Logları
                            <a href="javascript:void();" style="float: right; font-size:25px;" title="Bilgi" onclick="OpenHelp('rprts-userlogs-@(Request.QueryString["type"])');">(i)</a>
                        </h1>
                        <div class="row">
                            <form method="get" action="@Request.Url.AbsolutePath">
                                <div class="col-md-12 col-lg-12">
                                    <select id="year" name="year" class="selectpicker">
                                        <option value="">Tüm Yıllar</option>
                                        @for (int i = 2017; i <= DateTime.Now.Year; i++)
                                        {
                                            <option @(Request.QueryString["year"] == i.ToString() ? "selected" : "") value="@i.ToString()">@i.ToString()</option>
                                        }
                                    </select>
                                    <select id="month" name="month" class="selectpicker">
                                        <option value="">Tüm Aylar</option>
                                        @for (int i = 1; i <= 12; i++)
                                        {
                                            <option @(Request.QueryString["month"] == i.ToString() ? "selected" : "") value="@i">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                                        }
                                    </select>
                                    <input type="submit" onclick="return SendForm();" class="button-alpha pull-right" style="border: none; height: 33px; width: 50px; line-height: 30px; font-size: 19px; background-color: #4bb2e5" value="Ara" />
                                </div>
                                <input type="hidden" name="type" value="@Request.QueryString["type"]" />
                            </form>
                        </div>
                        <br />
                        <form>
                            <div class="table-responsive">
                                @if (Model != null)
                                {
                                    <table class="table table-hover">
                                        <tr>
                                            <td><strong>@(Request.QueryString["month"] == null ? "Ay" : "Gün")</strong> </td>
                                            <td><strong>Kullanıcı Girişi</strong> </td>
                                            <td><strong>Toplam Giriş</strong></td>
                                            <td></td>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.Raw(item.strTitle)</td>
                                                <td>@item.intUserLoginCount</td>
                                                <td>@item.intTotalLoginCount</td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    if (Request.QueryString["year"] == null)
                                    {
                                        <label>Yıl seçiniz!</label>
                                    }
                                    else
                                    {
                                        <label>Kayıt bulunamadı!</label>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function SendForm() {
        if ($('#year').val() == '' && $('#month').val() != '') {
            MsgOpen('Yıl seçiniz!', 'warning');
            return false;
        }
        return true;
    };
</script>
