﻿@model List<CMS.Models.tblUserExceptionLogs>
@{
    ViewBag.Title = "Servis Logları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Script = ViewBag.Msg;
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">Raporlar / Kurumsal İnternet Şube
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>Servis Logları 
                             <a href="javascript:void();" style="float: right; font-size:25px;" title="Bilgi" onclick="OpenHelp('rprts-wslogs');">(i)</a>
                        </h1>
                        <div class="row">
                            <form method="get" action="@Request.Url.AbsolutePath">
                                <div class="col-md-12 col-lg-12">
                                    <input type="text" id="tckn" name="tckn" placeholder="TCKN" style="height: 33px;" value="@Request.QueryString["tckn"]" />
                                    <input type="text" id="url" name="url" placeholder="Sayfa" style="height: 33px;" value="@Request.QueryString["url"]"  />
                                    <input type="text" id="methodname" name="methodname" placeholder="Kullanılan metod" style="height: 33px;" value="@Request.QueryString["methodname"]"  />
                                    <input type="text" id="json" name="json" placeholder="Data" style="height: 33px;" value="@Request.QueryString["json"]"  />
                                    <input type="submit" onclick="return SendForm();" class="button-alpha pull-right" style="border: none; height: 33px; width: 50px; line-height: 30px; font-size: 19px; background-color: #4bb2e5" value="Ara" />
                                </div>
                            </form>
                        </div>
                        <br />
                        <form>
                            <div class="table-responsive">
                                @if (Model != null)
                                { 
                                    <table class="table table-hover">
                                        <tr>
                                            <td><strong>Sayfa</strong> </td>
                                            <td><strong>Metod ismi</strong> </td>
                                            <td><strong>Kayıt Tarihi</strong></td>
                                            <td></td>
                                        </tr>
                                        @foreach (var item in Model)
                                        { 
                                            <tr>
                                                <td style="word-wrap: break-word; max-width: 120px;">@item.strPage</td>
                                                <td style="word-wrap: break-word; max-width: 240px;">@item.strMethodName</td>
                                                <td style="word-wrap: break-word; max-width: 100px;">@item.dtRegisterDate</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(item.strJson))
                                                    {
                                                        <a style="padding: 0px 10px 0px 10px" href="javascript:void(0);" onclick="OpenText('Data', '@item.strJson.Replace(System.Environment.NewLine, "").Replace("  ", "").Replace("'", "")');" class="button-beta">Data</a>
                                                    }
                                                    @if (!string.IsNullOrEmpty(item.strException))
                                                    {
                                                        <a style="padding: 0px 10px 0px 10px" href="javascript:void(0);" onclick="OpenText('Hata Mesajı', '@item.strException.Replace(System.Environment.NewLine, "").Replace("  ", "").Replace("'", "")');" class="button-beta">Hata Mesajı</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                    
                                        if (ViewBag.intCount > 1)
                                        {
                                    <ul class="pagination">
                                        @Web.Paging.pageLinks(Request.Url.AbsolutePath + "?q=page"
                                        + (Request.QueryString["url"] != null ? "&url=" + Request.QueryString["url"] : "")
                                        + (Request.QueryString["methodname"] != null ? "&methodname=" + Request.QueryString["methodname"] : "")
                                        + (Request.QueryString["json"] != null ? "&json=" + Request.QueryString["json"] : "")
                                        + (Request.QueryString["tckn"] != null ? "&tckn=" + Request.QueryString["tckn"] : ""), CMS.Classes.Tools.QueryStrings.page, ViewBag.intCount)
                                    </ul>
                                        }
                                }
                                else
                                {
                                    if (Request.QueryString["tckn"] == null)
                                    {
                                    <label>Kimlik numarası giriniz!</label>
                                    }
                                    else
                                    {
                                    <label>Kayıt bulunamadı!</label>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function OpenText(title, strText) {
        if (title == 'Data') {
            title = '<a href="http://json.parser.online.fr" target="_blank">http://json.parser.online.fr</a>';
        }

        $(window).trigger('modal-prompt', { title: title, text: strText });
    };
    function SendForm() {
        if ($('tckn').val() == '') {
            MsgOpen('Kimlik numarasını giriniz!', 'warning');
            return false;
        }
        return true;
    };
</script>
