﻿@{ 
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="row-fluid">
    <div class="col-xs-12 no-padding">
        <div class="page hayat-sigortasi">
            <div class="page-inner">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="page-not-found"> 
                                <span class="page-text">Size daha iyi hizmet verebilmek için sitemizde geliştirme yapıyoruz, anlayışınız için teşekkür ederiz.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

