﻿@model KatilimEmeklilikInternetSube.Classes.ClassData.Health.ContractedInstitution.cHealth_ContractedInstitution

@{
    string strTitle = Model.PageSettings.Title;
    string strUrlRoot = Model.PageSettings.UrlRoot;

    ViewBag.Title = strTitle + " / Anlaşmalı Kurumlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">
                            @if (!string.IsNullOrEmpty(Model.UrunAdi))
                            {
                                @Model.UrunAdi
                            }
                            else
                            {
                                @(strTitle)
                            }
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mrTop">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <form id="form1" method="post" action="@Request.RawUrl">
                        <div class="col-md-12 col-lg-3">
                            <div class="selectbox-alpha">
                                <select id="city" name="city" class="selectpicker" onchange="GetDistrict();">
                                    <option value="">Şehir Seçiniz</option>
                                    @if (Model.cityData != null)
                                    {
                                        foreach (var item in Model.cityData)
                                        {
                                        <option value="@item.strID" @(ViewBag.city == item.strID ? "selected" : "")>@item.strName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-3">
                            <div class="selectbox-alpha">
                                <select id="district" name="district" class="selectpicker">
                                    <option value="">İlçe Seçiniz</option>
                                    @if (Model.districtData != null)
                                    {
                                        foreach (var item in Model.districtData)
                                        {
                                        <option value="@item.strID" @(ViewBag.district == item.strID ? "selected" : "")>@item.strName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="form-item">
                                <div class="input-alpha">
                                    <input type="text" name="facilityName" placeholder="Kurum Adı" value="@ViewBag.facilityName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-2">
                            <input type="submit" id="btnSecim" class="button-beta pull-right" value="ARA" />
                        </div>
                    </form>
                </div>
                <div class="col-xs-12">
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-idCard"></div>
                            Anlaşmalı Kurumlar
                        </h1>
                        <div class="table-responsive">
                            @if (Model.tableData != null)
                            {
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <td>Kurum Adı</td>
                                                <td>Kurum Telefon</td>
                                                <td>Kurum Adres</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.tableData)
                                            {
                                                <tr>
                                                    <td>@item.Ad</td>
                                                    <td>@item.Telefon</td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(item.Adres))
                                                        {
                                                            <a class="btn btn-info pull-center" style="font-size: 16px; background-color: #4bb2e5" href="javascript:void(0);" onclick="ShowAddress('@item.Adres.Replace("'", "")');">Adres</a>
                                                        }
                                                    </td>
                                                </tr> 
                                            }
                                        </tbody>
                                    </table>
                                </div>  
                            }
                            else
                            {
                                <label>Kayıt bulunamadı!</label>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>

<script type="text/javascript">
    function GetDistrict() {
        $.ajax({
            type: "POST", url: "/health/getdistrict",
            data: { city: $('#city').val() },
            cache: false,
            headers: { "cache-control": "no-cache" },
            success: function (data) {
                var resultData = $.parseJSON(data);
                if (resultData.length > 0) {
                    var newOptions = '<option value="">İlçe Seçiniz</option>';
                    for (var i = 0; i < resultData.length; i++) {
                        newOptions += '<option value="' + resultData[i].strID.trim() + '">' + resultData[i].strName + '</option>';
                    }

                    $('#district').html(newOptions).selectpicker('render');
                    $('#district').selectpicker('refresh');
                }
            }
        });
    };
    function ShowAddress(strAddress) {
        $('[tpl="modal-prompt"] .mrTop').hide();
        $('[tpl="modal-prompt"] .text').attr('style', 'word-wrap: break-word; max-width: 500px; text-align: left;');

        $(window).trigger('modal-prompt', { title: 'Adres', text: strAddress });
    };
</script>
