﻿@model KatilimEmeklilikInternetSube.Classes.ClassData.Health.cHealth

@{
    string strUrlRoot = Model.PageSettings.UrlRoot;

    ViewBag.Title = Model.PageSettings.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    string strCryptPolicyNo = KatilimEmeklilikInternetSube.Classes.Tools.cCrypto.EncryptDES(ViewBag.policyNo.ToString());
}

<div class="page bes">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">@Model.GeneralInfo.TarifeAd</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="box-content-wide"><span class="sub">Poliçe Başlangıç Tarihiniz</span><span class="high">@Model.GeneralInfo.BaslangicTarih</span></div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="box-content-wide"><span class="sub">Poliçe Bitiş Tarihiniz</span><span class="high">@Model.GeneralInfo.BitisTarih</span></div>
                </div>
            </div>
        </div>
        <div class="container-fluid mrTop">
            <div class="row">
                <div class="col-md-12 col-lg-2">
                    <div class="selectbox-alpha">
                        <form id="form1" method="post" action="/@strUrlRoot">
                            <select name="polNo" class="selectpicker validate[required]" onchange="$('#form1').submit();">
                                @if (Model.Policies != null)
                                {
                                    foreach (var item in Model.Policies)
                                    {
                                    <option value="@KatilimEmeklilikInternetSube.Classes.Tools.cCrypto.EncryptDES(item.PoliceNo.ToString())" @(ViewBag.policyNo == item.PoliceNo ? "selected" : "")>@item.PoliceNo</option>
                                    }
                                }
                                else
                                {
                                    <option value="">Seçiniz</option>
                                }
                            </select>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row mrTop">
                <div class="col-md-12 col-lg-12">
                    <div class="table-beta">
                        <h1>Sigortalı/Faydalanan Bilgileri</h1>
                        @if (Model.Members != null)
                        {
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <td>Sigortalı/Faydalanan</td>
                                            <td>Sigortalı Numarası</td>
                                            <td>Yakınlık Derecesi</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Members)
                                        {
                                            <tr>
                                                <td>@item.AdSoyad</td>
                                                <td>@item.MusteriNo</td>
                                                <td>@item.Yakinlik</td>
                                                <td>
                                                    <a class="button-alpha pull-right" style="font-size: 19px; background-color: #4bb2e5" href="/@(strUrlRoot)/police-bilgileri?policy=@strCryptPolicyNo&cno=@KatilimEmeklilikInternetSube.Classes.Tools.cCrypto.EncryptDES(item.MusteriNo)">Poliçe Bilgileri</a>
                                                </td>
                                            </tr> 
                                        }
                                    </tbody>
                                </table>
                            </div>  
                        }
                        else
                        {
                            <label>Kayıt bulunamadı!</label>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mrTop">
            <div class="col-md-12">
                <div class="button-navigations">
                    <div class="row">
                        <div class="col-md-3 col-lg-6"><a @Html.Raw(Model.IsHaveData ? "href=\"" + strUrlRoot + "/police-detay?policy=" + strCryptPolicyNo + "\"" : "") class="button-container alpha mrTop icon-certificate">Poliçe Detay</a></div>
                        <div class="col-md-3 col-lg-6"><a @Html.Raw(Model.IsHaveData ? "href=\"" + strUrlRoot + "/odeme-bilgileri?policy=" + strCryptPolicyNo + "\"" : "") class="button-container gamma mrTop icon-moneycoins">Ödeme Bilgileri</a></div>
                        @*<div class="col-md-3 col-lg-6"><a @Html.Raw(Model.IsHaveData ? "href=\"" + strUrlRoot + "/sozlesme-indir?policy=" + strCryptPolicyNo + "\"" : "") class="button-container beta mrTop icon-pdf">Poliçe İndir</a></div>*@
                        <div class="col-md-3 col-lg-6"><a @Html.Raw(Model.IsHaveData ? "href=\"" + strUrlRoot + "/anlasmali-kurumlar?policy=" + strCryptPolicyNo + "\"" : "") class="button-container alpha mrTop icon-certificate">Anlaşmalı Kurumlar</a></div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="container-fluid mrTop no-padding">
            <div class="col-md-12 no-padding">
                <div class="carousel-alpha">
                    <div class="owl-carousel">
                        <div class="item">
                            <img src="/images/slider1.png">
                            <div class="text-content">
                                <span class="title">Yeni Hesaplı Katılım Emeklilik Planı</span>
                                <p class="text">Katılım Emeklilik’in Yeni Hesaplı Katılım Bes Planı ile huzurlu bir geleceğe ilk adımı bugün atın. Yeni Hesaplı Katılım Emeklilik Planı’na aylık 135 TL ve üzeri katkı payıyla bütçenizi zorlamadan rahatça katılabilirsiniz.</p>
                                <a href="https://www.katilimemeklilik.com.tr/bireysel-emeklilik/faizsiz-bireysel-emeklilik-planlari/yeni-hesapli-katilim-emeklilik-plani/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider2.png">
                            <div class="text-content">
                                <span class="title">Yeni Özel Katılım Emeklilik Planı</span>
                                <p class="text">Katılım Emeklilik’in Yeni Özel Katılım Bes Planı ile huzurlu bir geleceğe ilk adımı bugün atın. Yeni Özel Katılım Emeklilik Planı’na aylık 535 TL ve üzeri katkı payıyla bütçenizi zorlamadan rahatça katılabilir, emeklilik döneminiz için benzersiz bir tasarruf sağlayabilirsiniz.</p>
                                <a href="https://www.katilimemeklilik.com.tr/bireysel-emeklilik/faizsiz-bireysel-emeklilik-planlari/yeni-ozel-katilim-emeklilik-plani/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider3.png">
                            <div class="text-content">
                                <span class="title">Yeni Güzel Katılım Emeklilik Planı</span>
                                <p class="text">Katılım Emeklilik’in Yeni Güzel Katılım Bes Planı ile huzurlu bir geleceğe ilk adımı bugün atın. Yeni Güzel Katılım Emeklilik Planı’na aylık 1285 TL ve üzeri katkı payıyla katılabilir ve bugünkü refah seviyenizin gelecekte de devam etmesini sağlayabilirsiniz.</p>
                                <a href="https://www.katilimemeklilik.com.tr/bireysel-emeklilik/faizsiz-bireysel-emeklilik-planlari/yeni-guzel-katilim-emeklilik-plani/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider4.png">
                            <div class="text-content">
                                <span class="title">Faizsiz Kredi Hayat Sigortası</span>
                                <p class="text">Faizsiz Kredi Hayat Sigortası ile olası bir maluliyet ve vefat durumunda bankaya olan borcunuzdan ötürü sevdiklerinizi zor durumda bırakmazsınız. Kalan kredi tutarınız Katılım Emeklilik tarafından ödenir.</p>
                                <a href="https://www.katilimemeklilik.com.tr/hayat-sigortasi/faizsiz-kredi-hayat-sigortasi/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider5.png">
                            <div class="text-content">
                                <span class="title">Kritik Hastalıklar Sigortası</span>
                                <p class="text">Kritik Hastalıklar Sigortası ile kendinizi ve sevdiklerinizi bugünden güvence altına alın. Kalp krizi, kanser veya hastalık sonucu inme durumlarında alacağınız toplu para ile ister tedavi masraflarınızı, ister diğer giderlerinizi karşılayın. Yaşam kaybı halinde de sevdiklerinizi mağdur bırakmayın..</p>
                                <a href="https://www.katilimemeklilik.com.tr/hayat-sigortasi/kritik-hastaliklar-sigortasi/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider6.png">
                            <div class="text-content">
                                <span class="title">Eğitim Güvencesi Hayat Sigortası</span>
                                <p class="text">Katılım Emeklilik Eğitim Güvencesi Hayat Sigortası ile çocuğunuzun eğitimini, başınıza gelebilecek beklenmedik olaylara karşı güvence altına alırsınız. Çocuğunuzun eğitim hayatını aynı standartlarda sürdürmesini sağlarsınız.</p>
                                <a href="https://www.katilimemeklilik.com.tr/hayat-sigortasi/egitim-guvencesi-hayat-sigortasi/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider7.png">
                            <div class="text-content">
                                <span class="title">Tam Destek Ferdi Kaza Sigortası</span>
                                <p class="text">Tam Destek Ferdi Kaza Sigortası sayesinde trafik kazalarından düşme ve burkulmalara kadar her yerde karşılaşabileceğiniz kazalara karşı kendinizi maddi yönden güvence altına alırsınız.</p>
                                <a href="https://www.katilimemeklilik.com.tr/ferdi-kaza-sigortasi/tam-destek-ferdi-kaza-sigortasi/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider8.png">
                            <div class="text-content">
                                <span class="title">Destek Ferdi Kaza Sigortası</span>
                                <p class="text">Destek Ferdi Kaza Sigortası sayesinde trafik kazalarından düşme ve burkulmalara kadar her yerde karşılaşabileceğiniz kazalara karşı kendinizi maddi yönden güvence altına alırsınız.</p>
                                <a href="https://www.katilimemeklilik.com.tr/ferdi-kaza-sigortasi/destek-ferdi-kaza-sigortasi/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider9.png">
                            <div class="text-content">
                                <span class="title">Krediye Bağlı Ferdi Kaza Sigortası</span>
                                <p class="text">Krediye bağlı Ferdi kaza Sigortası ile olası bir kaza sonucu maluliyet ve kaza sonucu vefat durumunda bankaya olan borcunuzdan ötürü sevdiklerinizi zor durumda bırakmazsınız. Kalan kredi tutarınız Katılım Emeklilik tarafından ödenir.</p>
                                <a href="https://www.katilimemeklilik.com.tr/ferdi-kaza-sigortasi/krediye-bagli-ferdi-kaza-sigortasi/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>
