﻿@model KatilimEmeklilikInternetSube.Classes.ClassData.Health.PaymentInfo.cHealth_PaymentInfo

@{
    string strTitle = Model.PageSettings.Title;
    string strType = Model.PageSettings.Type;
    string strUrlRoot = Model.PageSettings.UrlRoot;

    ViewBag.Title = strTitle + " / Ödeme Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">
                            @if (!string.IsNullOrEmpty(Model.UrunAdi))
                            {
                                @Model.UrunAdi
                            }
                            else
                            {
                                @(strTitle)
                            }
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-person_filled"></div>
                            Ödeme Bilgileri
                        </h1>
                        <div class="table-responsive">
                            @if (Model.OdemeBilgileri != null)
                            {
                                <table class="table table-hover">
                                    <tr>
                                        <td>Ödeme Aracı</td>
                                        <td style="text-align: right">
                                            <div class="button-gamma">
                                                <input type="text" class="validate[required]" value="@Model.OdemeBilgileri.OdemeAraci" disabled />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Net Katkı Prim Tutarı</td>
                                        <td style="text-align: right">
                                            <div class="button-gamma">
                                                <input type="text" class="validate[required]" value="@(Model.OdemeBilgileri.NetPrimTutari) &#x20BA;" disabled />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ödeme Türü (Peşin/Taksit) </td>
                                        <td style="text-align: right">
                                            <div class="button-gamma">
                                                <input type="text" class="validate[required]" value="@Model.OdemeBilgileri.OdemeTuru" disabled />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            }
                            else
                            {
                                <label>Ödeme bilgileri bulunamadı!</label>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-pin"></div>
                            Bakiye İadesi Sorgulama
                        </h1>
                        <form>
                            <div class="table-responsive">
                                <label>Bakiye iadenizi sorgulamak için lütfen <a href="javascript:void(0);" onclick="ResponseSite();">buraya</a> tıklayınız.</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-pin"></div>
                            Tahsilat Makbuzu
                        </h1>
                        <form>
                            <div class="table-responsive" style="max-height: 500px; overflow-x: hidden; overflow-y: auto">
                                @if (Model.Tahsilat_Makbuzu != null)
                                {
                                    <table class="table table-hover">
                                        <tr>
                                            <td>Makbuz Basım</td>
                                            <td>Ödeme Tarihi</td>
                                            @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel || Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.OtomatikKatilim)
                                            {
                                                <td>Vade Tarihi</td>
                                            }
                                            <td>Vade Tipi</td>
                                            <td>Ödeme Tutarı</td>
                                        </tr>
                                        @foreach (var item in Model.Tahsilat_Makbuzu)
                                        {
                                            <tr>
                                                <td class="col-sm-2">
                                                    <div class="">
                                                        <a href="/@strUrlRoot/odeme-bilgileri-pdf?policy=@(KatilimEmeklilikInternetSube.Classes.Tools.QueryStrings.policyRequest)&refno=@(KatilimEmeklilikInternetSube.Classes.Tools.cCrypto.EncryptDES(item.ReferansNo))" class="button-beta">@item.ReferansNo</a>
                                                    </div>
                                                </td>
                                                <td>@item.OdemeTarihi</td>
                                                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel || Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.OtomatikKatilim)
                                                {
                                                    <td>@item.VadeTarihi</td>
                                                }
                                                <td>@item.VadeTipi</td>
                                                <td>@item.OdemeTutari &#x20BA;</td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                                    {
                                        <label>Henüz katkı payı ödemeniz gerçekleşmemiştir!</label>
                                    }
                                    else
                                    {
                                        <label>Henüz prim ödemeniz gerçekleşmemiştir!</label>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mrTop">
            <div class="col-md-12">
                <div class="button-navigations">
                    <div class="row">
                        <div class="col-md-6"><a href="/@(strUrlRoot)" class="button-container beta mrTop icon-healtcare">@(strTitle)</a></div>
                        <div class="col-md-6"><a href="/@(strUrlRoot)/police-detay?policy=@(KatilimEmeklilikInternetSube.Classes.Tools.QueryStrings.policyRequest)" class="button-container gamma mrTop icon-moneycoins">@(strTitle) Poliçe Detay</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>

@section footer
{
    @Html.Raw(ViewBag.Msg)
}