﻿@model CMS.Classes.ClassData.cDocuments
@{
    ViewBag.Title = "Dokümanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Script = ViewBag.Msg;
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">Teknik Kütüphane
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            @Model.typeName
                            <a href="javascript:void();" style="float: right; font-size:25px;" title="Bilgi" onclick="OpenHelp('documents-documents');">(i)</a>
                        </h1>
                        @if (Request.QueryString["type"] == null)
                        {
                            <div class="row">
                                <input type="button" class="button-alpha pull-right" onclick="@("location.href = '/documents/documentins?type=" + Request.QueryString["type"] + "';")" style="border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" value="Doküman Ekle" />
                            </div>
                        }
                        <form>
                            <div class="table-responsive">
                                @if (Model.documents != null && Model.documents.Count > 0)
                                { 
                                    <table class="table table-hover">
                                        <tr>
                                            <td><strong>Dosya Adı</strong> </td>
                                            <td><strong>Güncelleme Tarihi</strong></td>
                                            <td><strong>Kayıt Tarihi</strong></td>
                                            <td></td>
                                        </tr>
                                        @foreach (var item in Model.documents)
                                        { 
                                            <tr>
                                                <td>@item.strName</td>
                                                <td>@(item.dtUpdateDate.HasValue ? item.dtUpdateDate.Value.ToShortDateString() : "")</td>
                                                <td>@item.dtRegisterDate.ToShortDateString()</td>
                                                <td style="text-align:right;"> 
                                                    <a style="padding:0px 10px 0px 10px" href="@(System.Configuration.ConfigurationManager.AppSettings["DocumentSrc"] + item.strFile)" class="button-beta">İndir</a>
                                                    <a style="padding:0px 10px 0px 10px" href="/documents/documentins?type=@Request.QueryString["type"]&i=@item.intDocumentID" class="button-beta">Güncelle</a>
                                                    <a style="padding:0px 10px 0px 10px" onclick="Delete('@item.intDocumentID');" href="javascript:void(0);" class="button-beta">Sil</a>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                    
                                        if (ViewBag.intCount > 1)
                                        {
                                    <ul class="pagination">
                                        @Web.Paging.pageLinks(Request.Url.AbsolutePath + (Request.QueryString["type"] != null ? "?type=" + Request.QueryString["type"] : ""), CMS.Classes.Tools.QueryStrings.page, ViewBag.intCount)
                                    </ul>
                                        }
                                }
                                else
                                {
                                    <label>Doküman bulunamadı!</label>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Delete(i) {
        if (confirm('Dokümanı silmek istediğinize emin misiniz?')) {
            location.href = '/documents/documents?type=@(Request.QueryString["type"])&i=' + i;
        }
    };
</script>
