﻿@model CMS.Models.tblCmsDocumentTypes
@{
    ViewBag.Title = "Kriter Ekle/Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Script = ViewBag.Msg;
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">Teknik Kütüphane
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>Kriter Ekle/Güncelle
                             <a href="javascript:void();" style="float: right; font-size:25px;" title="Bilgi" onclick="OpenHelp('documents-documenttypes');">(i)</a>
                        </h1>
                        <form action="@Request.Url.PathAndQuery" method="post">
                            <div class="table-responsive" style="overflow: hidden">
                                <table class="table table-hover">
                                    <tr>
                                        <td>Kriter Adı</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <input type="text" id="name" name="name" value="@(string.IsNullOrEmpty(ViewBag.name) ? (Model != null ? Model.strName : "") : ViewBag.name)" autocomplete="off" maxlength="50" style="border: solid 1px #ddd; padding: 5px; width: 250px" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <input type="submit" onclick="return SubmitBtn();" class="button-alpha pull-right" value="Kaydet" style="margin-left: 20px; width: 120px; border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" />
                                <input type="button" onclick="location.href = '/documents/documenttypes';" class="button-alpha pull-right" value="İptal" style="width: 120px; border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function SubmitBtn() {
        if ($('#name').val() == '') {
            MsgOpen('Kriter adını giriniz!', 'warning');
            return false;
        }
        return true;
    };
</script>
