﻿@model List<CMS.Models.tblCmsDocumentTypes>
@{
    ViewBag.Title = "Kriterler";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Script = ViewBag.Msg;
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">Teknik Kütüphane
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>Kriterler
                             <a href="javascript:void();" style="float: right; font-size:25px;" title="Bilgi" onclick="OpenHelp('documents-documenttypes');">(i)</a>
                        </h1>
                        <div class="row">
                            <input type="button" class="button-alpha pull-right" onclick="location.href = '/documents/documenttypeadd';" style="border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" value="Kriter Ekle" />
                        </div>
                        <form>
                            <div class="table-responsive">
                                @if (Model != null && Model.Count > 0)
                                { 
                                    <table class="table table-hover">
                                        <tr>
                                            <td><strong>Adı</strong> </td>
                                            <td><strong>Kayıt Tarihi</strong></td>
                                            <td></td>
                                        </tr>
                                        @foreach (var item in Model)
                                        { 
                                            <tr>
                                                <td>@item.strName</td>
                                                <td>@item.dtRegisterDate.ToShortDateString()</td>
                                                <td>
                                                    <a style="padding:0px 10px 0px 10px" href="/documents/documenttypeadd?i=@item.intDocumentTypeID" class="button-beta">Güncelle</a>
                                                    <a style="padding:0px 10px 0px 10px" onclick="Delete('@item.intDocumentTypeID');" href="javascript:void(0);" class="button-beta">Sil</a>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                    
                                        if (ViewBag.intCount > 1)
                                        {
                                    <ul class="pagination">
                                        @Web.Paging.pageLinks(Request.Url.AbsolutePath, CMS.Classes.Tools.QueryStrings.page, ViewBag.intCount)
                                    </ul>
                                        }
                                }
                                else
                                {
                                    <label>Kriter bulunamadı!</label>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Delete(i) {
        if (confirm('Kriteri silmek istediğinize emin misiniz?')) {
            location.href = '/documents/documenttypes?i=' + i;
        }
    };
</script>
