.-darkblue {
  width: 100%;
  color: #164193;
}

.-lightblue {
  width: 100%;
  color: #47b1e5;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper_title {
  width: 351px;
  height: 52px;
  font-family: 'klavika';
  font-size: 44px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: -1.6px;
  text-align: center;
  color: #164193;
}

.wrapper_green {
  padding: 30px 0 23px;
  width: 102px;
  height: 102px;
}

.wrapper_content {
  width: 436px;
  height: 109px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: grey;
}

.wrapper-top {
  display: flex;
  flex-direction: column;
}

.wrapper-bottom-right {
  width: 100%;
}

.page_main-context {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px 15px;
  font-size: 26px;
  letter-spacing: -1.2px;
  line-height: 1.13;
  font-weight: bold;
}

.page_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 15px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border-radius: 25px;
  border: none;
  white-space: nowrap;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.page_button:focus {
  outline: none;
}

.page_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(123deg, #fdfdfc, #efddec 55%, #d6d7ea);
}

.page_content div {
  padding: 30px 15px;
}

.page_content img {
  display: none;
  width: auto;
  height: 100%;
}

.page_content_text {
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  line-height: 25.6px;
  line-height: 1.6rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.81;
  color: #6a778c;
}

.page_title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 32px;
  line-height: 2rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #164193;
}

.page_title.-mobile-margin-top {
  margin-top: 40px;
}

.page_title.-nopadding {
  padding-top: 0;
}

.page_table {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #f6f5f5, #f7f7f7);
}

.page_table_content {
  display: flex;
  flex-direction: column;
  margin: 30px 15px;
}

.page_table_title {
  display: none;
}

.page_table_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
  background-image: linear-gradient(95deg, #f50c65, #008ed4);
}

.page_table_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_table_item_name {
  font-size: 16px;
  font-size: 1rem;
  line-height: 25.6px;
  line-height: 1.6rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #ffffff;
  letter-spacing: -0.5px;
}

.page_table_item_number {
  font-weight: bold;
  color: #ffffff;
}

.page_table_footnote {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 19.2px;
  line-height: 1.2rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #6a778c;
  padding: 0 20px 20px;
}

.page_group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ffffff;
}

.page_group_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
}

.page_group_left_age {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 32px;
  line-height: 2rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #164193;
  font-weight: bold;
}

.page_group_left_text {
  font-size: 16px;
  font-size: 1rem;
  line-height: 25.6px;
  line-height: 1.6rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #47b1e5;
  font-weight: bold;
}

.page_group_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
}

.page_group_right_text {
  font-size: 16px;
  font-size: 1rem;
  line-height: 25.6px;
  line-height: 1.6rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #164193;
}

.page_group_right_number {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 32px;
  line-height: 2rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #47b1e5;
  font-weight: bold;
}

.page_contract {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  background-image: linear-gradient(to bottom, #f6f5f5, #f7f7f7);
}

.page_contract_item {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  color: #6a778c;
}

.page_contract_item_input {
  opacity: 0;
}

.page_contract_item_input:checked ~ label:after {
  display: flex;
  background-color: #ffffff;
}

.page_contract_item_input:checked ~ label:before {
  background-color: #ffffff;
}

.page_contract_item_text {
  position: relative;
  font-weight: 400;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 20.8px;
  line-height: 1.3rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 2;
}

.page_contract_item_text:before {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  content: '';
  margin: 0 15px 10px 0;
  width: 40px;
  height: 40px;
  float: left;
  background: #ffffff;
}

.page_contract_item_text:after {
  content: '';
  display: none;
  margin-right: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  left: 12px;
  top: 12px;
  width: 15px;
  height: 8px;
  color: #47b1e5;
  border: 4px solid;
  border-width: 0 0 3px 3px;
}

.page_contract_item_text.-margin:before {
  margin-bottom: 230px;
}

.page_contract_item_link {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22.4px;
  line-height: 1.4rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 2;
  font-weight: bold;
  color: #6a778c;
  cursor: pointer;
}

.footer_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 15px;
}

.footer_top_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.footer_top_content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 17.6px;
  line-height: 1.1rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #6a778c;
}

.footer_top_img {
  padding-right: 5px;
  padding-left: 5px;
}

.footer_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer_bottom_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_bottom_text {
  padding-bottom: 10px;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 17.6px;
  line-height: 1.1rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #6a778c;
}

.footer_bottom_gri {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.-space {
  padding-right: 5px;
}

.-bluebtn {
  background-image: linear-gradient(to right, #084496, #008ed4);
}

.-whitebtn {
  color: #47b1e5;
  background-color: #ffffff;
}

.gradientbtn {
  background-image: linear-gradient(to right, #f50c65, #008ed4);
}

.-row {
  flex-direction: row;
}

.-left {
  display: flex;
  justify-content: flex-start;
}

.-hr {
  border-bottom: 1px solid #e6e1dc;
}

.-righthr {
  border-right: 1px solid #e6e1dc;
}

@media only screen and (min-width: 768px) {
  .wrapper-top {
    flex-direction: row;
    min-height: 650px;
  }

  .page_main-context {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 60px 0 60px;
    width: 355px;
    min-width: 355px;
    font-size: 40px;
    text-align: left;
    border-right: 1px solid #e6e1dc;
  }

  .page_button {
    margin-top: 35px;
    padding: 15px 40px;
  }

  .page_content {
    flex-grow: 1;
  }

  .page_content div {
    padding: 80px 0  0 80px;
  }

  .page_content_text {
    text-align: left;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 28.8px;
    line-height: 1.8rem;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    max-width: 400px;
  }

  .page_title {
    padding: 50px 0 20px 0;
    justify-content: flex-start;
    text-align: left;
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 48px;
    line-height: 3rem;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
  }

  .page_title.-mobile-margin-top {
    margin-top: 0;
  }

  .page_table {
    padding: 0 80px;
  }

  .page_table_footnote {
    margin: 0 0 40px 18px;
    padding: 0;
  }

  .page_contract {
    padding: 10px 80px;
  }

  .page_contract_item_link {
    font-size: 16px;
    font-size: 1rem;
    line-height: 25.6px;
    line-height: 1.6rem;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    cursor: pointer;
  }

  .footer_top_logo {
    padding: 30px;
  }

  .footer_bottom {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 60px;
  }

  .footer_bottom_contact {
    flex-direction: row;
  }

  .footer_bottom_text {
    padding: 0;
  }

  .footer_bottom_text:first-child {
    padding-right: 40px;
  }

  .footer_bottom_gri {
    padding: 0;
  }

  .gradientbtn {
    padding: 25px 40px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .page_contract_item_text.-margin:before {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1248px) {
  .page_contract_item_text {
    font-size: 16px;
    font-size: 1rem;
    line-height: 25.6px;
    line-height: 1.6rem;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
  }

  .footer_top {
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 60px;
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 1380px) {
  .page_content img {
    display: block;
  }
}

/*# sourceMappingURL=home.css.map */
