.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  background-image: linear-gradient(to right, #f50c65, #008ed4);
}

.header_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  border: solid 1px #e6e1dc;
  border-radius: 17px;
  cursor: pointer;
}

.header_button_link {
	text-decoration: none;
	color: #ffffff;
}

.header_button:focus {
  outline: none;
  border: solid 1px #e6e1dc;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  background-image: linear-gradient(to bottom, #f6f5f5, #f7f7f7);
}

.form_group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form_item {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 10px;
}

.form_item.-part {
  display: flex;
  flex-direction: column;
}

.form_item_name {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22.4px;
  line-height: 1.4rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #6a778c;
  font-weight: bold;
  padding-bottom: 5px;
}

.form_item_data,.form_item_half {
  padding: 10px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 32px;
  line-height: 2rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #6a778c;
  opacity: 0.67;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 8px 13px 0 rgba(22, 65, 147, 0.02);
}

.form_item_data select::-ms-expand,.form_item_half select::-ms-expand {
  display: none;
}

.form_item_data:focus,.form_item_half:focus {
  outline: 0;
  border: none;
}

.form_item_data {
  width: 100%;
}

.form_item_half {
  display: flex;
  width: 50%;
}

.form_item_half:first-child {
  margin-right: 10px;
}

.form .-select {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 32px;
  line-height: 2rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #6a778c;
  opacity: 0.67;
  border: none;
  background-color: #ffffff;
}

.form .selectbox {
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 32px;
  line-height: 2rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #6a778c;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  outline: none;
  outline-style: none;
}

.form .selectbox option {
  border: none;
  outline: 0;
}

.form .selectbox option:hover .-icon:after,.form .selectbox option:active .-icon:after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.form_bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 15px;
}

.-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 9px;
  right: 8px;
  width: 35px;
  height: 35px;
}

.-icon:after {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #47b1e5;
  content: ">";
  font-size: 30px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  height: 30px;
  line-height: 30px;
  font-family: monospace;
  text-decoration: none;
}

.page_contract {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  background-image: linear-gradient(to bottom, #f6f5f5, #f7f7f7);
}

.page_contract_item {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  color: #6a778c;
}

.page_contract_item-kvkk {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  color: #6a778c;
  max-height: 20px;
}

.page_contract_item_input {
  opacity: 0;
}

.page_contract_item_input:checked ~ label:after {
  display: flex;
  background-color: #ffffff;
}

.page_contract_item_input:checked ~ label:before {
  background-color: #ffffff;
}

.page_contract_item_text {
  position: relative;
  font-weight: 400;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 20.8px;
  line-height: 1.3rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 2;
}

.page_contract_item_text:before {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  content: '';
  margin: 0 15px 50px 0;
  width: 40px;
  height: 40px;
  float: left;
  background: #ffffff;
}

.page_contract_item_text:after {
  content: '';
  display: none;
  margin-right: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  left: 12px;
  top: 12px;
  width: 15px;
  height: 8px;
  color: #47b1e5;
  border: 4px solid;
  border-width: 0 0 3px 3px;
}

.page_contract_item_link {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22.4px;
  line-height: 1.4rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 2;
  font-weight: bold;
  color: #6a778c;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.recaptcha-notification {
  font-family: 'Roboto', sans-serif;
  padding: 10px 0;
  font-size: 14px;
  color: red;
}

.recaptcha-notification.-hidden {
  display: none;
}

.page_contract_item_link {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  cursor: pointer;
  width: 200px;
  height: 45px;
  line-height: 45px;
  border-radius: 3px;
  text-align: center;
  display: block;
  font-family: arial;
  color: #fff;
  margin: 50px auto 0 auto;
  background-color: #00aced;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal__frame {
  border: none;
  width: 100%;
  height: 358px;
}

.modal__checkbox {
  display: none;
}

.modal__checkbox:checked + .modal {
  display: flex;
}

.modal__backdrop {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 10;
  -webkit-animation: animation 1.5s linear both;
  animation: animation 1.5s linear both;
}

.modal__image {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 10px;
  z-index: 10;
  -webkit-animation: zoom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: zoom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.modal__image img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.modal__video {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 10px;
  z-index: 10;
  -webkit-animation: zoom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: zoom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.modal__video .video-player {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  height: auto;
}

.modal__video .video-player video {
  width: 100%;
  max-width: 700px;
}

.modal__close {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
  cursor: pointer;
  font-family: arial;
  color: #ffffff;
}

.modal__close.outside {
  margin: 0 0 10px 0;
}

@font-face {
  font-family:"klavika";font-style:normal;font-weight:500;src:url("/kadincaguven/assets/font/klavika-webfont.woff2") format("woff2"), url("/kadincaguven/assets/font/klavika-webfont.woff") format("woff");
}

@font-face {
  font-family:"klavika_bold";font-style:normal;font-weight:500;src:url("/kadincaguven/assets/font/klavika_bold-webfont.woff2") format("woff2"), url("/kadincaguven/assets/font/klavika_bold-webfont.woff") format("woff");
}

@font-face {
  font-family:"klavika_italic";font-style:normal;font-weight:500;src:url("/kadincaguven/assets/font/klavika_italic-webfont.woff2") format("woff2"), url("/kadincaguven/assets/font/klavika_italic-webfont.woff") format("woff");
}

@font-face {
  font-family:"klavika_light";font-style:normal;font-weight:500;src:url("/kadincaguven/assets/font/klavika_light-webfont.woff2") format("woff2"), url("/kadincaguven/assets/font/klavika_light-webfont.woff") format("woff");
}

@font-face {
  font-family:"klavika_medium";font-style:normal;font-weight:500;src:url("/kadincaguven/assets/font/klavika_medium-webfont.woff2") format("woff2"), url("/kadincaguven/assets/font/klavika_medium-webfont.woff") format("woff");
}

@font-face {
  font-family:"roboto";font-style:normal;font-weight:500;src:url("/kadincaguven/assets/font/roboto-v18-latin-regular.woff2") format("woff2"), url("/kadincaguven/assets/font/roboto-v18-latin-regular.woff") format("woff");
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 12px 60px;
  }

  .form {
    padding: 20px 80px;
  }

  .form_item.-part {
    flex-direction: row;
  }

  .form_item_part:first-child {
    padding-right: 10px;
  }

  .form_item_name {
    padding-bottom: 15px;
  }

  .form_item_data,.form_item_half {
    padding: 10px;
  }

  .form_item_half.-end {
    width: 100%;
  }

  .page_contract {
    padding: 10px 80px;
  }

  .page_contract_item_text {
    font-size: 16px;
    font-size: 1rem;
    line-height: 25.6px;
    line-height: 1.6rem;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
  }

  .page_contract_item_link {
    font-size: 16px;
    font-size: 1rem;
    line-height: 25.6px;
    line-height: 1.6rem;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1248px) {
  .form_group {
    flex-direction: row;
  }

  .form_item {
    flex-grow: 1;
    padding-right: 40px;
    padding-bottom: 30px;
  }

  .form_item_data {
    max-width: 420px;
    min-width: 300px;
  }

  .form_item_half {
    flex-grow: 0;
    max-width: 130px;
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  4.7% {
    -webkit-transform: matrix3d(0.659, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.659, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  5.71% {
    -webkit-transform: matrix3d(0.688, 0, 0, 0, 0, 0.776, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.688, 0, 0, 0, 0, 0.776, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  9.41% {
    -webkit-transform: matrix3d(0.779, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.779, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  11.31% {
    -webkit-transform: matrix3d(0.818, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.818, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  14.11% {
    -webkit-transform: matrix3d(0.865, 0, 0, 0, 0, 1.07, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.865, 0, 0, 0, 0, 1.07, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  17.02% {
    -webkit-transform: matrix3d(0.905, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.905, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  18.72% {
    -webkit-transform: matrix3d(0.923, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.923, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  22.62% {
    -webkit-transform: matrix3d(0.957, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.957, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  24.32% {
    -webkit-transform: matrix3d(0.968, 0, 0, 0, 0, 1.075, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.968, 0, 0, 0, 0, 1.075, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  28.33% {
    -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 1.038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.986, 0, 0, 0, 0, 1.038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  29.93% {
    -webkit-transform: matrix3d(0.992, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.992, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  33.93% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.001, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  35.54% {
    -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.003, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  41.04% {
    -webkit-transform: matrix3d(1.008, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.008, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  45.15% {
    -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.009, 0, 0, 0, 0, 0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  52.15% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.007, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  63.26% {
    -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  72.57% {
    -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.002, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  85.49% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  4.7% {
    -webkit-transform: matrix3d(0.659, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.659, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  5.71% {
    -webkit-transform: matrix3d(0.688, 0, 0, 0, 0, 0.776, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.688, 0, 0, 0, 0, 0.776, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  9.41% {
    -webkit-transform: matrix3d(0.779, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.779, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  11.31% {
    -webkit-transform: matrix3d(0.818, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.818, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  14.11% {
    -webkit-transform: matrix3d(0.865, 0, 0, 0, 0, 1.07, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.865, 0, 0, 0, 0, 1.07, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  17.02% {
    -webkit-transform: matrix3d(0.905, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.905, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  18.72% {
    -webkit-transform: matrix3d(0.923, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.923, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  22.62% {
    -webkit-transform: matrix3d(0.957, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.957, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  24.32% {
    -webkit-transform: matrix3d(0.968, 0, 0, 0, 0, 1.075, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.968, 0, 0, 0, 0, 1.075, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  28.33% {
    -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 1.038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.986, 0, 0, 0, 0, 1.038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  29.93% {
    -webkit-transform: matrix3d(0.992, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.992, 0, 0, 0, 0, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  33.93% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.001, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  35.54% {
    -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.003, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  41.04% {
    -webkit-transform: matrix3d(1.008, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.008, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  45.15% {
    -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.009, 0, 0, 0, 0, 0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  52.15% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.007, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  63.26% {
    -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  72.57% {
    -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.002, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  85.49% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/*# sourceMappingURL=main.css.map */
.overflow-scroll {
	overflow: scroll;
}
