.pay-complated {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 60px);
  background: #f6f5f5;
}

.pay-complated__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  width: 100%;
  max-width: 700px;
}

.pay-complated__title {
  width: 100%;
  font-family: 'klavika';
  text-align: center;
  color: #164193;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 2.25rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-weight: 600;
}

.pay-complated__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  margin: 25px 0;
  border-radius: 50%;
  overflow: hidden;
  background: #00c47b;
}

.pay-complated__desc {
  width: 100%;
  font-family: 'klavika';
  text-align: center;
  color: grey;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
}

@media only screen and (min-width: 768px) {
  .pay-complated__title {
    font-size: 44px;
    font-size: 2.75rem;
    line-height: 50px;
    line-height: 3.125rem;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
  }

  .pay-complated__icon {
    width: 105px;
    height: 105px;
  }

  .pay-complated__desc {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 26px;
    line-height: 1.625rem;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
  }
}

/*# sourceMappingURL=pay-complated.css.map */
