.container_two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 15px;
  background-image: linear-gradient(to bottom, #f6f5f5, #f7f7f7);
  border-bottom: none;
}

.container_four {
  display: flex;
  background-image: linear-gradient(to bottom, #f6f5f5, #f7f7f7);
}

.container_five {
  min-height: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
}

.header {
  justify-content: center;
}

.header_button {
  display: none;
}

.form_group:last-child {
  justify-content: space-between;
}

.form_item:last-child {
  padding-right: 0;
}

.page_title {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 32px;
  line-height: 2rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #164193;
}

.page_content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 25.6px;
  line-height: 1.6rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.56;
  color: #6a778c;
}

.page_main-context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 48px;
  line-height: 3rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  letter-spacing: -1.2px;
  line-height: 1.13;
  font-weight: bold;
  color: #164193;
}

.page_tab {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px 15px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22.4px;
  line-height: 1.4rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-weight: bold;
  color: #47b1e5;
  background-color: #ffffff;
  cursor: pointer;
}

.page_tab:first-child {
  margin-right: 15px;
}

.page_option {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  width: 100%;
}

.page_option input {
  display: none;
}

.page_option input:checked + .page_option_item .page_option_radio_label:before {
  border: 1px solid #979797;
}

.page_option input:checked + .page_option_item .page_option_radio_label:after {
  display: flex;
}

.page_option input:checked + .page_option_item {
  color: #47b1e5;
  border: 1px solid #164193;
}

.page_option input:checked + .page_option_item .page_option_radio_label {
  color: #164193;
}

.page_option input:checked + .page_option_item .page_option_number {
  color: #47b1e5;
}

.page_option_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 35px;
  width: 100%;
  background-color: #ffffff;
}

.page_option_item div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.page_option_radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_option_radio_label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  font-weight: bold;
  font-size: 20pxpx;
  font-size: 1.25pxrem;
  line-height: 32pxpx;
  line-height: 2pxrem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #47b1e5;
  cursor: pointer;
}

.page_option_radio_label:before {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  content: '';
  margin-right: 10px;
  margin-bottom: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  float: left;
  background-color: #fff;
}

.page_option_radio_label:after {
  content: '';
  display: none;
  margin-right: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  left: 1px;
  top: 1px;
  width: 12px;
  height: 12px;
  border: 6px solid #fff;
  border-width: 4px;
  border-radius: 100%;
  color: #fff;
  background-color: #00609d;
}

.page_option_radio_note {
  padding-left: 20px;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 19.2px;
  line-height: 1.2rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #6a778c;
}

.page_option_number {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 38.4px;
  line-height: 2.4rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #6a778c;
  font-weight: bold;
}

.page_recaptcha {
  display: flex;
  justify-content: center;
  min-width: 300px;
  min-height: 75px;
  width: 300px;
  height: 75px;
  border: 1px solid gray;
}

.page_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 20px 100px;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border-radius: 33px;
  cursor: pointer;
}

.-hr {
  border-bottom: 1px solid #e6e1dc;
}

.gradientbtn {
  background-image: linear-gradient(to right, #f50c65, #008ed4);
}

.-tab-passive {
  color: #6a778c;
}

.-tab-active {
  color: #47b1e5;
}

@media only screen and (min-width: 768px) {
  .container_two {
    justify-content: center;
    padding: 50px 250px;
  }

  .container_four {
    padding: 30px 200px;
  }

  .container_five {
    flex-direction: column;
  }

  .header {
    padding: 20px;
  }

  .form {
    padding: 80px 100px;
  }

  .page_content {
    margin: 0;
    padding: 30px 60px;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 32px;
    line-height: 2rem;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
  }

  .page_main-context {
    margin: 0;
    padding-top: 30px;
    font-size: 44px;
    font-size: 2.75rem;
    line-height: 70.4px;
    line-height: 4.4rem;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
  }

  .page_option_item div {
    flex-direction: row;
  }

  .page_option_radio {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .container_five {
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 200px;
  }

  .page_tab {
    padding: 15px 80px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 28.8px;
    line-height: 1.8rem;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    min-width: 200px;
  }

  .page_button {
    padding: 20px 130px;
  }
}

@media only screen and (min-width: 1248px) {
  .form {
    padding: 80px 200px;
  }

  .page_tab {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 35.2px;
    line-height: 2.2rem;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
  }
}

/*# sourceMappingURL=payment.css.map */
