.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 6px;
}

.modal__close {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #6a778c;
  cursor: pointer;
}

.modal_title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 0 10px 0;
  color: #164193;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 48px;
  line-height: 3rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-weight: bold;
}

.modal-icon-error {
  display: none;
}

.modal.-error .modal-icon-error {
  display: block;
}

.modal-icon-success {
  display: none;
}

.modal.-success .modal-icon-success {
  display: block;
}

.modal_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c47b;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.modal.-success .modal_circle {
  background-color: #00c47b;
}

.modal.-error .modal_circle {
  background-color: #ea0c0c;
}

.modal_circle svg {
  width: 32px;
  height: auto;
}

.modal_content {
  display: flex;
  text-align: center;
  padding-top: 0;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 44.8px;
  line-height: 2.8rem;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #000;
  max-width: 400px;
}

.popup-input {
  display: flex;
  opacity: 0;
  visibility: hidden;
}

.popup-input:checked + .modal {
  display: flex;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=successful.css.map */
