﻿@model KatilimEmeklilikInternetSube.Classes.ClassData.PolicyDetail.cPolicyDetail

@{
    string strTitle = Model.PageSettings.Title;
    string strUrlRoot = Model.PageSettings.UrlRoot;

    ViewBag.Title = strTitle + " / Poliçe Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">
                            @if (Model.PoliceBilgileri != null)
                            {
                                @Model.PoliceBilgileri.UrunAdi
                            }
                            else
                            {
                                @(strTitle)
                            }
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-idCard"></div>
                            Poliçe Bilgileri
                    </h1>
                        <div class="table-responsive">
                            @if (Model.PoliceBilgileri != null)
                            {
                                <table class="table table-hover">
                                    <tr>
                                        <td>Poliçe No / Katılım Sertifikası No</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.PoliceNo_SertifikaNo</td>
                                    </tr>
                                    <tr>
                                        <td>Sigortalı Katılım Emeklilik Müşteri No</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.SigortaliKatilimEmeklilikMusteriNo</td>
                                    </tr>
                                    <tr>
                                        <td>Sigortalı</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.Sigortali</td>
                                    </tr>
                                    <tr>
                                        <td>Sigortalı TC Kimlik No</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.SigortaliTCKimlikNo</td>
                                    </tr>
                                    <tr>
                                        <td>Katılımcı (Prim Ödeyen)</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.Odeyen</td>
                                    </tr>
                                    <tr>
                                        <td>Katılımcı (Prim Ödeyen) TC Kimlik No</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.OdeyenTCKimlikNo</td>
                                    </tr>
                                    <tr>
                                        <td>Ürün Adı</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.UrunAdi</td>
                                    </tr>
                                    <tr>
                                        <td>Başlangıç Tarihi</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.BaslangicTarihi</td>
                                    </tr>
                                    <tr>
                                        <td>Bitiş Tarihi</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.BitisTarihi</td>
                                    </tr>
                                    <tr>
                                        <td>Ödeme Periyodu</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.OdemePeriyodu</td>
                                    </tr>
                                    <tr>
                                        <td>Toplam Katkı Primi Tutarı</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.ToplamPrimTutari &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td>Toplam Kalan Katkı Primi Tutarı</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.ToplamKalanPrimTutari &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td>Ödeme Aracı</td>
                                        <td style="text-align:right">@Model.PoliceBilgileri.OdemeAraci</td>
                                    </tr>
                                </table>
                            }
                            else
                            {
                                <label>Poliçe bilgileri bulunamadı!</label>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-paperpen"></div>
                            Lehtarlar
                    </h1>
                        <form>
                            <div class="table-responsive">
                                @if (Model.VefatDurumundaLehtarlar != null)
                                {
                                    <table class="table table-hover">
                                        <tr>
                                            <td>Ad Soyad</td>
                                            <td style="text-align:right">Oran</td>
                                        </tr>
                                        @foreach (var item in Model.VefatDurumundaLehtarlar)
                                        {
                                            <tr>
                                                <td>@item.AdSoyad</td>
                                                <td style="text-align:right">% @item.Oran</td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <label>Lehtar tanımı yapılmamıştır!</label>
                                }
                            </div>
                        </form>
                    </div>
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-paperpen"></div>
                            Teminat Bilgileri
                    </h1>
                        <form>
                            <div class="table-responsive">
                                @if (Model.TeminatBilgileri != null)
                                {
                                    <table class="table table-hover">
                                        <tr>
                                            <td>Teminat Adı</td>
                                            <td style="text-align:right">Bedel</td>
                                        </tr>
                                        @foreach (var item in Model.TeminatBilgileri)
                                        {
                                            <tr>
                                                <td>@item.TeminatAd</td>
                                                <td style="text-align:right">@item.Bedel &#x20BA;</td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <label>Teminat bilgileri bulunamadı!</label>
                                }
                            </div>
                        </form>
                    </div>
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-payment"></div>
                            Ödeme Detay Bilgileri (&#x20BA;)
                    </h1>
                        <div class="table-responsive">
                            @if (Model.OdemeDetayBilgileri != null)
                            {
                                <table class="table table-hover">
                                    <tr>
                                        <td>Toplam Ödeme Tutarı</td>
                                        <td style="text-align:right">@Model.OdemeDetayBilgileri.ToplamOdemeTutari &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td>Vekalet Ücreti</td>
                                        <td style="text-align:right">@Model.OdemeDetayBilgileri.KesintilerToplami &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left:40px!important">Gider Payı</td>
                                        <td style="text-align:right">@Model.OdemeDetayBilgileri.IdariMasrafKesintisi &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left:40px!important">Aracı Komisyonları</td>
                                        <td style="text-align:right">@Model.OdemeDetayBilgileri.KomisyonKesintisi &#x20BA;</td>
                                    </tr>
                                     <tr>
                                        <td style="padding-left:40px!important">Vergi Kesintisi</td>
                                        <td style="text-align:right">@Model.OdemeDetayBilgileri.VergiTutar &#x20BA;</td>
                                    </tr>
                                </table>
                            }
                            else
                            {
                                <label>Henüz prim ödemeniz gerçekleşmemiştir!</label>
                            }
                        </div>
                    </div>
                    @* <div class="table-alpha">
                        <h1>
                            <div class="icon icon-doubleIdCard"></div>
                            Aracı Bilgileri
                    </h1>
                        <div class="table-responsive">
                            @if (Model.AraciBilgileri != null)
                            {
                                <table class="table table-hover">
                                    <tr>
                                        <td>Dağıtım Kanalı</td>
                                        <td>@Model.AraciBilgileri.DagitimKanali</td>
                                    </tr>
                                    <tr>
                                        <td>Sicil No</td>
                                        <td>@Model.AraciBilgileri.SicilNo</td>
                                    </tr>
                                    <tr>
                                        <td>Ad Soyad</td>
                                        <td>@Model.AraciBilgileri.AdSoyad</td>
                                    </tr>
                                    <tr>
                                        <td>Telefon</td>
                                        <td>@Model.AraciBilgileri.Telefon</td>
                                    </tr>
                                    <tr>
                                        <td>E-Posta</td>
                                        <td>@Model.AraciBilgileri.EPosta</td>
                                    </tr>
                                </table>
                            }
                            else
                            {
                                <label>Kayıt bulunamadı!</label>
                            }
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="container-fluid mrTop">
            <div class="col-md-12">
                <div class="button-navigations">
                    <div class="row">
                        <div class="col-md-6"><a href="/@(strUrlRoot)" class="button-container beta mrTop icon-healtcare">@(strTitle)</a></div>
                        <div class="col-md-6"><a href="/@(strUrlRoot)/odeme-bilgileri?policy=@(KatilimEmeklilikInternetSube.Classes.Tools.QueryStrings.policyRequest)" class="button-container gamma mrTop icon-moneycoins">@(strTitle) Ödeme Bilgileri</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>
