﻿@model List<CMS.Models.tblBalanceReturns>
@{
    ViewBag.Title = "Poliçeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Script = ViewBag.Msg;

    string strQuery = "";
    if (!string.IsNullOrEmpty(Request.QueryString["type"]))
    {
        strQuery = "?type=" + Request.QueryString["type"];
    }

    if (!string.IsNullOrEmpty(Request.QueryString["statuscode"]))
    {
        strQuery += (strQuery == "" ? "?" : "&") + "statuscode=" + Request.QueryString["statuscode"];
    }

    if (!string.IsNullOrEmpty(Request.QueryString["tckn"]))
    {
        strQuery += (strQuery == "" ? "?" : "&") + "tckn=" + Request.QueryString["tckn"];
    }
    
    if (!string.IsNullOrEmpty(Request.QueryString["policyno"]))
    {
        strQuery += (strQuery == "" ? "?" : "&") + "policyno=" + Request.QueryString["policyno"];
    }
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">Bakiye İade Sorgulama
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>Poliçeler
                             <a href="javascript:void();" style="float: right; font-size: 16px;" title="Bilgi" onclick="OpenHelp('settings-users');">(i)</a>
                        </h1>
                        <div class="row">
                            <form id="formSearch" method="get" action="@Request.Url.AbsolutePath">
                                <div class="col-md-12 col-lg-12">
                                    <select id="type" name="type" class="selectpicker" data-width="130px">
                                        <option value="">Türü</option>
                                        <option @(Request.QueryString["type"] == "G" ? "selected" : "") value="G">Gerçek Kişi</option>
                                        <option @(Request.QueryString["type"] == "T" ? "selected" : "") value="T">Tüzel Kişi</option>
                                    </select>
                                    <select id="statuscode" name="statuscode" class="selectpicker" data-width="115px">
                                        <option value="">Durum Kodu</option>
                                        <option @(Request.QueryString["statuscode"] == "GON" ? "selected" : "") value="GON">GON</option>
                                        <option @(Request.QueryString["statuscode"] == "ODN" ? "selected" : "") value="ODN">ODN</option>
                                    </select>
                                    <input type="text" id="tckn" name="tckn" placeholder="Kimlik Numarası" style="height: 33px;" value="@Request.QueryString["tckn"]" />
                                    <input type="text" id="policyno" name="policyno" placeholder="Poliçe No" style="width:120px; height: 33px;" value="@Request.QueryString["policyno"]"  />
                                    <input type="hidden" id="statussave" name="statussave" value="" />
                                    <input type="submit" class="button-alpha pull-right" style="background-color: #4bb2e5; margin: 0 25px; height: 35px; max-width: 60px !important; border: none; line-height: 24px; font-size: 16px; background-color: #4bb2e5" value="Ara" />
                                </div>
                            </form>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <form method="post" action="/balancereturn/query">
                                <input type="hidden" id="statusall" name="statusall" value="" />
                                <input type="submit" onclick="return StatusSave();" class="button-alpha pull-left" style="background-color: #4bb2e5; margin: 0 15px; max-width: 227px !important; border: none; line-height: 24px; font-size: 16px; background-color: #4bb2e5" value="İşaretlileri Ödendi Olarak İşaretle" />
                            </form>

                            <input type="button" onclick="SearchStatusSave();" class="button-alpha pull-left" style="background-color: #4bb2e5; margin: 0 15px; max-width: 294px !important; border: none; line-height: 24px; font-size: 16px; background-color: #4bb2e5" value="Aramadaki Kayıtları Ödendi Olarak İşaretle" />
                            <input type="button" class="button-alpha pull-right" onclick="location.href = '/balancereturn/queryinsupd?type=excel';" style="background-color: #4bb2e5; margin: 0 15px; max-width: 93px !important; border: none; line-height: 24px; font-size: 16px; background-color: #4bb2e5" value="Excel Yükle" />
                            <input type="button" class="button-alpha pull-right" onclick="location.href = '/balancereturn/queryinsupd?type=form';" style="background-color: #4bb2e5; margin: 0 15px; max-width: 93px !important; border: none; line-height: 24px; font-size: 16px; background-color: #4bb2e5" value="Poliçe Ekle" />
                        </div>
                        <form>
                            <div class="table-responsive">
                                @if (Model != null && Model.Count > 0)
                                { 
                                    <table id="tblData" class="table table-hover">
                                        <tr>
                                            <td>
                                                <input type="checkbox" id="allstatus" onclick="SelectStatusAll();" /></td>
                                            <td style="white-space: nowrap"><strong>Ad Soyad</strong> </td>
                                            <td style="white-space: nowrap"><strong>Kimlik Numarası</strong> </td>
                                            <td style="white-space: nowrap"><strong>Poliçe No</strong> </td>
                                            <td><strong>Tutar</strong> </td>
                                            <td><strong>Türü</strong> </td>
                                            <td style="white-space: nowrap"><strong>Durum Kodu</strong> </td>
                                            <td></td>
                                        </tr>
                                        @foreach (var item in Model)
                                        { 
                                            <tr>
                                                <td>
                                                    <input type="checkbox" @(item.strStatusCode == "ODN" ? "disabled" : "") id="chk@(item.intBalanceID)" value="@item.intBalanceID" />
                                                </td>
                                                <td>@item.strName @item.strSurname</td>
                                                <td>@(!string.IsNullOrEmpty(item.strTCKN) ? CMS.Classes.Tools.cCrypto.DecryptDES(item.strTCKN) : "")</td>
                                                <td>@item.strPolicyNo</td>
                                                <td style="white-space: nowrap">@CMS.Classes.Tools.Utilities.Price(item.flPrice) &#x20BA;</td>
                                                <td>@(item.strType == "T" ? "Tüzel" : "Gerçek")</td>
                                                <td>@item.strStatusCode</td>
                                                <td style="text-align: right; white-space:nowrap;">
                                                    <a style="padding:0px 10px 0px 10px" href="/balancereturn/queryinsupd?type=form&i=@(CMS.Classes.Tools.cCrypto.EncryptDES(item.intBalanceID.ToString()))" class="button-beta">Güncelle</a>
                                                    <a style="padding:0px 10px 0px 10px" onclick="DeleteQuery('@(CMS.Classes.Tools.cCrypto.EncryptDES(item.intBalanceID.ToString()))');" href="javascript:void(0);" class="button-beta">Sil</a>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                    
                                        if (ViewBag.intCount > 1)
                                        {
                                    <ul class="pagination">
                                        @Web.Paging.pageLinks(Request.Url.AbsolutePath + strQuery, CMS.Classes.Tools.QueryStrings.page, ViewBag.intCount)
                                    </ul>
                                        }
                                }
                                else
                                {
                                    <label style="margin-top: 20px;">Poliçe bulunamadı!</label>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function DeleteQuery(i) {
        if (confirm('Poliçeyi silmek istediğinize emin misiniz?')) {
            location.href = '/balancereturn/query?i=' + i;
        }
    };
    function SelectStatusAll() {
        var allStatus = $("#allstatus").is(":checked");

        $("#tblData input").each(function () {
            if ($(this).attr("id") != "allstatus" && $(this).attr("disabled") == undefined) {
                if (allStatus) {
                    $(this).prop('checked', true).attr('checked', 'checked');
                } else {
                    $(this).prop('checked', false).removeAttr('checked');
                }
            }
        });
    };
    function StatusSave() {
        var strIDs = "";
        $("#tblData input").each(function () {
            if ($(this).attr("id") != "allstatus") {
                if ($(this).is(":checked")) {
                    strIDs = strIDs == "" ? $(this).val() : strIDs + "," + $(this).val();
                }
            }
        });

        if (strIDs == "") {
            MsgOpen('Poliçe seçiniz!', 'warning');
            return false;
        }

        $("#statusall").val(strIDs);

        return true;
    };
    function SearchStatusSave() {
        $("#statussave").val("ok");
        $("#formSearch").submit();
    };
</script>
