﻿@model CMS.Models.tblBalanceReturns
@{
    ViewBag.Title = "Poliçe Ekle/Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";


    if (Request.QueryString["type"] == "form")
    {
        ViewBag.Script = CMS.Classes.Tools.jCryption.RenderScriptFor("form", src: "/js/jquery.jcryption.3.1.0.mod.js") + ViewBag.Msg + ScriptMasked(); ;

        CMS.Classes.Tools.jCryption.HandleRequest(Request);

        string strTCKN = (string.IsNullOrEmpty(ViewBag.strTCKN) ? (Model != null ? CMS.Classes.Tools.cCrypto.DecryptDES(Model.strTCKN) : "") : ViewBag.strTCKN);
        string strName = (string.IsNullOrEmpty(ViewBag.strName) ? (Model != null ? Model.strName : "") : ViewBag.strName);
        string strSurname = (string.IsNullOrEmpty(ViewBag.strSurname) ? (Model != null ? Model.strSurname : "") : ViewBag.strSurname);
        string strType = (string.IsNullOrEmpty(ViewBag.strType) ? (Model != null ? Model.strType : "") : ViewBag.strType);
        string strPolicyNo = (string.IsNullOrEmpty(ViewBag.strPolicyNo) ? (Model != null ? Model.strPolicyNo : "") : ViewBag.strPolicyNo);
        decimal flPrice = (string.IsNullOrEmpty(ViewBag.flPrice) ? (Model != null ? Model.flPrice : 0) : ViewBag.flPrice);
        string strPhone = (string.IsNullOrEmpty(ViewBag.strPhone) ? (Model != null ? Model.strPhone : "") : ViewBag.strPhone);


        <div class="page hayat-sigortasi">
            <div class="page-inner">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="page-title-container">
                                <h1 class="page-title">
                                    Bakiye İade Sorgulama
                                </h1>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <!--Extended from table-alpha-->
                            <div class="table-alpha">
                                <h1>
                                    Poliçe Ekle/Güncelle
                                    <a href="javascript:void();" style="float: right; font-size: 25px;" title="Bilgi" onclick="OpenHelp('settings-userinsupd');">(i)</a>
                                </h1>
                                <form action="@Request.Url.AbsolutePath" method="post">
                                    <div class="table-responsive" style="overflow: hidden">
                                        <table class="table table-hover">
                                            <tr>
                                                <td>Türü</td>
                                                <td>
                                                    <div style="text-align: right;">
                                                        <select id="strType" name="strType" class="selectpicker">
                                                            <option @(strType == "G" ? "selected" : "") value="G">Gerçek Kişi</option>
                                                            <option @(strType == "T" ? "selected" : "") value="T">Tüzel Kişi</option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Kimlik Numarası</td>
                                                <td>
                                                    <div class="button-gamma" style="text-align: right;">
                                                        <input type="text" id="strTCKN" name="strTCKN" value="@strTCKN" autocomplete="off" maxlength="11" style="border: solid 1px #ddd; padding: 5px; width: 150px" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ad</td>
                                                <td>
                                                    <div class="button-gamma" style="text-align: right;">
                                                        <input type="text" id="strName" name="strName" value="@strName" autocomplete="off" maxlength="50" style="border: solid 1px #ddd; padding: 5px; width: 150px" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Soyad</td>
                                                <td>
                                                    <div class="button-gamma" style="text-align: right;">
                                                        <input type="text" id="strSurname" name="strSurname" value="@strSurname" autocomplete="off" maxlength="50" style="border: solid 1px #ddd; padding: 5px; width: 150px" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Poliçe Numarası</td>
                                                <td>
                                                    <div class="button-gamma" style="text-align: right;">
                                                        <input type="text" id="strPolicyNo" name="strPolicyNo" value="@strPolicyNo" autocomplete="off" maxlength="20" style="border: solid 1px #ddd; padding: 5px; width: 150px" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Tutar</td>
                                                <td>
                                                    <div class="button-gamma" style="text-align: right;">
                                                        <input type="text" id="flPrice" name="flPrice" value="@flPrice" autocomplete="off" maxlength="20" style="border: solid 1px #ddd; padding: 5px; width: 150px" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Telefon Numarası</td>
                                                <td>
                                                    <div class="button-gamma" style="text-align: right;">
                                                        <input type="text" id="strPhone" name="strPhone" value="@strPhone" autocomplete="off" maxlength="10" style="border: solid 1px #ddd; padding: 5px; width: 150px" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <input type="submit" onclick="return SubmitBtn();" class="button-alpha pull-right" value="Kaydet" style="margin-left: 20px; width: 120px; border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" />
                                        <input type="button" onclick="location.href = '/balancereturn/query';" class="button-alpha pull-right" value="İptal" style="width: 120px; border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" />
                                    </div>

                                    <input type="hidden" name="formvalue" value="1" />
                                    <input type="hidden" name="i" value="@(string.IsNullOrEmpty(ViewBag.i) ? Request.QueryString["i"] : ViewBag.i)" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
        function SubmitBtn() {
            if ($('#strTCKN').val() == '') {
                MsgOpen('Kimlik numarasını giriniz!', 'warning');
                return false;
            }

            if ($('#strPolicyNo').val() == '') {
                MsgOpen('Poliçe numarasını giriniz!', 'warning');
                return false;
            }

            if ($('#strPhone').val() == '') {
                MsgOpen('Telefon numarasını giriniz!', 'warning');
                return false;
            }

            if ($('#flPrice').val() == '') {
                MsgOpen('Tutarı giriniz!', 'warning');
                return false;
            }
            return true;
        };
        </script>
    }
    else if (Request.QueryString["type"] == "excel")
    {
        <div class="page hayat-sigortasi">
            <div class="page-inner">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="page-title-container">
                                <h1 class="page-title">
                                    Bakiye İade Sorgulama
                                </h1>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <!--Extended from table-alpha-->
                            <div class="table-alpha">
                                <h1>
                                    Excel Yükle
                                    <a href="javascript:void();" style="float: right; font-size: 25px;" title="Bilgi" onclick="OpenHelp('settings-userinsupd');">(i)</a>
                                </h1>
                                <div class="row" style="float:right;">
                                    <a href="/files/policeler.xlsx">Örnek Excel Dosyasını İndir</a>
                                </div>
                                <form action="/balancereturn/queryexcel" method="post" enctype="multipart/form-data">
                                    <input type="file" id="fileexcel" name="fileexcel" />
                                    <input type="submit" class="button-alpha pull-right" value="Kaydet" style="margin-left: 20px; width: 120px; border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" />
                                    <input type="button" onclick="location.href = '/balancereturn/query';" class="button-alpha pull-right" value="İptal" style="width: 120px; border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@helper ScriptMasked()
{
        <script src="/scripts/fbmask.js"></script>
        <script type="text/javascript">
        $(function () {
            $("#flPrice").priceFormat({
                prefix: '',
                centsSeparator: ',',
                thousandsSeparator: '.'
            });
        });
        </script>
}