﻿@model List<CMS.Models.tblCmsOksDocuments>
@{
    ViewBag.Title = "Dokümanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Script = ViewBag.Msg; 
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">Güncellemeler / Kurumsal İnternet Şube
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>Dokümanlar
                             <a href="javascript:void();" style="float: right; font-size:25px;" title="Bilgi" onclick="OpenHelp('updates-documents');">(i)</a>
                        </h1>
                        <div class="row">
                            <input type="button" class="button-alpha pull-right" onclick="location.href = '/updates/documentadd';" style="border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" value="Doküman Ekle" />
                        </div>
                        <form>
                            <div class="table-responsive">
                                @if (Model != null && Model.Count > 0)
                                { 
                                    <table class="table table-hover">
                                        <tr>
                                            <td><strong>Sıra</strong></td>
                                            <td><strong>Doküman Adı</strong></td>
                                            <td><strong>Durumu</strong></td>
                                            <td><strong>Gün.Tarihi</strong></td>
                                            <td><strong>K.Tarihi</strong></td>
                                            <td></td>
                                        </tr>
                                        @foreach (var item in Model)
                                        { 
                                            <tr>
                                                <td>@item.intOrder</td>
                                                <td>@item.strName</td>
                                                <td>@(item.bolIsActive ? "Aktif" : "Pasif")</td>
                                                <td>@(item.dtUpdateDate.HasValue ? item.dtUpdateDate.Value.ToShortDateString() : "")</td>
                                                <td>@item.dtRegisterDate.ToShortDateString()</td>
                                                <td style="width: 210px">
                                                    <a style="font-size: 16px; padding:0px 10px 0px 10px" href="@(System.Configuration.ConfigurationManager.AppSettings["KurumsalUrl"] + "Download/Dokumanlar/" + item.strFile)" class="button-beta">İndir</a>
                                                    <a style="font-size: 16px; padding:0px 10px 0px 10px" href="/updates/documentadd?i=@item.intOksDocumentID" class="button-beta">Güncelle</a>
                                                    <a style="font-size: 16px; padding:0px 10px 0px 10px" onclick="Delete('@item.intOksDocumentID');" href="javascript:void(0);" class="button-beta">Sil</a>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                    
                                        if (ViewBag.intCount > 1)
                                        {
                                    <ul class="pagination">
                                        @Web.Paging.pageLinks(Request.Url.AbsolutePath, CMS.Classes.Tools.QueryStrings.page, ViewBag.intCount)
                                    </ul>
                                        }
                                }
                                else
                                {
                                    <label>Doküman bulunamadı!</label>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Delete(i) {
        if (confirm('Dokümanı silmek istediğinize emin misiniz?')) {
            location.href = '/updates/documents?i=' + i;
        }
    };
</script>
