﻿@model CMS.Models.tblCmsForms
@{
    ViewBag.Title = "Form Ekle/Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Script = ViewBag.Msg;
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">Güncellemeler / Bireysel İnternet Şube
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>Form Ekle/Güncelle
                             <a href="javascript:void();" style="float: right; font-size:25px;" title="Bilgi" onclick="OpenHelp('updates-forms');">(i)</a>
                        </h1>
                        <form action="@Request.Url.PathAndQuery" method="post" enctype="multipart/form-data">
                            <div class="table-responsive" style="overflow: hidden">
                                <table class="table table-hover">
                                    <tr>
                                        <td>Sayfa</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <select id="type" name="type" class="selectpicker">
                                                    @{ string strType = (string.IsNullOrEmpty(ViewBag.type) ? (Model != null ? Model.strType : "") : ViewBag.type); }
                                                    <option @(strType == "" ? "selected" : "") value="">Tüm Sayfalar</option>
                                                    <option @(strType == "bireysel" ? "selected" : "") value="bireysel">Bireysel</option>
                                                    <option @(strType == "otomatikkatilim" ? "selected" : "") value="otomatikkatilim">Otomatik Katılım</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Form Adı</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <input type="text" id="name" name="name" value="@(string.IsNullOrEmpty(ViewBag.name) ? (Model != null ? Model.strName : "") : ViewBag.name)" autocomplete="off" maxlength="100" style="border: solid 1px #ddd; padding: 5px; width: 400px" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sıra</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <input type="text" id="order" name="order" value="@(string.IsNullOrEmpty(ViewBag.order) ? (Model != null ? Model.intOrder.ToString() : "") : ViewBag.order)" autocomplete="off" maxlength="3" style="border: solid 1px #ddd; padding: 5px; width: 50px" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Dosya</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <input type="file" title="Dosya seçin" name="file" style="float: right; border: solid 1px #ddd; padding: 5px; width: 250px" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Durumu</td>
                                        <td>
                                            <div style="text-align: right;">
                                                <input type="checkbox" id="bolIsActive" name="bolIsActive" @((ViewBag.bolIsActive == null ? (Model != null ? Model.bolIsActive : false) : ViewBag.bolIsActive) ? "checked" : "") />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <input type="submit" onclick="return SubmitBtn();" class="button-alpha pull-right" value="Kaydet" style="margin-left: 20px; width: 120px; border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" />
                                <input type="button" onclick="location.href = '/updates/forms';" class="button-alpha pull-right" value="İptal" style="width: 120px; border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function SubmitBtn() {
        if ($('#name').val() == '') {
            MsgOpen('Form adını giriniz!', 'warning');
            return false;
        }

        if ($('#order').val() == '') {
            MsgOpen('Sıra giriniz!', 'warning');
            return false;
        }
        return true;
    };
</script>
