﻿@model List<CMS.Models.tblFiles>
@{
    ViewBag.Title = "Üretim/Tahsilat Desen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Script = ViewBag.Msg;

    CMS.Models.tblFiles uretim = null;
    CMS.Models.tblFiles tahsilat = null;

    if (Model != null)
    {
        if (Model.Count(c => c.strType == "uretim") > 0)
        {
            uretim = Model.First(f => f.strType == "uretim");
        }

        if (Model.Count(c => c.strType == "uretim") > 0)
        {
            tahsilat = Model.First(f => f.strType == "tahsilat");
        }
    }
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">Güncellemeler / Kurumsal İnternet Şube
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>Üretim/Tahsilat Desen
                             <a href="javascript:void();" style="float: right; font-size:25px;" title="Bilgi" onclick="OpenHelp('updates-productionandcollection');">(i)</a>
                        </h1>
                        <form action="@Request.Url.AbsolutePath" method="post" enctype="multipart/form-data" style="margin-top: 30px; margin-left: 30px;">

                            <h3>Üretim Deseni</h3>
                            <div class="table-responsive" style="overflow: hidden">
                                <table class="table table-hover">
                                    <tr>
                                        <td>Güncel Dosya</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <a href="@(uretim != null ? System.Configuration.ConfigurationManager.AppSettings["KurumsalUrl"] + "Download/" + uretim.strFile : "#")">İndir</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Dosya Adı</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <input type="text" id="txtUretim" name="txtUretim" value="@(uretim != null ? uretim.strFileName : "")" style="border: solid 1px #ddd; padding: 5px; width: 250px" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Dosya</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <input type="file" title="Dosya seçin" name="files" style="float: right; border: solid 1px #ddd; padding: 5px; width: 250px" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <h3>Tahsilat Deseni</h3>
                            <div class="table-responsive" style="overflow: hidden">
                                <table class="table table-hover">
                                    <tr>
                                        <td>Güncel Dosya</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <a href="@(tahsilat != null ? System.Configuration.ConfigurationManager.AppSettings["KurumsalUrl"] + "Download/" + tahsilat.strFile : "#")">İndir</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Dosya Adı</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <input type="text" id="txtTahsilat" name="txtTahsilat" value="@(tahsilat != null ? tahsilat.strFileName : "")" style="border: solid 1px #ddd; padding: 5px; width: 250px" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Dosya</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <input type="file" title="Dosya seçin" name="files" style="float: right; border: solid 1px #ddd; padding: 5px; width: 250px" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <input type="submit" onclick="return SubmitBtn();" class="button-alpha pull-right" value="Kaydet" style="border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function SubmitBtn() {
        if ($('#txtUretim').val() == '') {
            MsgOpen('Üretim deseni için dosya adını giriniz!', 'warning');
            return false;
        }

        if ($('#txtTahsilat').val() == '') {
            MsgOpen('Tahsilat deseni için dosya adını giriniz!', 'warning');
            return false;
        }
        return true;
    };
</script>
