﻿<div class="footer">
    <div class="row-fluid no-padding">
        <div class="col-sm-12 no-padding">
            <ul>
                <li>0850 226 0 123</li>
            </ul>
            <div class="logos">
                <img src="/images/ssl.jpg"><img src="/images/m.jpg">
            </div>
        </div>
    </div>
</div>
