﻿@using KatilimEmeklilikInternetSube.Classes.LiveData
@{
    var user = Sessions.CurrentUser;
    if (user == null)
    {
        Response.Redirect("/", false);
        return;
    }
    KatilimEmeklilikInternetSube.Classes.Tools.Cookies.CookieSss = "1";
    bool bolPage = false;
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Katılım Emeklilik - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" href="/favicon.ico?v2" type="image/x-icon">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <link rel="stylesheet" href="/styles/vendor.css?@(DateTime.Now.ToString("ddMMyyyy"))">
    <link rel="stylesheet" href="/styles/main.css?@(DateTime.Now.ToString("ddMMyyyy"))">
    <script src="/scripts/vendor/modernizr.js"></script>
</head>
<body oncontextmenu="return false;">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header headerH">
        <div class="headerInner">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display-->
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        @if (user.pages != null)
                        {
                            if (user.pages.Count > 0)
                            {
                                var page = user.pages.FirstOrDefault(f => f.bolIsActive);
                                if (page != null)
                                {
                                    bolPage = true;
                                    <a href="@(page.strPath)" class="navbar-brand">
                                        <img src="/images/logo.png">
                                    </a>
                                }
                            }
                        }

                        @if (!bolPage)
                        {
                            <img src="/images/logo.png">
                        }
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling-->
                    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div class="login-tools">
                                    <div class="icon-person"></div>
                                    <span>HOŞGELDİNİZ,</span><a href="#"> Sn.@user.strNameSurname</a>
                                </div>
                            </li>
                            @if (user.pages != null)
                            {
                                foreach (var item in user.pages.Where(w => w.bolIsActive))
                                {
                                    <li class="visible-xs"><a href="@item.strPath"><i class="@item.strClass"></i><span>@item.strName</span></a></li>
                                }
                            }
                            <li class="visible-xs"><a href="/kisisel-bilgiler"><i class="icon-person"></i><span>Kişisel Bilgiler</span></a></li>
                            <li class="visible-xs"><a href="/dokumanlar"><i class="icon-paper"></i><span>Dokümanlar</span></a></li>
                            <li class="visible-xs"><a href="/iletisim/sikayet-oneri-talep"><i class="icon-papererror"></i><span>Bilgilendirme Formları</span></a></li>
                            <li class="visible-xs"><a href="/iletisim"><i class="icon-papermap"></i><span>İletişim</span></a></li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" onclick="CloseBtn();" class="logout-tools">
                                    <span>Çıkış</span>
                                    <div class="icon-power_button"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse-->
                </div>
                <!-- /.container-fluid-->
            </nav>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-sm-4 col-md-3 hidden-xs no-padding">
            <div class="sidebar">
                <ul>
                    @if (user.pages != null)
                    {
                        foreach (var item in user.pages.Where(w => w.bolIsActive))
                        {
                            <li><a href="@item.strPath"><i class="@item.strClass"></i><span>@item.strName</span></a></li>
                        }
                    }
                    <li><a href="/kisisel-bilgiler"><i class="icon-person"></i><span>Kişisel Bilgiler</span></a></li>
                    <li><a href="/dokumanlar"><i class="icon-paper"></i><span>Dokümanlar</span></a></li>
                    <li><a href="/iletisim/sikayet-oneri-talep"><i class="icon-papererror"></i><span>Bilgilendirme Formları</span></a></li>
                    <li><a href="/iletisim"><i class="icon-papermap"></i><span>İletişim</span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8 col-md-9 col-xs-12 no-padding">
            @RenderBody()
        </div>
    </div>


    <div tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" class="modal fade modal-alpha">
        <div class="modal-dialog modal-md">
            <div class="close-l">
                <div class="icon-close"></div>
            </div>
            <div class="modal-content"></div>
        </div>
    </div>
    <div tpl="modal-success">
        <div class="success">
            <div class="head-type"><i class="icon-checked"></i></div>
            <div class="title"><span>Basarili</span></div>
            <div class="text"><span>Bilgileriniz kaydedilmistir.</span></div>
        </div>
    </div>
    <div tpl="modal-warning">
        <div class="warning">
            <div class="head-type">
                <div class="icon-warning"></div>
            </div>
            <div class="title"><span>Uyari</span></div>
            <div class="text"><span>Bir uyari ile karsilasildi.</span></div>
        </div>
    </div>
    <div tpl="modal-error">
        <div class="error">
            <div class="head-type">
                <div class="icon-warning"></div>
            </div>
            <div class="title"><span>Hata</span></div>
            <div class="text"><span>Bir hata ile karsilasildi.</span></div>
        </div>
    </div>
    <div tpl="modal-prompt">
        <div class="prompt">
            <div class="title"><span>Hata</span></div>
            <div class="text"><span>Bir hata ile karsilasildi.</span></div>
            <div class="mrTop">
                <div class="row">
                    <div class="col-sm-6"><a href="#" class="button-alpha approve">ONAYLIYORUM</a></div>
                    <div class="col-sm-6"><a href="#" class="button-alpha reject">ONAYLAMIYORUM</a></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Live Begin -->
    <div id="canli__destek">
        <div id="canli__destek--header">
            <a href="javascript:;">
                <span id="canli__destek--header--close">
                    Canlı Destek Merkezi
                </span>
                <span id="canli__destek--end">
                    Sonlandır
                </span>
                <span id="canli__destek--station">
                    <img src="img/chat-station.png" alt="">
                </span>
            </a>
        </div>
        <div id="canli__destek--conversation">
            <!-- 1. -->
            <div id="canli__destek--conversation--start">
                <div id="canli__destek--info">
                    <p>
                        Müşteri temsilcimizin size daha iyi hizmet verebilmesi için lütfen bizimle aşağıdaki bilgileri paylaşınız.
                    </p>
                    <p class="small">
                        Müşteri temsilcilerimiz hafta içi 09:00 - 19:00 saatleri arasında hizmet vermektedir.
                    </p>
                </div>
                <form enctype="application/x-www-form-urlencoded" id="startChat" class="perfect-form" novalidate="novalidate">
                    <section>
                        <label class="input">
                            <input type="text" name="nickname" class="validate[required]]" placeholder="Ad-Soyad">
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <!-- <input type="email" name="userDataEmail" class="validate[required,custom[email]]" placeholder="E-posta Adresi"> -->
                            <input type="email" name="userDataEmail" placeholder="E-posta Adresi">
                        </label>
                    </section>

                    <section>
                        <label class="input">
                            <!-- <input type="tel" name="userData[phone]" class="phone-mask validate[required, funcCall[checkPhone]]" placeholder="+90"> -->
                            <input type="tel" name="userData[phone]" id="userDataPhone" class="phone-mask validate[funcCall[checkPhone]]" placeholder="+90">
                        </label>
                    </section>

                    <button type="submit" class="button button-main" id="canli-destek-submit-btn">GÖRÜŞMEYİ BAŞLATIN</button>
                </form>

            </div>

            <!-- 2. -->
            <div id="canli__destek--conversation--talk">
                <div id="canli__destek--conversations">
                </div>
                <div id="canli__destek--conversations--form">
                    <form enctype="application/x-www-form-urlencoded" id="startTalk" class="perfect-form" novalidate="novalidate">
                        <section>
                            <label class="input">
                                <input type="text" name="message" placeholder="Mesajınız" id="input--message" disabled="disabled">
                            </label>
                        </section>
                        <button type="submit" id="message-send" class="button-circle bottom-position" disabled="disabled">
                            <img src="/Chat/img/send-icon.png" alt="Gönder">
                        </button>
                    </form>
                </div>
            </div>


            <!-- 3. -->
            <div id="canli__destek--conversation--end">
                <p class="text-uppercase">
                    <strong>Görüşmeniz sonlandırıldı</strong>
                </p>
                <p>
                    Müşteri temsilcimiz ile yaptığınız görüşme ile ilgili memnuniyet düzeyinizi lütfen belirtiniz.
                </p>
                <form enctype="application/x-www-form-urlencoded" id="talkEnd" class="perfect-form" novalidate="novalidate">
                    <input type="hidden" name="konusmaID" id="konusmaID">
                    <input type="hidden" name="konusmaKisi" id="konusmaKisi">
                    <input type="hidden" name="konusmaOperator" id="konusmaOperator">
                    <input type="hidden" name="konusmaGecmisi" id="konusmaGecmisi">
                    <input type="hidden" name="konusmaSuresi" id="konusmaSuresi">
                    <div class="rating">
                        <input type="radio" name="konusmaPuan" id="konusmaPuan-5" value="5">
                        <label for="konusmaPuan-5">
                            <i class="fa fa-star"></i>
                        </label>
                        <input type="radio" name="konusmaPuan" id="konusmaPuan-4" value="4">
                        <label for="konusmaPuan-4">
                            <i class="fa fa-star"></i>
                        </label>
                        <input type="radio" name="konusmaPuan" id="konusmaPuan-3" value="3">
                        <label for="konusmaPuan-3">
                            <i class="fa fa-star"></i>
                        </label>
                        <input type="radio" name="konusmaPuan" id="konusmaPuan-2" value="2">
                        <label for="konusmaPuan-2">
                            <i class="fa fa-star"></i>
                        </label>
                        <input type="radio" name="konusmaPuan" id="konusmaPuan-1" value="1">
                        <label for="konusmaPuan-1">
                            <i class="fa fa-star"></i>
                        </label>
                    </div>
                    <button type="submit" id="chatAnketSbmtButton" class="button button-main">GÖNDER</button>
                </form>
            </div>
            <!-- 4. -->
            <div id="canli__destek--conversation--thanks">
                <p>
                    Değerlendirmeniz için teşekkür eder, hayırlı günler dileriz.
                </p>
            </div>



        </div>
    </div>
    <!-- Live End -->



    <script src="/scripts/vendor.js?@(DateTime.Now.ToString("ddMMyyyy"))"></script>
    <script type="text/javascript" src="/js/brcntrl.js"></script>
    <script type="text/javascript">
        history.pushState(null, null, document.location.href);
        window.addEventListener('popstate', function (event) {
            history.pushState(null, null, document.location.href);
        });

        $(function () {
            UserControl();
        });
        function MsgOpen(strMsg, strType) {
            setTimeout(function () {
                var title = ""
                if (strType == "warning") {
                    title = "Uyarı"
                }
                else if (strType == "error") {
                    title = "Hata"
                }
                else if (strType == "success") {
                    title = "Başarılı"
                }

                $(window).trigger('modal-' + strType, { title: title, text: strMsg });
            }, 500);
        };
        function CloseBtn() {
            if (confirm('Çıkmak istediğinize emin misiniz?')) {
                location.href = '/';
            }
        };
        var responseSite = false;
        function UserControl() {
            if (!responseSite) {
                try {
                    $.ajax("/user/usercontrol").done(function (data) {
                        if (data == '' && !responseSite) { validNavigation = true; location.href = '/'; }
                    });
                } catch (ex) { }

                setTimeout(function () { UserControl(); }, 3000);
            }
        };
        function UserInfo() {
            $.ajax("/user/info").done(function (data) {
                return data;
            });
        };
        function ResponseSite() {
            if (confirm('Oturumunuz sonlandırılacaktır. Çıkmak istediğinize emin misiniz?')) {
                responseSite = true;
                $.ajax({ type: "POST", url: "/user/brcntrl", cache: false, headers: { "cache-control": "no-cache" } }).done(function (data) {
                    location.href = '@(System.Configuration.ConfigurationManager.AppSettings["BakiyeLink"])';
                });
            }
        };
    </script>


    <link rel="stylesheet" href="/Chat/css/demo.css">
    <link rel="stylesheet" href="/Chat/css/font-awesome.css">
    <link rel="stylesheet" href="/Chat/css/perfect-forms.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/Chat/css/validationEngine.jquery.css" type="text/css" />

    <script src="/Chat/js/jquery-ui.min.js"></script>
    <script src="/Chat/js/jquery.form.min.js"></script>
    <script src="/Chat/js/jquery.validationEngine.js"></script>
    <script src="/Chat/js/jquery.validationEngine-tr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/Chat/js/app.js"></script>

    <link rel="stylesheet" href="/styles/datepicker.min.css">
    <script src="/scripts/datepicker.min.js"></script>
    <script src="/scripts/datepicker.tr-TR.js"></script>
    <script type="text/javascript">

		$('.-second, .-first').datepicker({
		  format: 'dd/mm/yyyy',
		  language: 'tr-TR'
		});
/*
		$('.-first').change(function(){
			$('.-second').datepicker('setDate', $(this).val());
			$('.-second').datepicker('setEndDate', $(this).val());
		});
*/

    </script>

    @RenderSection("footer", false)
</body>
</html>
