﻿@model CMS.Classes.ClassData.cSetting
@{
    ViewBag.Title = "Ayarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Script = ViewBag.Msg;
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">İşlemler
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>Online Chat
                            <a href="javascript:void();" style="float: right; font-size:25px;" title="Bilgi" onclick="OpenHelp('settings-maintenance');">(i)</a>
                        </h1>
                        <form action="@Request.Url.PathAndQuery" method="post">
                            <div class="table-responsive" style="overflow: hidden">
                                <table class="table table-hover">
                                    <tr>
                                        <td>Bireysel İnternet Şube</td>
                                        <td>
                                            <div style="text-align: right;">
                                                <input type="checkbox" id="chatbireysel" name="chatbireysel" @(Model.bolBireyselChat ? "checked" : "") />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Web Site</td>
                                        <td>
                                            <div style="text-align: right;">
                                                <input type="checkbox" id="chatportal" name="chatportal" @(Model.bolPortalChat ? "checked" : "") />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <input type="submit" class="button-alpha pull-right" value="Kaydet" style="border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
