﻿@model CMS.Models.tblCmsUsers
@{
    ViewBag.Title = "Kullanıcı Ekle/Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CMS.Classes.Tools.jCryption.HandleRequest(Request);

    string strPss = (string.IsNullOrEmpty(ViewBag.pss) ? (Model != null ? CMS.Classes.Tools.cCrypto.DecryptDES(Model.strPss) : "") : ViewBag.pss);
    ViewBag.Script = CMS.Classes.Tools.jCryption.RenderScriptFor("form", src: "/js/jquery.jcryption.3.1.0.mod.js") + ViewBag.Msg + ScriptMasked(strPss);

    var userType = string.IsNullOrEmpty(ViewBag.usertype) ? (Model != null ? (CMS.Classes.Enums.UserTypes)Model.intUserType : CMS.Classes.Enums.UserTypes.cms) : (CMS.Classes.Enums.UserTypes)ViewBag.usertype;                                                 
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">İşlemler
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>Kullanıcı Ekle/Güncelle
                             <a href="javascript:void();" style="float: right; font-size: 25px;" title="Bilgi" onclick="OpenHelp('settings-userinsupd');">(i)</a>
                        </h1>
                        <form action="@Request.Url.AbsolutePath" method="post">
                            <div class="table-responsive" style="overflow: hidden">
                                <table class="table table-hover">
                                    <tr>
                                        <td>Kullanıcı Türü</td>
                                        <td>
                                            <div style="text-align: right;">
                                                <select id="usertype" name="usertype" class="selectpicker"> 
                                                    @foreach (var item in Enum.GetValues(typeof(CMS.Classes.Enums.UserTypes)))
                                                    {
                                                        <option @(userType == (CMS.Classes.Enums.UserTypes)item ? "selected" : "") value="@((byte)((CMS.Classes.Enums.UserTypes)item))">@CMS.Classes.Enums.UserType((CMS.Classes.Enums.UserTypes)item)</option>
                                                    }
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kullanıcı Adı</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <input type="text" id="username" name="username" value="@(string.IsNullOrEmpty(ViewBag.username) ? (Model != null ? Model.strUserName : "") : ViewBag.username)" autocomplete="off" maxlength="50" style="border: solid 1px #ddd; padding: 5px; width: 150px" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Şifre</td>
                                        <td>
                                            <div class="button-gamma" style="text-align: right;">
                                                <input type="text" id="pss" name="pss" value="@strPss" maxlength="50" style="border: solid 1px #ddd; padding: 5px; width: 150px" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="trAdmin" style="display: @(userType == CMS.Classes.Enums.UserTypes.chat ? "none" : "block")">
                                        <td>Admin</td>
                                        <td>
                                            <div style="text-align: right;">
                                                <input type="checkbox" id="bolIsAdmin" name="bolIsAdmin" @((ViewBag.bolIsAdmin == null ? (Model != null ? Model.bolIsAdmin : false) : ViewBag.bolIsAdmin) ? "checked" : "") />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Durumu</td>
                                        <td>
                                            <div style="text-align: right;">
                                                <input type="checkbox" id="bolIsActive" name="bolIsActive" @((ViewBag.bolIsActive == null ? (Model != null ? Model.bolIsActive : false) : ViewBag.bolIsActive) ? "checked" : "") />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <input type="submit" onclick="return SubmitBtn();" class="button-alpha pull-right" value="Kaydet" style="margin-left: 20px; width: 120px; border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" />
                                <input type="button" onclick="location.href = '/settings/users';" class="button-alpha pull-right" value="İptal" style="width: 120px; border: none; line-height: 24px; font-size: 19px; background-color: #4bb2e5" />
                            </div>

                            <input type="hidden" name="formvalue" value="1" />
                            <input type="hidden" name="i" value="@(string.IsNullOrEmpty(ViewBag.i) ? Request.QueryString["i"] : ViewBag.i)" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function SubmitBtn() {
        if ($('#username').val() == '') {
            MsgOpen('Kullanıcı adınızı giriniz!', 'warning');
            return false;
        }

        if ($('#pss').val() == '') {
            MsgOpen('Şifreyi giriniz!', 'warning');
            return false;
        }
        return true;
    };
</script>

@helper ScriptMasked(string strPss)
{
    <script src="/js/MaskedPassword.js"></script>
    <script type="text/javascript">
        $(function () {
            var maskP = new MaskedPassword(document.getElementById("pss"), '*');
            $('#pss').val('@(strPss)');
            maskP.doPasswordMasking(document.getElementById("pss"));

            $("#usertype").change(function () { 
                if ($("#usertype").val() == '@((byte)CMS.Classes.Enums.UserTypes.cms)') {
                    $("#trAdmin").show();
                } else {
                    $("#trAdmin").hide();
                }
            });
        });
    </script> 
}
