﻿@{
    string strUrlPrefix = System.Configuration.ConfigurationManager.AppSettings["root"].ToString();
    if (!string.IsNullOrEmpty(strUrlPrefix))
    {
        strUrlPrefix = "/" + strUrlPrefix;
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/kadincaguven/favicon.ico?v=0.01">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <title>Katılım Emeklilik</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin-ext" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="@(strUrlPrefix)/assets/css/main.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="@(strUrlPrefix)/assets/css/home.css">
    <!-- endinject -->
    <!-- page:assets/css/successful:css -->
    <link rel="stylesheet" href="@(strUrlPrefix)/assets/css/pay-complated.css">
    <!-- endinject -->
</head>

<body>
    <!-- inject:../development/shared/header/header.html -->
    <div class="header">
        <div class="header_logo">
            <img src="@(strUrlPrefix)/assets/image/logo.png" alt="">
        </div>
        <button class="header_button">
            <a class="header_button_link" href="@(strUrlPrefix)/">Hemen Satın Al</a>
        </button>
    </div>

    <div class="pay-complated">
        <div class="pay-complated__container">
            <div class="pay-complated__title">
                Teklifiniz Hayırlı Olsun
            </div>

            <div class="pay-complated__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="27" viewBox="0 0 34 27">
                    <path fill="#FFF" fill-rule="nonzero" d="M11.804 18.703L29.61.897a1 1 0 0 1 1.414 0l2.593 2.593a1 1 0 0 1 0 1.414L15.104 23.417l-2.7 2.7a1 1 0 0 1-1.414 0L.383 15.51a1 1 0 0 1 0-1.414l2.7-2.7a1 1 0 0 1 1.414 0l7.307 7.307z" />
                </svg>
            </div>

            <div class="pay-complated__desc">
                <p>Teklif No : @ViewBag.OfferNo</p>
                <p><a href="@(strUrlPrefix)/sales/pdf" target="_blank" class="page_button -whitebtn">Teklifinize ulaşmak için lütfen tıklayınız.</a></p>
                <p>Tahsilatınız gerçekleştikten sonra poliçeniz yürürlüğe girecektir ve SMS ile iletilecektir. 30 gün içinde tahsilatınız gerçekleştirilemez ise teklifiniz geçersiz olacak ve iptal edilecektir. Sağlıklı günler dileriz.</p>
            </div>
        </div>
    </div>

    <!-- endinject -->
    <!-- page:assets/script/home.js -->
    <script src="@(strUrlPrefix)/assets/script/home.js?1538143723304"></script>
    <!-- endinject -->
</body>

</html>
