﻿@{
    string strUrlPrefix = System.Configuration.ConfigurationManager.AppSettings["root"].ToString();
    if (!string.IsNullOrEmpty(strUrlPrefix))
    {
        strUrlPrefix = "/" + strUrlPrefix;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="/kadincaguven/favicon.ico">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <title>Katılım Emeklilik</title>
    <script src="@(strUrlPrefix)/assets/script/vanilla-masker.min.js"></script>
    <!-- inject:css -->
    <link rel="stylesheet" href="@(strUrlPrefix)/assets/css/main.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="@(strUrlPrefix)/assets/css/successful.css">
    <!-- endinject -->
    <!-- page:assets/css/home:css -->
    <link rel="stylesheet" href="@(strUrlPrefix)/assets/css/home.css?1538143723304">
    <!-- endinject -->
</head>

<body>
    <!-- inject:../development/shared/header/header.html -->
    <div class="header">
        <div class="header_logo">
            <img src="@(strUrlPrefix)/assets/image/logo.png" alt="">
        </div>
        <button class="header_button" scroll-button>
            Hemen Satın Al
        </button>
    </div>
    <div class="wrapper">

        <!-- detail container begin-->
        <div class="wrapper-top -hr">

            <!-- left detail container -->
            <div class="page_main-context">
                <span class="-darkblue">Kadınca Güven Kritik Hastalık</span>
                <span class="-lightblue">Sigortası</span>
                <button type="submit" class="page_button -bluebtn" scroll-button>Hemen Satın Al</button>
            </div>

            <!-- right detail container -->
            <div class="page_content">
                <div>
                    <p class="page_content_text">
                        Kadınca Güven Kritik Hastalık Sigortası ile kendinizi zor zamanlara karşı şimdiden güvence altına alabilirsiniz. Farklı kadın kanserlerine karşı maddi durumunuzun ve yaşam kaybına karşı sevdiklerinizin güvende olduğunu bilmenin huzurunu bugün yaşayın.
                    </p>
                    <p class="page_content_text">
                        Ayrıca, Kadınca Güven Kritik Hastalık Sigortası kapsamında yılda bir kere hiçbir ek ücret ödemeden yararlanabileceğiniz avantajlı hizmet paketiyle <b>mamografi, diş sağlığı paketi ve indirimli diyetisyen network'ünden</b> faydalanabilir, hayatın her anında size özel bu hizmetlerle sağlığınızı koruyun ve hayatınızı kolaylaştırın.
                    </p>
                    @*<p class="page_content_text">
                            Kadınca Güven Kritik Hastalık Sigortası ile kendinizi kadın kanserlerine karşı güvence altına alabilirsiniz. Kadına
                            özgü tüpler, vajina/vulva tümörlerinden veya meme, rahim, rahim ağzı, rahim içi ve kanserlerinden birine yakalanmadan
                            önlem alabilir, sağlığınızı güvence altına alabilirsiniz.
                        </p>
                        <p class="page_content_text">
                            Ayrıca, Kadınca Güven Kritik Hastalık Sigortası kapsamında yılda bir kere anlaşmalı kurumlardaki Asistans hizmetinden
                            faydalanabilir, düzenli mamografik taramayla kanser riskinizi minimuma indirebilirsiniz.
                        </p>*@

                    <a class="page_button -whitebtn" target="_blank" href="http://katilimemeklilikpreprod.gricreative.com/hayat-sigortasi/kadinca-guven-kritik-hastalik-sigortasi/">Detaylı bilgi için tıklayınız</a>

                </div>
                <img src="@(strUrlPrefix)/assets/image/kadin-hastaliklari.png" alt="">
            </div>
        </div>
        <!-- detail container end -->
        <!-- information and option container  -->

        <div class="wrapper-top">

            <!-- left part -->
            <div class="page_main-context -row -righthr">
                <span class="-darkblue -space">Hemen</span>
                <span class="-lightblue">Satın Al</span>
            </div>

            <div class="wrapper-bottom-right" data-scroll>

                <!-- right part  -->
                <div class="page_table -hr">
                    <div class="page_title -mobile-margin-top">
                        Yaş Aralığına Göre Primler
                    </div>
                    <!-- table begin -->
                    <div class="page_table_content">
                        <div class="page_table_top">
                            <div class="page_table_title">
                                Yaş Aralığında
                            </div>
                            <!-- table header -->
                            <div class="page_table_heading">
                                <div class="page_table_item">
                                    <span class="page_table_item_name">Kadın Kanserleri Teminatı</span>
                                    <span class="page_table_item_number">25.000 TL</span>
                                </div>
                                <div class="page_table_item">
                                    <span class="page_table_item_name">Vefat Teminatı</span>
                                    <span class="page_table_item_number">5.000 TL</span>
                                </div>
                            </div>
                        </div>
                        <!-- table content -->
                        <div class="page_table_bottom">

                            <!-- table row 1 -->
                            <div class="page_group -hr">
                                <div class="page_group_left">
                                    <span class="page_group_left_age">18 - 30</span>
                                    <span class="page_group_left_text">Yaş Aralığında</span>
                                </div>
                                <div class="page_group_right">
                                    <span class="page_group_right_text">Yıllık Prim</span>
                                    <span class="page_group_right_number">105 TL</span>
                                </div>
                            </div>

                            <!-- table row 2 -->
                            <div class="page_group -hr">
                                <div class="page_group_left">
                                    <span class="page_group_left_age">31 - 40</span>
                                    <span class="page_group_left_text">Yaş Aralığında</span>
                                </div>
                                <div class="page_group_right">
                                    <span class="page_group_right_text">Yıllık Prim</span>
                                    <span class="page_group_right_number">120 TL</span>
                                </div>
                            </div>

                            <!-- table row 3 -->
                            <div class="page_group -hr">
                                <div class="page_group_left">
                                    <span class="page_group_left_age">41 - 50</span>
                                    <span class="page_group_left_text">Yaş Aralığında</span>
                                </div>
                                <div class="page_group_right">
                                    <span class="page_group_right_text">Yıllık Prim</span>
                                    <span class="page_group_right_number">150 TL</span>
                                </div>
                            </div>

                            <!-- table row 4 -->
                            <div class="page_group">
                                <div class="page_group_left">
                                    <span class="page_group_left_age">51 - 65</span>
                                    <span class="page_group_left_text">Yaş Aralığında</span>
                                </div>
                                <div class="page_group_right">
                                    <span class="page_group_right_text">Yıllık Prim</span>
                                    <span class="page_group_right_number">225 TL</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- table end -->

                    <span class="page_table_footnote">
                        Sigorta süresi 1 yıl olup sigorta ettirenin aksi bildirimi olmadığı ve şirket ürünün satışına devam ettiği müddetçe her halükarda 5 yıl boyunca otomatik olarak yenilenir. Azami yenileme 66 yaşına kadar yapılacaktır. Şirket ürünü yenilememe hakkını saklı tutar.
                    </span>
                </div>

                <!--page_table end -->

                <form method="post" action="@(strUrlPrefix)/sales/index" id="form1">
                    <!-- form begin -->
                    <div class="form -hr">
                        <span class="page_title">
                            Sigortalı Bilgilerini Girin
                        </span>
                        <!-- group 1 -->
                        <div class="form_group">
                            <div class="form_item">
                                <label for="" class="form_item_name">AD</label>
                                <input type="text" class="form_item_data" required id="ad" name="ad" value="@ViewBag.ad" required oninvalid="this.setCustomValidity('Lütfen adınızı giriniz')" oninput="this.setCustomValidity('')" autocomplete="off" />
                            </div>
                            <div class="form_item">
                                <label for="" class="form_item_name">SOYAD</label>
                                <input type="text" class="form_item_data" required id="soyad" name="soyad" value="@ViewBag.soyad" required oninvalid="this.setCustomValidity('Lütfen soyadınızı giriniz')" oninput="this.setCustomValidity('')" autocomplete="off" />
                            </div>
                        </div>

                        <!-- group 2 -->
                        <div class="form_group">
                            <div class="form_item">
                                <label for="" class="form_item_name">TC KİMLİK NO</label>
                                <input type="text" class="form_item_data" required id="kimlik" pattern="[0-9]{11}" minlength="11" maxlength="11" name="kimlik" value="@ViewBag.kimlik" required oninvalid="this.setCustomValidity('T.C. Kimlik numaranızı giriniz')" oninput="this.setCustomValidity('')" data-tckn autocomplete="off" />
                            </div>
                            <div class="form_item">
                                <label for="" class="form_item_name">CEP TELEFONU (5xx xxx xx xx)</label>
                                <input type="text" class="form_item_data" required id="telefon" maxlength="13" name="telefon" value="@ViewBag.telefon" required oninvalid="this.setCustomValidity('Cep telefonu numaranızı giriniz')" oninput="this.setCustomValidity('')" data-phone autocomplete="off" />
                            </div>
                        </div>

                        <!-- group 3 -->
                        <div class="form_group">
                            <div class="form_item">
                                <label for="" class="form_item_name">DOĞUM TARİHİ</label>
                                <input type="text" class="form_item_data" data-date required name="dogumtarihi" value="@ViewBag.dogumtarihi" oninvalid="this.setCustomValidity('Doğum tarihinizi giriniz')" oninput="this.setCustomValidity('')" autocomplete="off" />
                            </div>
                            <div class="form_item">
                                <label for="" class="form_item_name">MESLEK</label>
                                <div class="form_item_data -select">
                                    <select class="selectbox" id="meslek" name="meslek" required oninvalid="this.setCustomValidity('Bu alanı boş bırakmayınız')" oninput="this.setCustomValidity('')" autocomplete="off">
                                        <option value="">Seçiniz</option>
                                        @if (ViewBag.SaleJobs != null)
                                        {
                                            foreach (var item in ViewBag.SaleJobs)
                                            {
                                                <option @(ViewBag.meslek == item.intSaleJobID.ToString() ? "selected" : "") value="@item.intSaleJobID">@item.strName</option>
                                            }
                                        }
                                    </select>
                                    <span class="-icon"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- form end -->
                    <!-- page contract one begin -->
                    <div class="page_contract">

                        <!-- checkbox 1 -->
                        <div class="page_contract_item -hr">
                            <input type="checkbox" class="page_contract_item_input" id="proviso-one" name="mesafelisatis" required oninvalid="this.setCustomValidity('Devam edebilmeniz için onayınız gerekmektedir.')"
                                   oninput="setCustomValidity('')" @(!string.IsNullOrEmpty(ViewBag.mesafelisatis) ? "checked" : "") />
                            <label for="proviso-one" class="page_contract_item_text">
                                <label class="page_contract_item_link" for="modal">Mesafeli Satış Sözleşmesi</label>,
                                ve
                                <label class="page_contract_item_link" for="modal2">Kişisel Verileri Koruma Kanunu</label> kapsamında
                                bilgilendirme metnini okudum, onaylıyorum.
                            </label>
                        </div>

                        <!-- checkbox 2 -->
                        <div class="page_contract_item -hr">
                            <input type="checkbox" class="page_contract_item_input" id="proviso-two" name="bilgilendirme" required oninvalid="this.setCustomValidity('Devam edebilmeniz için onayınız gerekmektedir.')"
                                   oninput="setCustomValidity('')" @(!string.IsNullOrEmpty(ViewBag.bilgilendirme) ? "checked" : "") />
                            <label for="proviso-two" class="page_contract_item_text">
                                <label class="page_contract_item_link" for="modal3">Bilgilendirme Formu</label>’nu okudum, onaylıyorum.
                            </label>
                        </div>

                        <!-- checkbox 3 -->
                        <div class="page_contract_item -hr">
                            <input type="checkbox" class="page_contract_item_input" id="proviso-three" name="iletisim" @(!string.IsNullOrEmpty(ViewBag.iletisim) ? "checked" : "") />
                            <label for="proviso-three" class="page_contract_item_text -margin">
                                Katılım Emeklilik A.Ş.’nin e-posta, SMS, sosyal medya, telefon ve/veya diğer iletişim araçlarını kullanarak tarafıma
                                ulaşmasına, her türlü bireysel emeklilik sistemi ve sigorta ürününe yönelik tanıtım ve pazarlama faaliyetinde
                                bulunmasına, ayrıca halihazırda akdedilen sözleşmelerin uygulanmasına, sözleşme koşullarındaki değişikliklere,
                                tahsilatlara ve mevzuattan kaynaklanan diğer gerekliliklere ilişkin olarak bilgi edinme ve bildirimde bulunmasına izin
                                verdiğimi beyan ve kabul ediyorum.
                            </label>
                        </div>

                    </div>
                    <!-- page contract one end -->
                    <!-- page contract two begin -->
                    <!-- checkbox four -->
                    <div class="page_contract">
                        <span class="page_title -left -nopadding">Sağlık Beyanı</span>
                        <div class="page_contract_item ">
                            <input type="hidden" value="@ViewBag.QuestionCode" name="questionCode" />
                            <input type="checkbox" class="page_contract_item_input" id="proviso-four" name="saglikbeyani" required oninvalid="this.setCustomValidity('Devam edebilmeniz için onayınız gerekmektedir.')"
                                   oninput="setCustomValidity('')" @(!string.IsNullOrEmpty(ViewBag.saglikbeyani) ? "checked" : "") />
                            <label for="proviso-four" class="page_contract_item_text">
                                Sigorta başlangıç tarihinde sahip olduğum ya da teminatın başladığı tarihten önce kayıtlı bir doktordan tıbbi tavsiye, tedavi veya danışmanlık hizmeti aldığım her türlü durum ve bu durumlarla ilgili olabilecek tüm taleplerimin bu sigorta sözleşmesinde kapsam dışı olduğunu kabul ve beyan ederim.
                            </label>
                        </div>

                        <button type="submit" class="page_button gradientbtn">
                            İleri
                        </button>
                    </div>
                </form>

                <div class="footer">
                    <div class="footer_top -hr">
                        <div class="footer_top_logo">
                            <img src="@(strUrlPrefix)/assets/image/logo-footer.png" alt="">
                        </div>
                        <div class="footer_top_content">
                            <a class="footer_top_img" href="">
                                <img src="@(strUrlPrefix)/assets/image/albaraka.png" alt="">
                            </a>
                            ve
                            <a class="footer_top_img" href="">
                                <img src="@(strUrlPrefix)/assets/image/kuveytturk.png" alt="">
                            </a>
                            iştirakıdır.
                        </div>
                    </div>
                    <div class="footer_bottom">
                        <div class="footer_bottom_contact">
                            <span class="footer_bottom_text">Bilgi Toplum Hizmeti</span>
                            <span class="footer_bottom_text">0 (850) 226 0 123</span>
                        </div>
                        <div class="footer_bottom_gri">
                            <a href="http://www.gricreative.com/" target="_blank">
                                <svg class="footer__bottom__gricreative__logo" width="63px" height="12px" viewBox="0 0 63 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path d="M7 8.206c0 1.115-.197 1.83-.604 2.4C5.84 11.382 4.748 12 3.401 12 1.37 12 .406 10.74.163 9.685h1.799c.14.315.395.545.673.69.325.183.662.231.86.231.928 0 1.938-.667 1.938-2.048v-.57C5.108 8.594 4.423 9.2 3.32 9.2 1.451 9.2 0 7.71 0 5.624 0 3.406 1.52 2 3.32 2c.94 0 1.741.448 2.113 1.115v-.897H7v5.988zM1.556 5.612c0 1.188.812 2.097 1.95 2.097.58 0 1.045-.218 1.381-.582.348-.363.546-.86.557-1.442 0-.521-.15-1.067-.476-1.467-.301-.412-.789-.679-1.474-.679-1.056 0-1.95.849-1.95 2.073h.012zM8 2.206h1.351v.896C9.617 2.497 10.106 2.012 11 2v1.635h-.064c-1 0-1.51.533-1.51 1.708V9H8V2.206zM12 0h1.75v1.417H12V0zm0 2.321h1.75V9H12V2.321zM22 6.388C21.619 7.858 20.298 9 18.571 9 16.452 9 15 7.376 15 5.494 15 3.541 16.524 2 18.512 2 20.19 2 21.619 3.047 22 4.659h-1.631c-.274-.694-.929-1.188-1.798-1.188-.583-.012-1.035.188-1.428.564-.345.365-.548.894-.548 1.47 0 1.19.845 2.036 1.976 2.036 1 0 1.56-.588 1.798-1.13H22v-.023zM22.5 2.206h1.351v.896c.255-.605.745-1.09 1.649-1.102v1.635h-.064c-1 0-1.51.533-1.51 1.708V9H22.5V2.206zM41 8.8h-1.543v-.953C39.043 8.612 38.191 9 37.281 9 35.21 9 34 7.353 34 5.494 34 3.412 35.474 2 37.281 2c1.175 0 1.9.635 2.176 1.165V2.2H41v6.6zm-5.457-3.27c0 .823.575 2.011 1.969 2.011.863 0 1.427-.459 1.715-1.059.15-.282.23-.6.253-.93a2.152 2.152 0 0 0-.172-.928c-.265-.624-.875-1.165-1.796-1.165-1.267 0-1.97 1.035-1.97 2.07zM28.103 6.024c.071 1.058 1.022 1.647 1.924 1.635.772 0 1.295-.353 1.603-.894h1.64c-.321.73-.785 1.282-1.343 1.659-.558.388-1.211.576-1.912.576A3.482 3.482 0 0 1 26.5 5.518C26.5 3.648 27.984 2 29.991 2c.998 0 1.865.376 2.494 1.012.808.823 1.117 1.859.986 3.023h-5.368v-.011zm3.8-1.2c-.059-.624-.736-1.506-1.9-1.495-1.175 0-1.817.847-1.876 1.495h3.776zM42.652 3.548H41.5V2.32h1.152V0h1.66v2.321H45.5v1.227h-1.189V9h-1.66zM46.5 0h1.75v1.417H46.5V0zm0 2.321h1.75V9H46.5V2.321zM52.83 9h-1.673L48.5 2h1.776L52 6.891 53.724 2H55.5zM57.106 6.024c.071 1.058 1.023 1.647 1.927 1.635.773 0 1.297-.353 1.606-.894h1.642c-.322.73-.785 1.282-1.345 1.659-.559.388-1.213.576-1.915.576A3.485 3.485 0 0 1 55.5 5.518C55.5 3.648 56.987 2 58.997 2c1 0 1.868.376 2.487 1.012.809.823 1.118 1.859.987 3.023h-5.365v-.011zm3.795-1.2c-.06-.624-.726-1.506-1.892-1.495-1.177 0-1.82.847-1.891 1.495H60.9z"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- popup -->
        <input type="checkbox" id="popup-success" class="popup-input" popup-success>
        <div class="modal" popup-modal>
            <div class="modal-wrapper">
                <label for="popup-success" class="modal__close">X</label>
                @*
                    <div class="modal_title" popup-success-title>
                    </div>
                    <div class="modal_circle">
                         <svg class="modal-icon-error" xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9">
                            <path fill="#FFF" fill-rule="nonzero" d="M4.485 3.071L7.314.243a1 1 0 0 1 1.414 1.414L5.899 4.485l2.829 2.829a1 1 0 0 1-1.414 1.414L4.485 5.899 1.657 8.728A1 1 0 1 1 .243 7.314L3.07 4.485.243 1.657A1 1 0 1 1 1.657.243L4.485 3.07z" />
                        </svg>
                        <svg class="modal-icon-success" xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9">
                            <path fill="#FFF" fill-rule="evenodd" d="M4.243 6.192L9.899.536a1 1 0 1 1 1.415 1.414L4.95 8.314a1 1 0 0 1-1.414 0L.707 5.485a1 1 0 1 1 1.414-1.414l2.122 2.121z" />
                        </svg>

                    </div>

                *@
                <p class="modal_content" popup-success-msg>
                </p>
            </div>
        </div>
        <!-- popup -->
    </div>

    <script src="@(strUrlPrefix)/assets/script/main.js"></script>
    <!-- endinject -->
    <!-- page:assets/script/home.js -->
    <script src="@(strUrlPrefix)/assets/script/home.js?1538143723304"></script>
    <!-- endinject -->
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>
        openPopup('-error', 'Mesaj', '@(Html.Raw(ViewBag.Message))');
        </script>
    }

    <input type="checkbox" id="modal" class="modal__checkbox" modal="">
    <div class="modal" modal-container="">
        <label for="modal" class="modal__backdrop"></label>
        <div class="modal__content">
            <label for="modal" class="modal__close outside">X</label>
            <div class="overflow-scroll">
                <p><strong>ÇAĞRI MERKEZİ, FAX VE İNTERNET HİZMETLERİ SÖZLEŞMESİ</strong></p>
                <p>Bu sözleşme, Saray Mahallesi Dr. Adnan Büyükdeniz Caddesi No:2 Akkom Ofis Park-Kelif Plaza Kat:2 Ümraniye / İstanbul adresinde mukim Katılım Emeklilik ve Hayat A.Ş. ile, adresi Şirket’te kayıtlı ve adı soyadı ve T.C. Kimlik Numarası işbu sözleşmenin sonunda yer alan Sigortalı/Sigorta Ettiren arasında, Sigortalı/Sigorta Ettiren’in Şirket’in sağlayacağı internet ve/veya telefon aracılığıyla sunduğu elektronik hizmetlerden yararlanması hususunda düzenlenmiş olup, anılan hizmetlere aşağıdaki hüküm ve esasların uygulanması kararlaştırılmıştır. İşbu sözleşme imzalandığı tarihten itibaren Sigortalı/Sigorta Ettiren tarafından sahip olunan Şirket nezdindeki tüm Sigorta Sözleşmeleri için geçerli olacaktır.<br /><br /></p>
                <p><strong>MADDE 1 - TANIMLAR</strong></p>
                <p><strong>Şirket: </strong>Katılım Emeklilik ve Hayat A.Ş.‘yi,</p>
                <p><strong>Sigortalı: </strong>Sigortaya konu olan teminat kapsamındaki tehlikelerden herhangi birinin gerçekleşmesi halinde, meydana gelen hasarın tazmini talebinde bulunmaya yasal yetkili olan fiil ehliyete sahip gerçek kişiyi,</p>
                <p><strong>Sigorta Ettiren: </strong>Sigorta ettiren, sigortayı yaptıran ve bedelini karşılayan fiil ehliyete sahip gerçek ve/veya tüzel kişidir,</p>
                <p><strong>Elektronik Hizmetler: </strong>Sigortalı/Sigorta Ettiren kablolu ve kablosuz iletişim sistemleri ile teknik şartları haiz Bilgisayar, Avuç içi/Dizüstü Bilgisayar, GSM, Televizyon, Telefon, Faks vb. araçlar üzerinden İnternet, GPRS, WAP, Sesli Yanıt Sistemi, Telefon, Faks gibi Şirket’in istediği zaman kullanıma sunacağı uygulamalarla Şirket sistemine bağlanması, münhasıran kendisine ait bilgilerle gerçekleştirilecek güvenlik kontrolleri neticesinde Şirket’in belirleyeceği limitler dâhilinde hesapları üzerinde her türlü işlem ve sorgulama ile Şirket’in daha sonra kullanıma sunabileceği diğer işlemleri yapabilmesi olanağını ifade eder.<br /><br /></p>
                <p><strong>MADDE 2- </strong>Şirket, Sigortalı/Sigorta Ettiren internet ve/veya telefon aracılığıyla verilecek hizmetlerden faydalanabilmesi için Sigortalı/Sigorta Ettiren teklif aşamasında ilgili mevzuata uygun olarak alınan rızası ile verdiği bilgiler ile Sigortalı/Sigorta Ettiren güvenlik kontrolü uygulayacaktır. Şirket, değişiklikler sonucu ve/veya her hangi bir gerekçeyle, Sigortalı/Sigorta Ettiren uyguladığı güvenlik kontrolünü değiştirebilir, farklı teknik esaslar uygulayabilir. Bu durumda, Sigortalı/Sigorta Ettiren, Şirket’in gerekli göreceği her türlü değişikliğe uymayı peşinen kabul eder.</p>
                <p><strong>MADDE 3- </strong>Sigortalı/Sigorta Ettiren, Şirket tarafından kendisine yapılacak güvenlik kontrolleriyle, Şirket tarafından internet sayfası/telefon ile sunulan hizmetleri yapabilecektir. Ancak Sigortalı/Sigorta Ettiren internet ve/veya telefon yoluyla yapabileceği işlemlerin kapsamı, Şirket açısından bir taahhüt oluşturmayıp, Şirket herhangi bir zamanda ve tek taraflı olarak bu işlemlerin kapsamını geliştirmek ya da daraltmak hakkına sahiptir. Ayrıca Sigortalı/Sigorta Ettiren, Şirket tarafından verilen elektronik hizmetlerin kapsamının genişletilmesi yolu ile daha sonra ilave edilebilecek diğer işlemlerde de işbu sözleşme hükümlerinin uygulanacağını kabul eder.</p>
                <p><strong>MADDE 4- </strong>Sigortalı/Sigorta Ettiren, güvenlik kontrolü ile sözleşme bilgilerini görüntüleme, dinleme ve değişiklik işlemlerini yapabilir ve değişiklik talep edebilir. Ancak Şirket talep edilen değişiklikleri yürürlüğe alma konusunda serbesttir. Sigortalı/Sigorta Ettiren talebi ile gerçekleştirilen her türlü değişiklik işleminden Sigortalı/Sigorta Ettiren sorumludur.</p>
                <p><strong>MADDE 5- </strong>Sigortalı/Sigorta Ettiren, elektronik hizmetler ile ilgili işlemleri sistem gereği imzası olmaksızın, Şirket tarafından Sigortalı/Sigorta Ettiren, teklif formunda beyan ettiği bilgiler kullanılarak güvenlik kontrolleri ile yapacaktırSigortalı/Sigorta Ettiren, bu bilgileri üçüncü ş ahıslara ifşa etmeyeceğini, onların kullanımına vermeyeceğini, aksi halde sonuçlarından tamamıyla kendisinin sorumlu olduğunu, bu işlemlerin kendisi tarafından yapılmadığı yolundaki itiraz ve def’i haklarından peşinen feragat ettiğini, bu gibi usulsüz kullanımları yapan kişilerin kimliklerini Şirket’in tespit etmekle yükümlü olmadığını ve Şirket’e yazılı talimat vermediği sürece güvenlik kontrolü sonrası internet ve/veya sesli yanıt sistemi kullanımı suretiyle yapılan işlemlerin kendisini bağladığını peşinen kabul eder. Sigortalı/Sigorta Ettiren kişi kendi ihmali sonucunda meydana gelen yetkisiz erişimlerden doğan zararlardan Şirket’ berî kıldığını kabul ve beyan eder.</p>
                <p><strong>MADDE 6- </strong>Sigortalı/Sigorta Ettiren, internet ve/veya telefon aracılığıyla hizmet verilmesi için gereken donanım ve yazılım bizzat Sigortalı/Sigorta Ettiren tarafından temin edilmelidir.</p>
                <p><strong>MADDE 7- </strong>Sigortalı/Sigorta Ettiren, işbu Sözleşme kapsamındaki işlem ve hizmetler ile ilgili olarak Şirket’e yazılı, sözlü, internet, telefon ve/veya elektronik ortamlar aracılığı ile verdiği bilgilerin tamamının doğru, eksiksiz ve güncel olduğunu aksi halde doğacak her türlü zararlardan sorumlu olduğunu kabul eder.</p>
                <p><strong>MADDE 8- </strong>Sigortalı/Sigorta Ettiren, Şirket’in sunmuş olduğu her türlü elektronik hizmet ve ürünlerin kullanımı ile ilgili olarak veya bu ürün ve hizmetlerin kullanımı sırasında uğramış olduğu her türlü zarar ve kayıplardan Şirketi hiçbir şekilde sorumlu tutmayacağını, elektronik hizmetlerin kullanımı sırasında üçüncü kişilere zarar verdiği takdirde söz konusu zarardan bizzat sorumlu olduğunu kabul eder.</p>
                <p><strong>MADDE 9- </strong>Sigortalı/Sigorta Ettiren, hizmetleri kullanırken yürürlükteki yasalara aykırı davranmayacağını ve diğer Sigortalı/Sigorta Ettiren bu sözleşme kapsamındaki hizmetleri kullanmasını engelleyici veya zorlaştırıcı eylem ve uygulamalarda bulunmayacağını kabul, beyan ve taahhüt eder.</p>
                <p><strong>MADDE 10- </strong>Şirket, sözleşmeyi istediği anda tek taraflı olarak feshedebilir; gerekli gördüğü durumlarda Sigortalı/Sigorta Ettiren önceden bildirimde bulunmaksızın elektronik hizmetleri kısmen veya tamamen durdurabilir, Sigortalı/Sigorta Ettiren bu hizmetten yararlanmasına son verebilir. Sigortalı/Sigorta Ettiren, hizmetinin durdurulması nedeniyle uğrayabileceği zarar ve kayıplardan dolayı hiçbir şekilde Şirket’e rücu etmeyeceğini peşinen kabul eder.</p>
                <p><strong>MADDE 11- </strong>Sigortalı/Sigorta Ettiren hizmetlerin sunumuyla ilgili yazılı, görsel, işitsel, elektronik ve/veya fiziki ortamda bulunan tüm unsurların Şirketin mülkiyetinde olduğunu, bunları Ş irket’in izni olmaksızın kullanamayacağını, hizmet sırasında kullanılan yazılımların Şirkete ait olduğunu ve bu yazılım(lar)ın kullanımını düzenleyen lisans veya benzeri şartların kendisini de bağlayacağını kabul, beyan ve taahhüt eder.</p>
                <p><strong>MADDE 12- </strong>Sigortalı/Sigorta Ettiren, Şirket’in 6698 Sayılı Kişisel Verilerin Korunması Hakkında Kanun ve ilgili diğer mevzuat çerçevesinde öngörülen teknik ve idari önlemleri almasına rağmen işbu sözleşme kapsamındaki hizmetlerin verilmesi sırasında veya herhangi bir zamanda oluşabilecek arıza ve sair teknik nedenler sebebi ile bu hizmetlerin verilmesine ara veya son verilmesinden ya da hizmetin kesintiye uğramasından, aynı şekilde donan ım yazılım (hardware-software) ve internet sunucusundan kaynaklanan aksaklıklar sonucu oluşabilecek hatalar, zararlar, kayıplar, gecikmeler veya erken tecellilerden ve üçüncü ş ahısların kendilerine ait bilgilere erişiminden dolayı Şirket’in herhangi sorumluluğu olmayacağını kabul eder.</p>
                <p><strong>MADDE 13- </strong>Sigortalı/Sigorta Ettiren, Şirket tarafından kendisine sunulan elektronik hizmetleri kullanırken dile getirdiği tüm fikir, düşünce, ifade ve yazıların kendisine ait olduğunu, Şirket’in hiçbir şekilde sorumlu olmadığını, kabul, beyan ve taahhüt eder.</p>
                <p><strong>MADDE 14- </strong>18 yaşından küçüklerin veya vesayet altındaki kişilerin, Şirket tarafından sunulan elektronik hizmet ve ürünlerden yararlanabilmeleri kanuni temsilcilerinin onayı ile mümkündür. Bu ürün ve hizmetlerin bu kişiler tarafından kullanımı esnasında onları her türlü maddi ve manevi zarar ve kayıptan korumak kanuni temsilcilerin sorumluluğunda olup, şirket bu tür kayıp ve zararlardan dolayı mesul tutulmaz.</p>
                <p><strong>MADDE 15- </strong>Sigortalı/Sigorta Ettiren bedensel olarak, elektronik hizmetlerden yararlanamayacak ölçüde bir kazaya maruz kalması veya vefatı halinde, kendisine ait bilgilerle (güvenlik kontrolleri) işbu sözleşme çerçevesindeki hizmetler kapsamında yapılacak her türlü işlem nedeniyle Şirket’in herhangi bir sorumluluğu olmayacak ve mirasçılarının bu nedenlerle Şirket’ten hiçbir talep hakkı bulunmayacaktır.</p>
                <p><strong>MADDE 16- </strong>Şirket’in sunulan elektronik hizmet ve ürünlerle ilgili olarak verdiği genel ya da kişiye özel bilgi ve açıklamalar tam, uygun, güncel ve/veya yeterli olmayabilir. Sigortalı/Sigorta Ettiren, bunların tam, uygun, güncel ve/veya yeterli olmaması nedeniyle Şirket’i hiçbir şekilde mesul tutmayacağını peşinen kabul eder.</p>
                <p><strong>MADDE 17- </strong>Şirket’in çalışma saatleri ve/veya süreli hizmet saatleri dışında verilen Sigortalı/Sigorta Ettiren talimatları Ş irket’çe ertesi iş gününde gerçekleştirilmek üzere değerlendirmeye alınır. Ancak, Sigortalı/Sigorta Ettiren sunulan elektronik hizmetler kapsamında verdiği talimatları yerine getirip getirmemekte Şirket’in tamamen serbest olduğunu ve bu talimatların yerine getirilmemesinden yahut geç getirilmesi nedeniyle Şirket’in herhangi bir sorumluluğu bulunmadığını peşinen kabul eder.</p>
                <p><strong>MADDE 18- </strong>Bu Sözleşme kapsamındaki hizmetlerden yararlanırken erişim ve kullanımla ilgili her türlü masraf Sigortalı/Sigorta Ettiren aittir.</p>
                <p><strong>MADDE 19- </strong>Bu Sözleşme uyarınca ödenen/ödenecek ücret, masraf ve komisyonlar ile her türlü vergi, resim, harç ve diğer mali yükümlülükler Sigortalı/Sigorta Ettiren aittir.</p>
                <p><strong>MADDE 20- </strong>Sigortalı/Sigorta Ettiren, Şirket’in gerekli gördüğü hallerde, Sigortalı/Sigorta Ettiren elektronik hizmetleri kullanmak amacıyla verdiği bilgileri Sigortalı/Sigorta Ettiren mahremiyetine zarar vermeyecek şekilde ve ilgili mevzuata uygun olarak Sigortalı/Sigorta Ettiren rızasını almaksızın yapılacak yasal denetimler kapsamında üçüncü şahıslara/denetçilere/yetkililere vermeye yetkili olduğunu kabul eder.</p>
                <p><strong>MADDE 21- </strong>Sigortalı/Sigorta Ettiren, Şirket tarafından kendisine sigorta ile ilgili olarak elektronik posta (e-posta)/kısa mesaj (sms) gönderilmesine muvafakat verdiğini ve bu elektronik postaların (e-postaların) izni ve isteği dışında gönderildiği iddiası ile herhangi bir talepte bulunmayacağını kabul eder.</p>
                <p><strong>MADDE 22- </strong>Sigortalı/Sigorta Ettiren, elektronik hizmetlerden yararlandığı takdirde, Şirket’in yapılan işlemlerin sonucu hakkında herhangi bir bildirme yükümlülüğü ve taahhüdü olmadığını, işlemlerin sonuçlarını internet, telefon ve/veya diğer benzeri ortamlar aracılığı bizzat izleyip kontrol edebileceğini kabul eder.</p>
                <p><strong>MADDE 23- </strong>Sigortalı/Sigorta Ettiren, Şirket’in telefon aracılığı ile sunduğu hizmetlerden yararlanırken, Şirket yetkilileri ile yapacağı tüm telefon görüşmelerinin Şirket tarafından en çok beş yıl süre ile saklanmak üzere kayda alındığını (Şirket’in seçimine göre dijital veya kaset ortamında) bilincinde olduğunu, Şirket’teki kayıtların geçerliliğini peşinen kabul ettiğini, Şirket ile arasında çıkabilecek her türlü ihtilafta Şirket’in her türlü kayıt, belge ve defterleri ile keza bilgisayar ve ses kayıtlarının, mikrofilm ve mikrofişlerin tek ve kesin delil teşkil edeceğini ve bağlayıcı olacağını, bu kayıtlara karşı itirazlarını ancak yazılı belge ile kanıtlayabileceğini ve bu maddenin 6100 sayılı Hukuk Muhakemeleri Kanunu (HMK) 193’üncü maddesi anlamında bir delil sözleşmesi olduğunu kabul, beyan ve taahhüt eder. Ayrıca, Sigortalı/Sigorta Ettiren, Şirket tarafından tutulan her türlü defter ve kayıtların usulüne uygun tutulduğu hususunda yemin teklif haklarından peşinen feragat ettiğini kabul ve beyan eder.</p>
                <p><strong>MADDE 24- </strong>Taraflar (Sigortalı/Sigorta Ettiren Türkiye Cumhuriyeti resmi ülke sınırları içerisinde ikamet eden fiil ehliyeti olan gerçek kişi ve/veya tüzel kişi ) işbu Sözleşme‘den kaynaklanabilecek her türlü ihtilafın çözümlenmesinde Türk Hukuku’nun uygulanacağını ve İstanbul Mahkeme ve İcra Dairelerinin yetkili olacağını kabul ederler</p>
                <p><br /><br /><br /></p>
            </div>
        </div>
    </div>

    <input type="checkbox" id="modal2" class="modal__checkbox" modal="">
    <div class="modal" modal-container="">
        <label for="modal2" class="modal__backdrop"></label>
        <div class="modal__content">
            <label for="modal2" class="modal__close outside">X</label>
            <div class="overflow-scroll">
                <p><strong>VERİ SORUMLUSUNA İLİŞKİN BİLGİLER</strong></p>
                <p><strong>Ticari Ünvan: </strong>KATILIM EMEKLİLİK VE HAYAT A.Ş.</p>
                <p><strong>Adres: </strong>SARAY MAHALLESİ DR. ADNAN BÜYÜKDENİZ CADDESİ NO:2 AKKOM OFİS PARK 3. BLOK KAT:2 ÜMRANİYE / İSTANBUL</p>
                <p><strong>Tel-Fax: </strong>2169998100 - 2166921122</p>
                <p><strong>Tic.Sic.No: </strong>895027</p>
                <p><strong>Vergi No: </strong>5280641047</p>
                <p><strong>Mersis No: </strong>0528064104700018</p>
                <p><strong>MÜŞTERİLERİMİZ İÇİN 6698 SAYILI KİŞİSEL VERİLERİN KORUNMASI KANUNU</strong></p>
                <p><strong>KAPSAMINDA BİLGİLENDİRME<br /><br /></strong><strong>a) Kişisel Verilerin İşlenme Amaçları ve Hukuki Sebepleri:</strong></p>
                <p>Veri Sorumlusu olan Şirketimiz Katılım Emeklilik ve Hayat A.Ş tarafından kişisel verileriniz; 4632 sayılı</p>
                <p>Bireysel Emeklilik Tasarruf ve Yatırım Sistemi Kanunu ve 5684 Sayılı Sigortacılık Kanunu başta olmak üzere Sigortacılık, bilgilendirme yükümlülükleri dahil her türlü yükümlülüğümüzü yerine getirmek, ürün ve hizmetlerimizi sunmak, faaliyet konumuza giren her türlü işlemi gerçekleştirmek, işlem sahiplerinin bilgilerini tespit etmek, elektronik veya fiziki ortamda gerçekleştiren işlemlere dayanak olan tüm kayıt ve belgeleri düzenlemek; kamu otoritelerinin kararlarına uyum sağlamak, pazarlama, tanıtım, satış ve istatistik faaliyetlerini gerçekleştirmek, hizmet kalitesini artırmak, risk analizi, fiyatlandırma, tazminat değerlendirme süreçlerini yürütmek, sigorta ve bireysel emeklilik sözleşmelerinin kurulması ve ifasıyla ilgili her türlü işlemi gerçekleştirebilmek amacıyla ve Bireysel Emeklilik mevzuatı ile diğer ilgili mevzuattan kaynaklanan bilgi ve belge saklama, raporlama işlenmektedir. Özel nitelikli kişisel verileriniz ise; sözleşme ilişkisi içinde risk analizi, fiyatlandırma, tazminat değerlendirmesi yapmak ve benzer süreçleri gerçekleştirmek amacıyla işlenmektedir.(Özel nitelikli kişisel veriler, kişilerin ırkı, etnik kökeni, siyasi düşüncesi, felsefi inancı, dini, mezhebi veya diğer inançları, kılık ve kıyafeti, dernek, vakıf ya da sendika üyeliği, sağlığı, cinsel hayatı, ceza mahkûmiyeti ve güvenlik tedbirleriyle ilgili verileri ile biyometrik ve genetik verileri olarak tanımlanmaktadır.<strong> <br /><br /></strong><strong>b) Kişisel Verilerin Aktarılabileceği Kişi/Kuruluşlar ile Kişisel Verilerin Aktarılma Amaçları:</strong></p>
                <p>Şirketimiz tarafından kişisel verileriniz; mevzuat hükümlerinin izin verdiği kişi ve kuruluşlar ile kamu makamlarına, hissedarlarımız Kuveyt Türk Katılım Bankası A.Ş. ile Albaraka Türk Katılım Bankası A.Ş. ve iştiraklerine ve gizlilik sözleşmeleriyle kişisel verilerinizi güvence altına aldığımız iş ilişkisi içinde bulunduğumuz yurt içi ve dışında bulunan kuruluşlara aktarılabilir. Kişisel verileriniz ilgili kurum ve kuruluşlara, 4632 sayılı Bireysel Emeklilik Tasarruf ve Yatırım Sistemi Kanunu ve 5684 Sayılı Sigortacılık Kanunu başta olmak üzere Sigortacılık ve Bireysel Emeklilik mevzuatı ile diğer ilgili mevzuattan kaynaklanan bilgi ve belge saklama, raporlama, bilgilendirme yükümlülükleri dahil her türlü yükümlülüğümüzü yerine getirmek, ürün ve hizmetlerimizi sunmak, faaliyet konumuza giren her türlü işlemi gerçekleştirmek, işlem sahiplerinin bilgilerini tespit etmek, elektronik veya fiziki ortamda gerçekleştiren işlemlere dayanak olan tüm kayıt ve belgeleri düzenlemek; kamu otoritelerinin kararlarına uyum sağlamak, pazarlama, tanıtım, satış ve istatistik faaliyetlerini gerçekleştirmek, hizmet kalitesini artırmak, risk analizi, fiyatlandırma, tazminat değerlendirme süreçlerini yürütmek, sigorta ve bireysel emeklilik sözleşmelerinin kurulması ve ifasıyla ilgili her türlü işlemi gerçekleştirebilmek amacıyla aktarılabilir. Özel nitelikli kişisel veriler ise, gizlilik sözleşmeleri ile söz konusu verilerinizi güvence altına aldığımız ve ilgili mevzuata uygun şekilde ürün ve hizmetlerimizi sunmak ve faaliyet konumuza giren işlemleri gerçekleştirmek üzere hizmet aldığımız yurt içi ve dışında bulunan şirketlere aktarılabilir.<br /><br /><strong>c) Verilerin Toplanma Yöntemi ve Hukuki Sebepleri:</strong></p>
                <p>Şirketimiz tarafından kişisel ve özel nitelikli kişisel verileriniz; 4632 sayılı Bireysel Emeklilik Tasarruf ve Yatırım Sistemi Kanunu, 5684 Sayılı Sigortacılık Kanunu başta olmak üzere Sigortacılık ve Bireysel Emeklilik mevzuatı ile diğer ilgili mevzuattan kaynaklanan bilgi ve belge saklama, raporlama, bilgilendirme yükümlülükleri dahil her türlü yükümlülüğümüzü yerine getirmek, ürün ve hizmetlerimizi sunmak, faaliyet konumuza giren her türlü işlemi gerçekleştirmek, kamu otoritelerinin kararlarına uyum sağlamak, ürün ve hizmetlerimizi sunmak, faaliyet konumuza giren her türlü işlemi gerçekleştirmek amacıyla, sözlü, görsel yahut yazılı olarak, fiziki yahut elektronik ortamda tamamen veya kısmen otomatik olan ya da herhangi bir veri kayıt sisteminin parçası olarak otomatik olmayan yollarla toplanmaktadır.</p>
                <p>Kişisel ve özel nitelikli kişisel verileriniz, Genel Müdürlük, iştiraki olduğumuz Bankalarımız Şubeleri, Acentelerimiz, İnternet ve Mobil Şubelerimiz, Çağrı Merkezleri gibi kanallar aracılığı ile Bireysel Emeklilik ve Hayat&amp;Ferdi Kaza&amp;Sağlık Sigortacılığı işlemlerinin yürütülmesi için yapılan temel uygulama yazılım paketimiz ve iş akış uygulaması, çağrı merkezi uygulaması gibi yan yazılım paketleri kullanılarak toplanmakta ve işlenmektedir. Söz konusu verileriniz, Oracle ve MS SQL gibi genel kullanıma açık olmayan güvenli ortamlarda saklanmakta ve yetkisiz kişilerin erişimini önlemek üzere her türlü önlem alınmaktadır.<br /><br /><strong>d) Haklarınız:</strong></p>
                <p>Şirketimizin www.katilimemeklilik.com.tr adresine yazılı olarak başvuruda bulunarak veya 0(850) 226 0 123 çağrı merkezimizden kişisel verilerinizin işlenip işlenmediğini öğrenme, kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme, kişisel verilerinizin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme, kişisel verilerinizin yurt içinde veya yurt dışında üçüncü kişilere aktarılıp aktarılmadığını ve aktarıldı ise bu kişileri ya da kişi kategorilerini öğrenme, kişisel verilerinizin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme, kişisel verilerinizin işlenmesini gerektiren sebeplerin ortadan kalkması halinde bu verilerinizin silinmesi ya da yok edilmesini talep etme, talebiniz doğrultusunda gerçekleştirilen düzeltme, silme ve yok etme işlemlerinin kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini talep etme, işlenen kişisel verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıkması durumunda, söz konusu sonuçlara itiraz etme ve kişisel verilerinizin mevzuata aykırı</p>
                <p>olarak işlenmesi sebebiyle zarara uğramanız halinde zararın giderilmesini talep etme haklarınızı kullanabilirsiniz.</p>
                <p><strong>MÜŞTERİ BEYANI VE RIZASI</strong></p>
                <p>Yukarıda yer alan açıklamaları okudum, anladım ve bilgilendim. Kişisel verilerimin ve özel nitelikli kişisel verilerimin yukarıda yer alan amaçlarla işlenmesine açık rızam bulunduğunu belirtirim.</p>
            </div>
        </div>
    </div>

    <input type="checkbox" id="modal3" class="modal__checkbox" modal="">
    <div class="modal" modal-container="">
        <label for="modal3" class="modal__backdrop"></label>
        <div class="modal__content">
            <label for="modal3" class="modal__close outside">X</label>
            <div class="overflow-scroll">
                <p><strong>KADINCA GÜVEN KRİTİK HASTALIK KATILIM SİGORTASI BİLGİLENDİRME FORMU (HAYAT SİGORTASI)<br /><br /></strong>En az iki nüsha olarak düzenlenen bu form, sigorta sözleşmesine taraf olmak isteyen ve sigortadan menfaat sağlayacak diğer kişilere, yapılacak sigorta sözleşmesine ilişkin genel amaçlı bilgi vermek amacıyla 28.10.2007 tarihli Resmi Gazete’de yayımlanan Sigorta Sözleşmeleri’nde Bilgilendirmeye İlişkin Yönetmeliğe istinaden hazırlanmıştır.</p>
                <strong><br />A. SİGORTACIYA İLİŞKİN BİLGİLER (Bu alan sigortacı veya acente tarafından doldurulacaktır.) </strong><br />
                <table width="633" cellspacing="0" cellpadding="7">
                    <colgroup><col width="112" /> <col width="491" /> </colgroup>
                    <table width="633" cellspacing="0" cellpadding="7">
                        <colgroup><col width="112" /> <col width="491" /> </colgroup>
                        <tbody>
                            <tr>
                                <td colspan="2" valign="top" width="617" height="3"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>1. Sözleşmeye aracılık eden sigorta acentesinin;</b></span></span></td>
                            </tr>
                            <tr valign="top">
                                <td width="112" height="5"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Ticaret Ünvanı </b></span></span></td>
                                <td width="491"></td>
                            </tr>
                            <tr valign="top">
                                <td width="112" height="4"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Adresi</b></span></span></td>
                                <td width="491"></td>
                            </tr>
                            <tr valign="top">
                                <td width="112" height="3"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Tel &amp; Faks No</b></span></span></td>
                                <td width="491"></td>
                            </tr>
                        </tbody>
                    </table>
                    &nbsp;
                    <table width="633" cellspacing="0" cellpadding="7">
                        <colgroup><col width="112" /> <col width="491" /> </colgroup>
                        <tbody>
                            <tr>
                                <td colspan="2" valign="top" width="617" height="3"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>2.Teminatı veren sigortacının;</b></span></span></td>
                            </tr>
                            <tr valign="top">
                                <td width="112" height="5"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Ticaret Ünvanı </b></span></span></td>
                                <td width="491"><span style="font-family: Arial, serif;"><span style="font-size: small;">KATILIM EMEKLİLİK VE HAYAT A.Ş.</span></span></td>
                            </tr>
                            <tr valign="top">
                                <td width="112" height="4"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Adresi</b></span></span></td>
                                <td width="491"><span style="font-family: Arial, serif;"><span style="font-size: small;">SARAY MAHALLESİ DR. ADNAN BÜYÜKDENİZ CADDESİ NO:2 AKKOM OFİS PARK 3. BLOK KAT:2 ÜMRANİYE / İSTANBUL</span></span></td>
                            </tr>
                            <tr valign="top">
                                <td width="112" height="3"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Tel &amp; Faks No</b></span></span></td>
                                <td width="491"><span style="font-family: Arial, serif;"><span style="font-size: small;">(0216) 999 81 00 &amp; (0216) 69​2 11 22</span></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <strong>B.TEMİNATLAR</strong>
                    <br />
                    <p> <strong>Ölme ihtimaline karşı verilen teminat</strong></p>
                    <p> <strong>Sözleşme süresi içinde ölüm: </strong>Sözleşmede gösterilen süre içinde sigortalı vefat ederse, sigorta bedeli, sözleşme hükümleri ve hayat sigortası genel şartları çerçevesinde, sigortacı tarafından tazminat olarak ödenir.</p>
                    <p> <strong>Kadın Kanserleri Teminatı: </strong>Sigortalının, teminat başlangıç tarihinden sonraki bir tarihte, aşağıda adı geçen Kadına özel kanser hastalıklardan birine, hayatında ilk kez teşhis konulduğuna veya ameliyat edildiğine dair yazılı ispat belgesi sunucunda, poliçe üzerinde belirtilen teminat tutarı Katılım Emeklilik ve Hayat A.Ş. tarafından rizikonun gerçekleşmesi halinde ödenir.</p>
                    <p> Bu teminat içerisinde aşağıdaki kadına özel kanser hastalıkları bulunmaktadır. Bu hastalıklar;</p>
                    <ul>
                        <li>Meme kanseri,</li>
                        <li>Rahim kanseri,</li>
                        <li>Rahim ağzı kanseri,</li>
                        <li>Rahim içi kanseri,</li>
                        <li>Yumurtalık kanseri,</li>
                        <li>Tüpler, vajina/vulva tümörler</li>
                    </ul>
                    <p><strong> </strong></p>
                    <p><span style="color: #000000;">Kadına özel kanser teminatının başlaması için başlangıç tarihinden veya poliçede değişiklik yapıldıysa değişikliğin yapıldığı tarihten itibaren 60 günlük muafiyet süresi uygulanır. Sigortanın kesintisiz ve aynı şartlarla yenilenmesi halinde bu süre ortadan kalkar.</span><br /><span style="color: #000000;">Kadına özel kanser teminatı kapsamında sigortalının yukarıda belirli kanserlerden birine yakalanması ve hastalığın belgelenmesinden itibaren başlayan 30 günlük bekleme süresi sonunda sigortalı halen hayatta ise tedavi masraflarından bağımsız olarak belirlenen teminat tutarı sigortalıya tek seferde ödenir.</span><br /><span style="color: #000000;">Kadın kanserleri teminatı ek ödemeli bir teminattır. Poliçenin başlangıç tarihinden itibaren 60 günden sonra ortaya çıkan kadına özel kanser hastalıklarında ilgili hastalıkların kesin tespiti sonrasında sigortalının 30 günlük süre sonunda yaşıyor olması halinde poliçede belirtilen tazminat tutarında ödeme yapılır. Bu 30 günlük süre içinde sigortalının vefatı durumunda sadece ana teminat olan vefat tazminatı ödenir.</span><br /><br /></p>
                    <p><span style="color: #000000;"><strong>Kadın Kanserleri:</strong> Hücrelerin kontrolsüz çoğalması ve yayılarak dokuları işgal etmesi ile karakterize olan kötü huylu tümörlerdir. Teminat kapsamına alınan kanserler kadın organlarını ilgilendiren primer (menşeini bizzat ilgili organdan alan, başka bir yerden sıçramamış olan) kanserlerdir.</span><br /><span style="color: #000000;">Tanının geçerliliği olan bir patoloji raporu ve konunun yetkili bir uzman tarafından doğrulanmış olması şarttır.</span></p>
                    <p><span style="color: #000000;">Aşağıda haller kapsam dışındadır;</span></p>
                    <ul>
                        <li><span style="color: #000000;">Karsinoma in-situ, in-situ kanser, invaziv (yayılmacı) olmayan kanser, displazi ve tüm pre-malignite durumları</span></li>
                    </ul>
                    <ul>
                        <li><span style="color: #000000;">Kan, tükürük, dışkı, idrar veya herhangi bir başka vücut sıvısında, daha kesin ve klinik olarak doğrulanabilir kanıt olmadan, tümör hücreleri ve / veya tümörle ilişkili moleküller bulma temelinde teşhis edilen kanser türleri</span></li>
                    </ul>
                    <ul>
                        <li><span style="color: #000000;">Histolojik açıdan iyi huylu (benign), pre-malign (iyi huyludan kötü huyluya geçiş bulgularına sahip), malign sınırında (borderline malign; kötü huylu tümörlerdeki bulguların ortaya çıkmak üzere olduğu), düşük malign potansiyelli, ya da non-invaziv (başka dokulara atlama özelliği göstermeyen) tüm tümörler</span></li>
                    </ul>
                    <p></p>
                    <ul>
                        <li><span style="color: #000000;">HIV enfeksiyonu varlığında ortaya çıkan, lenfoma ya da Kaposi sarkomu ile birlikte her çeşit kanser</span></li>
                    </ul>
                    <span style="color: #000000;"><strong>C. VERGİ UYGULAMASI<br /><br /></strong></span>
                    <span style="color: #000000;"><strong>  1.</strong>Hayat sigortası için ödenen katkı primleri vergiye esas matrahtan düşülebilir. Bu konuda sigortacınıza danışınız.<br /></span>
                    <br />
                    <span style="color: #000000;"><strong>D. GENEL BİLGİLER<br /><br />  1. </strong>Sigortacının ödeyeceği tazminat, sözleşmenin kurulması sırasında, ilke olarak, herhangi bir sınırlandırmaya tabi olmaksızın taraflarca serbestçe belirlenir.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  2. </strong>Birden fazla sigortacıya aynı veya değişik bedeller üzerinden sigorta yaptırılabilir. Bu durumda her bir sigortacının tazminat ödeme borcu birbirinden bağımsızdır.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  3. </strong>Küçüklerin (reşit-sezgin olmayanların), mahcurların (kısıtlıların) ve mümeyyiz (ergin) olmayanların ölümü üzerine sigorta geçersizdir. Ancak, bunların yaşama ihtimaline karşı sigorta yapılabilir.İşbu sigortanın prim ödemesinden muaf sigorta, sigortadan ayrılma değerleri ve matematik karşılık değerleri yoktur.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  4. </strong>Aksine sözleşme yoksa sigorta katkı primi peşin ödenir. Katkı priminin ilk taksidi veya tamamı bir defada ödenmesi gereken sözleşmelerde katkı priminin tamamı belirtilen vadeden itibaren 1 ay içerisinde ödenmez ise ihtar keşidesine gerek olmaksızın sözleşmeden cayılmış ve sözleşme kendiliğinden feshedilmiş olacaktır.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  5. </strong>Sigorta katkı priminin tamamının veya taksitli yapılan ödemelerde katkı priminin ilk taksitinin, poliçenin tesliminde ödenmesi gerekir. İlk katkı prim ödenmeden rizikonun gerçekleşmesi durumunda sigortacının sorumluluğu başlamaz.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  6. </strong>Sözleşme süresi içinde, sigorta ettirenin talebi ve sigortacının da kabulü halinde sigorta bedeli artırılabilir.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  7. </strong>Sigortacı ile sigorta sözleşmesi yapmak isteyen kişinin, sözleşmenin yapılması için verdiği teklifname, teklifname tarihinden itibaren 30 gün içinde reddedilmemişse sigorta sözleşmesi kurulmuş sayılır. Teklifnamenin verilmesi sırasında yapılmış ödemeler, sözleşmenin yapılmasından sonra katkı primi olarak kabul edilir veya ilk katkı primine say ılır. Bu ödemeler, sözleşme yapılmadığı takdirde, kesinti yapılmadan, geri verilir.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  8.</strong> Sigorta başlangıç tarihinden itibaren 30 gün içinde alınan iptal taleplerinde ödenmiş olan tüm katkı primleri iade edilir.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  9.</strong> Sigorta başlangıç tarihinden itibaren 30 gün sonrası iptallerde gün esaslı iptal yapılır.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  10. </strong>İleride doğabilecek birtakım ihtilafları önlemek için, katkı primi ödemelerinizde (peşin veya taksitle) ödeme belgesi almayı unutmayınız.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  11.</strong> Sözleşme kurulmadan önce, teklifnamede yer alan sorulara doğru cevap verilmesi gereklidir. Bu yükümlülüğün ihlali halinde sigortacının sözleşmeden cayma veya ek katkı primi almak suretiyle sözleşmeye devam etme hakları saklıdır. Bu nedenle sözleşmenin her aşamasında sigortacıya eksik veya yanlış bilgi vermekten kaçınınız. Aksi takdirde, tazminat ödeme süresi uzayabilir, tazminatı eksik alma veya almama halleri ortaya çıkabilir. Bu yükümlülük lehtar için de geçerlidir. Beyan yükümlülüğünün kasıtlı ihlalinde sigortacı riziko gerçekleşmiş olsa bile sözleşmeden cayabilir ve katkı primine hak kazanır.</span>
                    <br />
                    <br />
                    <strong>  12.</strong> İşbu hayat sigortası teklifi sadece kadın müşterilere sunulmaktadır.
                    <br />
                    <br />
                    <strong>  13. </strong>Müşteri başına bu üründen azami bir ürün alınması gerekmektedir. Aynı T.C kimlik numarası ile bir sigortalı birden fazla ürün satın alamaz. Şirket risk gerçekleşmesi durumunda ilk satışı yapılan ürün üzerinden değerlendirme yapar.
                    <br />
                    <br />
                    <strong>  14. </strong>Aşağıdaki haller sigorta teminatı dışındadır:
                    <br />
                    <br />
                    <strong><span style="color: #000000;">          a) </span></strong>
                    <span style="color: #000000;">Sigortalı, sigortacıyı haberdar etmeksizin ticari hava hatları üzerinde yolcu nakline ruhsatlı işletmelerin uçak veya herhangi bir hava gemisinde ancak, yolcu sıfatıyla seyahat edebilir. Hayatı sigortalanan kişinin ölümü yolcu sıfatı dışında havada yapılan yolculuklar esnasında olursa, şirket yalnız riyazi ihtiyatı ödemekle yükümlüdür; ölüm tazminatı ödenmez</span>
                    <strong><br /></strong>
                    <br />         
                    <strong>b)</strong> Sigortalı,  yenilemeler  de  dâhil  olmak  üzere,  en  az  üç  yıldan  beri  devam  eden  ve  ölüm ihtimaline karşı yapılan bir sözleşmede, bu süre geçtikten sonra intihar ederse veya intihara teşebbüs sonucu ölürse, sigortacı sigorta bedelini ödemekle yükümlüdür. Sigortalının intiharı veya intihara teşebbüsü sonucu ölümü, akli melekelerindeki bir rahatsızlık sebebiyle üç yıldan önce gerçekleşmiş ise sigortacı sigorta bedelini ödemek zorundadır.
                    <br />
                    <br />     
                    <span style="color: #000000;">     <strong>c)</strong> Sigortadan faydalanan kimse hayatı üzerine sigorta yapmış olanı öldürmüş veya onun öldürülmesinde herhangi bir şekilde suç ortaklığı etmişse sigorta bedelinden mahrum kalır ve bu bedel ölenin mirasçılarına ait olur.</span>
                    <br />
                    <br />
                    <span style="color: #000000;">         <strong> d) </strong>Aksi sözleşme ile kararlaştırılmadıkça, sigorta savaş halinde geçerli değildir. Ancak, sigortalı savaş esnasında ve savaş hareketleri dolayısıyla ölürse, ölüm tarihindeki riyazi </span>
                    <br />
                    <span style="color: #000000;">ihtiyatlar, ödeme tarihine kadar geçecek süreye ait teknik kar payıyla birlikte hak sahiplerine ödenir.</span>
                    <br />
                    <br />
                    <span style="color: #000000;">   <strong>       e) </strong>Sigortalı, aksine bir sözleşme olmadığı sürece, AIDS, nükleer, biyolojik ve kimyasal silah kullanımı veya nükleer, biyolojik ve kimyasal maddelerin açığa çıkmasına neden olacak her türlü saldırı ve sabotaj veya tedavi amaçlı olanlar hariç nükleer rizikolar sonucu ölürse, sigortacı, yalnız riyazi ihtiyatı ödemekle yükümlüdür.</span>
                    <br />
                    <br /> 
                    <span style="color: #000000;"> 15. </span>
                    <span style="color: #000000;">Sigorta hakkında daha ayrıntılı bilgi için, Şirketimiz internet sitesinde yer alan Hayat Sigortası Genel Şartlarını ve Hayat Grubu Sigortaları Yönetmeliğini dikkatlice okuyunuz.</span>
                    <br />
                    <br />
                    <span style="color: #000000;">  <strong>Kadın Kanserleri Teminatına İlişkin Genel Bilgiler<br /><br />  1. </strong>Sigorta süresi 1 yıldır. 18 – 65 (dâhil) yaşları arasında sağlıklı kadınlar bu sigortayı yaptırabilir. Sigorta ettirenin aksi bildirimi olmadığı ve şirket ürünün satışına devam ettiği müddetçe her halükarda 5 yıl boyunca otomatik olarak yenilenir. Azami yenileme 66 yaşına kadar yapılacaktır. Şirket ürünü yenilememe hakkını saklı tutar. Ürünün otomatik yenilenmesi sayesinde de ek bir beyana ihtiyaç olmadan vadesi sonunda poliçe otomatik olarak kişinin yeni yaşına göre yenilenir. Sigorta katkı priminin taksitinin vadesinde ödenmemesi nedeniyle poliçenin iptal edilmesi durumunda otomatik yenileme sona erer. Otomatik yenileme yapılmadığı durumda, sigorta ettirene şirket tarafından SMS/e-posta/telefon ve sair yollarla bilgilendirme yapılır. İptal, tazminat ödemesi vb. bir nedenle sona eren poliçeler için yenileme yapılmaz. Bu poliçenin teminatları, ilk katkı primi tahsilatının yapılması halinde başlar. Poliçedeki katkı primi ödeme tarihleri kesin vade niteliğinde olup, herhangi bir katkı priminin vadesinde ödenmemesi halinde sözleşme, mehil verilmesine ve fesih ihbarına gerek kalmaksızın sona erer.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  2. </strong>Sigorta ettiren, riziko gerçekleşmeden önce sözleşmeyi feshettiği takdirde, sigortacı fesih tarihi itibariyle gün esasına göre katkı primi iadesini yapacaktır.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  3.</strong> Sigorta Ettirenin/Sigortalının sigorta başvuru formu ve bunu tamamlayıcı belgelerde kendisine sorulan ve rizikonun takdirine etkili olacak sorularla ilgili olarak kasten gerçeğe aykırı veya eksik beyanda bulunduğunun tespit edilmesi halinde riziko gerçekleşmiş olsa bile sigortacı sözleşmeden cayabilir. Bu durumda sigorta teminatı sona erer, kalan sigorta müddeti için katkı primi iadesi yapılmaz ve riziko gerçekleşmiş olsa bile sigortalıya tazminat ödenmez.</span>
                    <br />
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  4.</strong> Kadın kanserleri teminatında risk gerçekleşmesi halinde, riziko katkı priminin ödenmemiş bulunan kısmı tazminattan düşülür.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>  5. </strong>Sigortalının kadın kanserleri riski gerçekleşmeden önce vefat etmesi halinde, teminat otomatikman sona erer ve kalan sigorta müddeti için katkı primi iadesi yapılmaz.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong><span style="color: #000000;">  6. </span></strong><span style="color: #333333;"><span style="color: #000000;">Sigortalının, poliçe başlangıç tarihinden itibaren ilk 60 gün içinde vefat etmesi halinde kadın kanserleri tazminatı ödenmeksizin sona erer ve kalan sigorta müddeti için katkı primi iadesi yapılmaz.</span><br /><br /></span></span>
                    <strong>  7.</strong> Sigortalının, kadın kanserleri hastalıklardan herhangi birinin teşhis veya ameliyat tarihini takip eden 30 gün içinde vefat etmesi halinde, kadın kanserleri tazminatı ödenmeksizin teminat sona erer ve kalan sigorta müddeti için katkı primi iadesi yapılmaz.
                    <br />
                    <br />
                    <strong>  8.</strong> Sigorta başlangıç tarihinden önce var olan tıbbi durumlar için kadına özel kanser tazminatı tazminatı ödenmez. “Sigorta başlangıç tarihinden önce var olan tıbbi durumlar” ifadesi; evresi ne olursa olsun herhangi bir hastalık, yaralanma, semptom ya da durumun sigorta başlangıç tarihinden önce; mevcut olan, ortaya çıkan, teşhis edilen, sigortalı adayı tarafından bilinmesi ya da sigortalı adayının ilgili sağlık problemi için doktora başvurmuş olması veya olmaması hallerini kapsar.
                    <br />
                    <br />
                    <strong>  9.</strong> Tazminat talebi, teminat altına alınan hastalıklardan birinin teşhis tarihinden, ameliyatlardan birinin gerçekleştiği tarihten veya ölüm tarihinden itibaren 2 yıl içinde sigorta şirketine yapılmalıdır. Aksi halde zaman aşımından dolayı ödeme yapılmaz.
                    <br />
                    <br />
                    <strong>  10. Sigortalıya, kadın kanserleri tazminatı ödenmişse bu teminat sona erer.</strong>
                    <br />
                    <br />
                    <strong>  11. </strong>Teminat kapsamında olan birden fazla rahatsızlığın ortaya çıkması halinde sadece bir kez ve ilk rahatsızlık için ödeme yapılır. Kadın kanserleri teminatı tedavi masraflarını içermez.
                    <br />
                    <br />
                    <strong>  12. Aşağıdaki haller nedeniyle ortaya çıkan kadın kanserleri teminatı kapsamı dışındadır:</strong>
                    <br />
                    <br />
                    <ul>
                        <li>Sigortalının, sigorta teminatının başladığı tarihte sahip olduğu ya da teminatın başladığı tarihten önce kayıtlı bir doktordan tıbbi tavsiye, tedavi veya danışmanlık hizmeti aldığı her türlü durum.</li>
                        <li>Dünya Sağlık Örgütü tarafından yapılan tanıma uygun şekilde, doğrudan ya da dolaylı olarak Edinilmiş Bağışıklık Yetersizliği Sendromu (AIDS) veya Bağışıklık Sisteminin çökmesine neden olan virüs (HIV) ile ilişkili her türlü durum.</li>
                        <li>AIDS ve buna bağlı komplikasyonlar.</li>
                    </ul>
                    <ul>
                        <li>Halk ayaklanması, terör, isyan ya da ihtilal, (ilan edilmiş ya da edilmemiş) savaş ya da savaşın yol açacağı her türlü eylem.</li>
                    </ul>
                    <ul>
                        <li>İyonizan ışınlar ya da nükleer yakıt veya nükleer yakıtın yanması sonucu oluşan her türlü nükleer atıktan kaynaklanan radyoaktivitenin yol açtığı kontaminasyon.</li>
                    </ul>
                    <ul>
                        <li>Her türlü patlayıcı nükleer yapı ya da buna bağlı nükleer bileşenin radyoaktif, zehirli, patlayıcı ve diğer tehlikeli özellikleri.</li>
                    </ul>
                    <ul>
                        <li>Nükleer rizikolar veya nükleer, biyolojik ve kimyasal silah kullanımı veya nükleer, biyolojik ve kimyasal maddelerin açığa çıkmasına neden olan her türlü saldırı ve sabotaj.</li>
                    </ul>
                    <ul>
                        <li>Yetkili olmayan bir doktor tarafından gerçekleştirilmiş her türlü tıbbi prosedür.</li>
                    </ul>
                    <ul>
                        <li>Harp veya harp niteliğindeki harekât, ihtilal, isyan, ayaklanma ve bunlardan doğan iç kargaşalıklar.</li>
                    </ul>
                    <ul>
                        <li>Cürüm işlemek veya cürme teşebbüs.</li>
                    </ul>
                    <ul>
                        <li>Tehlikede bulunan kişileri ve malları kurtarmak hali müstesna, sigortalının kendisini bile bile ağır bir tehlikeye maruz bırakacak hareketlerde bulunması.</li>
                    </ul>
                    <ul>
                        <li>Deprem, sel, yanardağ patlaması ve toprak kayması.</li>
                    </ul>
                    <ul>
                        <li>Sigortalının intihara teşebbüsü nedeniyle meydana gelebilecek hastalık veya yaralanma halleri.</li>
                        <li>Aşikâr sarhoşluk, doktor kontrolü dışında ilaç ve uyuşturucu maddeler kullanılması.</li>
                    </ul>
                    <ul>
                        <li>Motosiklet kullanma, ip kullanarak tırmanmayı gerektiren dağcılık, solunum cihazıyla dalma, uçak ve planör pilotluğu, paraşütçülük ve bunlarla sınırlı olmayan tehlikeli spor hareketleri ile profesyonel spor faaliyetleri.</li>
                    </ul>
                    <ul>
                        <li>Sigorta başlangıç tarihinden önce teşhis edilen, ancak sigortalı ve/veya sigorta ettirenin haberdar olduğu halde sigorta giriş formunda beyan etmemiş olduğu hastalıklar.</li>
                    </ul>
                    <ul>
                        <li>Poliçenin başlangıç tarihinden ve/veya teminat zeyilname ile verilmiş ise zeyilname başlangıç tarihinden itibaren Sigortacı tarafından tespit edilen ve katılım sertifikasında belirtilen muafiyet süresi içinde ortaya çıkan, tehlikeli hastalıklar ve ameliyatlar.</li>
                        <li>On iki ay içinde ikamet edilen ülkenin dışında aralıksız on üç haftadan fazla yaşanılması durumu.</li>
                        <li>
                            <p>Doğuştan gelen rahatsızlıklar kaynaklı durumlar.</p>
                            <p>Kadın kanserleri teminatı içerisindeki kapsam altına alınan kanser türleri dışındaki kanser ve tümörler.</p>
                        </li>
                    </ul>
                    <span style="color: #000000;"><strong>E. ÖDEMENİN YAPILMASI</strong></span>
                    <br />
                    <br />
                    <p><span style="color: #000000;"><strong>  1.</strong> Sigorta ettiren, sigorta bedelini ödeme borcunun doğmasının sağlamak amacıyla sigortalıyı öldürür veya öldürülmesinde suç ortaklığı ederse, sigortacı bedel ödeme borcundan kurtulur. Lehtar, sigortalıyı öldürmüş veya onun öldürülmesinde her hangi bir şekilde suç ortaklığı etmişse, sigorta bedelinden mahrum kalır ve bu bedel ölenin mirasçılarına ödenir.</span></p>
                    <p><br /><span style="color: #000000;"><strong>  2. </strong>Sigortalı, yenilemeler de dâhil olmak üzere, en az üç yıldan beri devam eden ve ölüm ihtimaline karşı yapılan bir sözleşmede, bu süre geçtikten sonra intihar ederse veya intihara teşebbüs sonucu ölürse, sigortacı sigorta bedelini ödemekle yükümlüdür. Sigortalının intiharı veya intihara teşebbüsü sonucu ölümü, akli melekelerindeki bir rahatsızlık sebebiyle üç yıldan önce gerçekleşmiş ise sigortacı sigorta bedelini ödemek zorundadır.</span></p>
                    <p><span style="color: #000000;"><strong></strong></span><br /><span style="color: #000000;"><strong>  3. </strong>Sigortalının vefatı durumunda, tazminat ödemesi kanuni mirasçıların bildireceği hesap numarasına yapılır.</span><br /><br /><span style="color: #000000;"><strong>  4. </strong>Ölüm rizikosuna karşı yapılmış sigortalarda, birden fazla kişi payları belirtilmeksizin lehtar olarak atanmışsa, sigorta bedeli üzerinde hepsi eşit oranda hak sahibidir. Hak sahiplerinden biri tarafından alınmayan pay, diğerlerinin payına eklenir. Mirasın reddi veya mirastan vazgeçme lehtarın hakkı üzerinde etkili olmaz.<strong><br /></strong></span><br /><span style="color: #000000;"><strong>  5. </strong>Tazminat başvurusu için gereken bilgi ve belgelere ilişkin listeyi, poliçenin hazırlanmasını müteakip sigortacınızdan isteyiniz.<strong><br /></strong></span><br /><span style="color: #000000;"><strong>  6. </strong>Rizikonun gerçekleşmesi durumunda gecikmeksizin, gerekli bilgi ve belgelerle birlikte ön sayfada adres ve telefonları yer alan sigortacıya başvuruda bulununuz.</span></p>
                    <p><span style="color: #000000;"><strong></strong></span><br /><span style="color: #000000;"><strong>  7. </strong>Sigorta tazminatı veya bedeli, rizikonun gerçekleşmesini müteakip ve rizikoyla ilgili belgelerin sigortacıya verilmesinden sonra sigortacının edimine ilişkin araştırmaları bitince ve her hâlde TTK’nin 1446ncı maddesine göre yapılacak ihbardan on beş gün sonra muaccel olur. Sigortacıya yüklenemeyen bir kusurdan dolayı inceleme gecikmiş ise süre işlemez.</span></p>
                    <p></p>
                    <p></p>
                    <strong>F. KESİNTİLER<br /></strong>
                    <br />
                    <table width="395" cellspacing="0" cellpadding="0">
                        <colgroup><col width="330" /><col width="65" /></colgroup>
                        <tbody>
                            <tr valign="bottom">
                                <td width="330" height="1"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Vekâlet Ücreti (%)</b></span></span></td>
                                <td width="65">
                                    <p align="right"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>: 60,00</b></span></span></p>
                                </td>
                            </tr>
                            <tr valign="bottom">
                                <td width="330" height="1"><span style="font-family: Arial, serif;"><span style="font-size: small;">· Gider payı (%)</span></span></td>
                                <td width="65">
                                    <p align="right"><span style="font-family: Arial, serif;"><span style="font-size: small;">: 60,00</span></span></p>
                                </td>
                            </tr>
                            <tr valign="bottom">
                                <td width="330" height="1"><span style="font-family: Arial, serif;"><span style="font-size: small;">· Aracı komisyonları veya istihsal masrafı (%)</span></span></td>
                                <td width="65">
                                    <p align="right"><span style="font-family: Arial, serif;"><span style="font-size: small;">: 60,00</span></span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <span style="color: #000000;"><strong>G.</strong> <strong>KATILIM SİGORTACILIĞI UYGULAMA ESASLARI</strong></span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>1.</strong> Şirketin, 20.09.2017 tarih ve 30186 sayılı Resmi Gazete’de yayımlanan "Katılım Sigortacılığı Çalışma Usul ve Esasları Hakkında Yönetmelik" ile belirlenen esaslara göre faaliyette bulunmaktadır.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>2.</strong> İşbu Bilgilendirme ve Başvuru Formu Katılım Sigortacılığı kapsamında ve sigortalılar arasındaki yardımlaşma ve kefilleşme (teâvün ve tekâfül) hizmetinin organizasyonu amacıyla düzenlenmiştir.</span>
                    <br />
                    <br />
                    <span style="color: #000000;"><strong>3.</strong>Katılımcılardan tahsil edilen katkı primleri şirketin Danışma Kurulu tarafından onaylanan ve İslami finans prensiplerine uygun yatırım enstrümanları ile değerlendirilir.</span>
                    <p><span style="color: #000000;"><strong>4.</strong> Katılım Sigortacılığı kapsamındaki faaliyetlerde şirketimiz, Vekâlet/Mudarebe Karması (Hibrit) yönetim modeli uygulanmaktadır.</span></p>
                    <p><br /><span style="color: #000000;"><strong>5.</strong> Hibrit yönetim modelinde yatırım gelirleri üzerinden şirketin alacağı pay %50'dir.</span></p>
                    <p><br /><span style="color: #000000;"><strong>6. </strong>Bakiye, şirket tarafından belirli bir dönemde ödenmiş ve dönem içinde ödenecek tazminatlar ile risk fonuna ait yasal yükümlülükler ve diğer masraflar karşılandıktan sonra katılımcıların ödedikleri katkılardan ve bunların gelirlerinden geriye kalan tutardır.</span></p>
                    <p><br /><span style="color: #000000;"><strong>7.</strong> Katılımcının ödediği katkı primleri, diğer tüm katılımcıların ödediği katkı primleri ile birlikte değerlendirilip; şirketin ihtiyatlılık prensiplerine göre hesaplanacak tüm teknik giderlerinin ve şirketin uyguladığı Hibrit yönetim modelindeki paylarının düşülmesinden sonra, dönem sonunda artı bir bakiye oluşması durumunda, bu bakiyenin, şirketin pay almasına müsaade edilmeksizin Danışma Kurulu’nun ve şirket aktüerinin onaylayacağı esaslar kapsamında Katılım Sigortacılığı prensiplerine uygun yöntemlerle değerlendirilir. (Bakiyenin hayır amaçlı projelerde kullanılabilmesi, katılımcı risk fon  içerisinde tutulması veya İslami Finans prensiplerine aykırı olmayan başka yöntemlerle değerlendirilmesi vb.)</span></p>
                    <p><span style="color: #000000;"></span><br /><span style="color: #000000;"><strong>8. </strong>Katılım Sigortacılığı kapsamındaki bakiye iadeleri şirketin Danışma Komitesi'nin onaylayacağı şekilde değerlendirilir. Eğer bakiye fazlalığı çıkarsa bu bakiyenin Danışma Komitesi'nin onayladığı şekilde değerlendirmesi yapılır ve şirketin kurumsal internet sitesinde duyurulur.</span></p>
                    <p><span style="color: #000000;"></span><br /><span style="color: #000000;"><strong>9.</strong>Risk fonunun katılımcılara karşı yükümlülüklerini uygun şekilde yerine getirmesi ve risk fonunun devamının sağlanmasını teminen, risk fonunun fazla vermesi halinde gelecekteki öngörülemeyen riskler ve yasal yükümlülükler için bu fazlalık üzerinden Şirket ihtiyat fonu ayırabilir.</span></p>
                    <p><span style="color: #000000;"></span><br /><span style="color: #000000;"><strong>10.</strong> İşbu sigorta kapsamında Sigortacılık risklerinin yönetiminde İslami Finans prensiplerine göre çalışan Katılım Reasüransı (Retekâfül) şirketlerinin korumalarından faydalanılmaktadır. </span></p>
                    <p><span style="color: #000000;"></span><br /><span style="color: #000000;"><strong>11. </strong>Şirketin öz sermayesi ile sigortalılardan tahsil edilen katkı primleri şirketin Danışma Kurulu tarafından onaylanan ve İslami Finans prensiplerine uygun yatırım enstrümanları ile değerlendirilir.<br /><br /><span style="color: #000000;"><strong>12. </strong>Şirketimizin Katılım Sigortacılığı kapsamındaki uygulamaları hakkında detaylı bilgi almak için www.katilimemeklilik.com.tr/katilim-sigortaciligi adresini ziyaret edebilirsiniz.<br /><br /><strong>H.ASİSTANS HİZMETLERİ</strong></span></p>
                    <p><span style="color: #000000;">Katılım Emeklilik Kadınca Güven Kritik Hastalık Sigortası ürününde, aşağıdaki şekilde ücretsiz olarak sunulan asistans paketi yer almaktadır.</span></p>
                    <ul>
                        <li><span style="color: #000000;">Doktor İsteği ile Çekilecek Mamografi</span></li>
                        <li><span style="color: #000000;">Diş Sağlığı Paketi</span></li>
                        <li><span style="color: #000000;">İndirimli Diyetisyen Networkü</span></li>
                    </ul>
                    <p><span style="color: #000000;"> Yukarıda sayılan asistans hizmetleri limitler, açıklamalar ve detaylı ürün broşüründe belirtilen genel istisnalar kapsamında ücretsiz olarak bir yıl süre ile siz sigortalılarımıza sunulacaktır. İşbu asistans hizmetlerinden sigortalının kendisi yararlanabilir. Aile üyeleri kapsam dışındadır. Asistans hizmetlerinden faydalanabilmem için müşteri bilgilerimin gerektiğinde ilgili anlaşmalı Asistans firmasıyla paylaşılmasına muvafakat ederim.</span><br /><span style="color: #000000;">İşbu asistans hizmetlerinden yararlanabilmek için <strong>0850 333 54 69</strong>  no’lu hattı arayabilirsiniz.</span><br /><span style="color: #000000;">Asistans hizmetleri ile ilgili daha detaylı bilgi alabilmek için www.katilimemeklilik.com.tr adresini ziyaret edebilir veya<strong> 0850 226 0 123</strong> nolu şirketimiz çağrı merkezimizi arayabilirsiniz. Asistans hizmetleri ile ilgili daha detaylı bilgi alabilmek için <strong>www.katilimemeklilik.com.tr</strong> adresini ziyaret edebilir veya 0850 226 0 123 no’lu şirketimiz çağrı merkezimizi arayabilirsiniz.</span><br /><br /><span style="color: #000000;"><strong>İ.</strong> <strong>DİĞER BİLGİLER</strong></span></p>
                    <p><span style="color: #000000;">  Şirketimiz, Türkiye Sigorta ve Reasürans Şirketleri Birliği nezdinde kurulan Sigorta Tahkim Komisyonu’na üye değildir.</span><br /><br /></p>
                    <span style="color: #000000;"><strong><strong>j. ŞİKAYET VE BİLGİ TALEPLERİ<br /><br /></strong></strong></span>
                    <p><span style="color: #000000;">Sigortaya ilişkin her türlü bilgi talepleri ve şikâyetler için aşağıda yazılı adres, e-posta ve telefonlara başvuruda bulunulabilir. Sigortacı, başvurunun kendisine ulaşmasından itibaren 15 işgünü içinde talepleri cevaplandırmak zorundadır.</span></p>
                    <p><span style="color: #000000;"><strong>TAZMİNAT AŞAMASINDA GEREKLİ BİLGİ VE BELGELER</strong></span></p>
                    <p><span style="color: #000000;"><strong>Vefat Tazminat Talebi İçin Gerekli Belgeler</strong></span></p>
                    <p><span style="color: #000000;"> </span></p>
                    <p><span style="color: #000000;">Veraset ilamı, Sigortalı tarafından imzalanan katılım sertifikası/poliçesi, Kanuni varislere ait kimlik fotokopisi, Vergi dairesinden alınacak, veraset ve intikal vergisi bakımından "ilişiksizlik yazısı", Ölüm olayı adliyeye intikal etmiş ise; savcılık tahkikat sonuç raporu, Ölüm nedenini gösterir belge (defin ruhsatı, gömme izin belgesi, mernis ölüm tutanağı), Aile efradını gösterir vukuatlı nüfus kayıt örneği</span></p>
                    <p><strong><span style="color: #000000;"> </span></strong></p>
                    <p><strong><span style="color: #000000;">Kadın Kanserleri Tazminat Talebi İçin Gerekli Belgeler</span></strong></p>
                    <p><strong><span style="color: #000000;"> </span></strong></p>
                    <strong><span style="color: #000000;"> </span></strong>
                    <span style="color: #000000;">  Kritik hastalıklar tazminat talebi formu (www.katilimemeklilik.com.tr adresinden ulaşabilirsiniz.), Kimlik fotokopisi, Hastalık ile ilgili tüm tıbbi belgeler (tahlil ve tetkik sonuçları, görüntüleme raporları, tüm hastane kayıtları, var ise ameliyat ve patoloji raporları)</span>
                    <br />
                    <strong><span style="color: #000000;">  </span></strong>
                    <span style="color: #000000;">Sigortacı, tazminatın değerlendirilebilmesi için, yukarıdaki belgelere ek olarak bilgi ve belge talep edebilir.</span>
                    <br />
                    <span style="color: #000000;">Sigorta kapsamına girecek veya giren kişiler, ilgili belgeleri imzalamakla risk değerlendirmesi yapılabilmesi ve tazminat başvurularının sonuçlandırılabilmesi amacıyla sağlık bilgilerinin, sigortalılık kayıtlarının ve diğer bilgilerin Sigorta Bilgi ve Gözetim Merkezinden (SBGM), Sosyal Güvenlik</span>
                    <br />
                    <span style="color: #000000;">Kurumundan, Sağlık Bakanlığından, sağlık kurum ve kuruluşlarından ve sigorta şirketlerinden edinilmesine ve şirket nezdindeki bahse konu bilgi ve kayıtların SBGM, sigorta şirketleri ve ilgili mevzuatta yetkilendirilen merciler ile paylaşılmasına rıza göstermiş sayılır.<br /><br /></span>
                    <p><span style="color: #000000;"><strong>Şirket İletişim Bilgileri<br /></strong></span></p>
                    <table width="682" cellspacing="0" cellpadding="5">
                        <colgroup><col width="121" /> <col width="400" /> </colgroup>
                        <table width="682" cellspacing="0" cellpadding="5">
                            <colgroup><col width="121" /> <col width="538" /> </colgroup>
                            <tbody>
                                <tr>
                                    <td width="121" height="30">
                                        <p align="left"><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Adres </span></span></span></p>
                                    </td>
                                    <td width="538">
                                        <p align="left"><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">SARAY MAHALLESİ DR. ADNAN BÜYÜKDENİZ CADDESİ NO:2 AKKOM OFİS PARK 3. BLOK KAT:2 ÜMRANİYE / İSTANBUL</span></span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="121" height="8">
                                        <p align="left"><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Tel &amp; Faks No</span></span></span></p>
                                    </td>
                                    <td width="538">
                                        <p align="left"><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">(0216) 999 81 00 &amp; (0216) 692 11 22</span></span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="121" height="8">
                                        <p align="left"><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">E-Posta</span></span></span></p>
                                    </td>
                                    <td width="538">
                                        <p align="left"><a href="mailto:info@katilimemeklilik.com"><span style="color: #0000ff;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><u>info@katilimemeklilik.com</u></span></span></span></a></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="121" height="8">
                                        <p align="left"><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Mersis No</span></span></span></p>
                                    </td>
                                    <td width="538">
                                        <p align="left"><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">0528064104700018</span></span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="121" height="7">
                                        <p align="left"><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">Ticaret Sicil Müd. </span></span></span></p>
                                    </td>
                                    <td width="538">
                                        <p align="left"><span style="color: #000000;"><span style="font-family: Arial, serif;"><span style="font-size: small;">İstanbul Ticaret Odası (ITO) , Ticaret Sicil No: 895027</span></span></span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p><strong><span style="color: #000000;">8 sayfadan oluşan Bilgilendirme Formunu okudum ve 1 nüshasını teslim aldım.</span></strong></p>
                        <table width="603" cellspacing="0" cellpadding="7">
                            <colgroup><col width="173" /><col width="184" /><col width="202" /></colgroup>
                            <tbody>
                                <tr valign="top">
                                    <td width="173" height="20">
                                        <p align="center"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Sigorta Ettiren Adayın</b></span></span></p>
                                    </td>
                                    <td width="184">
                                        <p align="center"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Sigortalı Adayın</b></span></span></p>
                                    </td>
                                    <td width="202">
                                        <p align="center"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Sigorta Danışmanı/Acente/ Banka Şubesi</b></span></span></p>
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td width="173" height="64">
                                        <p align="center"><span style="font-family: Arial, serif;"><span style="font-size: small;">Adı Soyadı</span></span></p>
                                        <p align="center"><span style="font-family: Arial, serif;"><span style="font-size: small;">İmza</span></span></p>
                                    </td>
                                    <td width="184">
                                        <p align="center"><span style="font-family: Arial, serif;"><span style="font-size: small;">Adı Soyadı</span></span></p>
                                        <p align="center"><span style="font-family: Arial, serif;"><span style="font-size: small;">İmza</span></span></p>
                                    </td>
                                    <td width="202">
                                        <p align="center"><span style="font-family: Arial, serif;"><span style="font-size: small;">Adı Soyadı</span></span></p>
                                        <p align="center"><span style="font-family: Arial, serif;"><span style="font-size: small;">İmza</span></span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p><span style="color: #333333;"><strong>Tarih:</strong></span></p>
            </div>
        </div>
    </div>
</body>
</html>