@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?fde4h3');
  src:  url('icomoon.eot?fde4h3#iefix') format('embedded-opentype'),
    url('icomoon.ttf?fde4h3') format('truetype'),
    url('icomoon.woff?fde4h3') format('woff'),
    url('icomoon.svg?fde4h3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heartbeat-new:before {
  content: "\e900";
  color: #fff;
}
.icon-charity-new:before {
  content: "\e901";
  color: #fff;
}
.icon-health-new:before {
  content: "\e902";
  color: #fff;
}
