﻿@using TahsilatBSM.Classes.Tools
@{   
    jCryption.HandleRequest(Request); 
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Giriş</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" href="/favicon.ico?v2" type="image/x-icon">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <link rel="stylesheet" href="/styles/vendor.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
</head>
<body>
    <div class="login">
        <div class="login-header">
            <img src="/images/logobig.png">
        </div>
        <div class="login-container">
            <div class="login-inner">
                <ul role="tablist" class="nav nav-tabs">
                    <li class="active"><a href="#tc" role="tab" data-toggle="tab" onclick="getCaptcha($('#form1'));">T.C. Kimlik No ile Giriş</a></li>
                    <li><a href="#birthdate" aria-controls="birthdate" role="tab" onclick="getCaptcha($('#form2'));" data-toggle="tab">Doğum Tarihi ile Giriş</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tc" style="padding-bottom: 70px;">
                        <form id="form1" method="post" action="@Request.Url.ToString()">
                            <div class="form-group">
                                <!--<input id="tckn" name="tckn" type="text" placeholder="TCKN" class="form-control validate[required]" autocomplete="off"  required title="TCKN 11 hane ve rakamlardan oluşmaktadır"/>-->
                                <input id="tckn" name="tckn" type="tel" class="form-control idNumber validate[required] validate[custom[tcNo]]" placeholder="TCKN" maxlength="11" required/>
                                <!-- <span class="errors">*TCKN 11 hane ve rakamlardan oluşmaktadır</span> -->
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <img src="data:image/png;base64," class="recaptchaimg img-responsive" />
                                </div>
                                <div class="col-sm-4">
                                    <a class="button-epsilon refresh-button" style="height: 75px !important; line-height: 75px !important;" title="refresh" data-form-id="form1"
                                        href="#" onclick="getcaptcharefresh();">
                                        <div class="icon-reload"></div>
                                    </a>
                                </div>
                                <input id="captchakod" autocomplete="off" name="captchakod" type="text" placeholder="Yukarıdaki güvenlik kodunu giriniz" class="form-control validate[required]">
                                <input type="hidden" id="captchaid" name="captchaid" value="" />
                                @if (ViewBag.IsCaptchaErr != null)
                                {
                                    if ((bool)ViewBag.IsCaptchaErr)
                                    { <span>Güvenlik Kodu yanlış!</span>}
                                }
                            </div>
                            <a class="securiy-points" style="visibility: hidden">&nbsp;</a>
                            <button type="submit" class="btn button-beta btn__send">Gönder</button>
                            <input type="hidden" name="hiddencontrol" value="1" />
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="birthdate" style="padding-bottom: 70px;">
                        <form action="@Request.Url.ToString()" method="post" id="form2">
                            <div class="form-group">
                                <input id="bdate" name="bdate" autocomplete="off" type="text" placeholder="Doğum Tarihi" class="form-control validate[required] validate[custom[date]]">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <img src="data:image/png;base64," class="recaptchaimg img-responsive">
                                </div>
                                <div class="col-sm-4">
                                    <a class="button-epsilon refresh-button" style="height: 75px !important; line-height: 75px !important;" title="refresh" data-form-id="form2"
                                        href="#" onclick="getcaptcharefresh();">
                                        <div class="icon-reload"></div>
                                    </a>
                                </div>
                                <input id="captchakod" autocomplete="off" name="captchakod" type="text" placeholder="Yukarıdaki güvenlik kodunu giriniz" class="form-control validate[required]">
                                @if (ViewBag.IsCaptchaErr != null)
                                {
                                    if ((bool)ViewBag.IsCaptchaErr)
                                    { <span>Güvenlik Kodu yanlış!</span>}
                                }
                            </div>
                            <button type="submit" class="btn button-beta" onclick="return SendForm('form2');">Gönder</button>
                            <input type="hidden" id="captchaid" name="captchaid" value="@ViewBag.strCaptchaID" />
                            <input type="hidden" name="hiddencontrol" value="1" />
                        </form>
                    </div>
                </div>
            </div>
            @*<div class="login-inner">
                <div class="call-center-container">
                    <span class="phone"><span class="icon-callcenter"></span>
                        <p>0850 622 6 623</p>
                        <a href="mailto:OKS_KurumsalHizmetler@katilimemeklilik.com.tr" style="font-size: 10px;">OKS_KurumsalHizmetler@katilimemeklilik.com.tr</a>
                    </span>
                    <p class="call-center-text">Çağrı Merkezimiz hafta içi her gün 09:00 – 18:00 saatleri arasında hizmet vermektedir.</p>
                </div>
                <div class="footer">
                    <div class="row-fluid no-padding">
                        <div class="col-sm-12 no-padding">
                            <ul>
                                <li><a href="http://www.katilimemeklilik.com.tr/iletisim/iletisim-bilgileri/" target="_blank">İletişim</a></li>
                            </ul>
                            <div class="logos">
                                <img src="/images/ssl.jpg"><img src="/images/m.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>

    <div tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" class="modal fade modal-alpha">
        <div class="modal-dialog modal-md">
            <div class="close-l">
                <div class="icon-close"></div>
            </div>
            <div class="modal-content"></div>
        </div>
    </div>
    <div tpl="modal-warning">
        <div class="warning">
            <div class="head-type">
                <div class="icon-warning"></div>
            </div>
            <div class="title"><span>Uyari</span></div>
            <div class="text"><span>Bir uyari ile karsilasildi.</span></div>
        </div>
    </div>
    <div tpl="modal-error">
        <div class="error">
            <div class="head-type">
                <div class="icon-warning"></div>
            </div>
            <div class="title"><span>Hata</span></div>
            <div class="text"><span>Bir hata ile karsilasildi.</span></div>
        </div>
    </div>

    <script src="/scripts/vendor.js"></script>
    @jCryption.RenderScriptFor("form", src: "/js/jquery.jcryption.3.1.0.mod.js")

    <script type="text/javascript">
        var _clickBtn = 0;
        $(function () {
            $(".icon-close").click(function () {
                location.href = '@Request.Url.ToString()';
            });
            window.getCaptcha = function ($this) {
                var requestID = 1000 + Math.ceil(Math.random() * 8998);
                $.ajax({
                    $this: $this,
                    method: 'GET',
                    url: 'captcha.ashx',
                    error: function (request, status, error) {
                        if (JSON.stringify(request.responseText).includes('Katılım Emeklilik - Hata')) {
                            window.location = "/Error/Index";
                        }
                    },
                    dataType: 'text',
                    data: {
                        op: 'getCaptchaUrl',
                        requestID: requestID
                    },
                    success: function (data) {
                        if (data.includes('Error') || data.includes('Hata')) {
                            window.location = "/Error/Index";
                        }
                        $this.find('input[name="captchaid"]').val(requestID);
                        $this.find('.recaptchaimg').attr('src', data);
                    }
                });
            }

            getCaptcha($('#form1'));
        });
        function getcaptcharefresh() {
            getCaptcha($('#form1'));
        }
        function SendForm(formId) {
            var _sendForm = _clickBtn == 0 ? $("#" + formId).validationEngine('validate') : false;
            if (_sendForm) {
                _clickBtn = 1;
            }
            return _sendForm;
        };
        function MsgOpen(strMsg, strType) {
            setTimeout(function () {
                var title = ""
                if (strType == "warning") {
                    title = "Uyarı"
                }
                else if (strType == "error") {
                    title = "Hata"
                }
                else if (strType == "success") {
                    title = "Başarılı"
                }

                $(window).trigger('modal-' + strType, { title: title, text: strMsg });
            }, 500);
        };

        function validateKimlikNo(KimlikNo) {
            KimlikNo = String(KimlikNo);
            if (!KimlikNo.match(/^[0-9]{11}$/)) return false;

            pr1 = parseInt(KimlikNo.substr(0, 1));
            pr2 = parseInt(KimlikNo.substr(1, 1));
            pr3 = parseInt(KimlikNo.substr(2, 1));
            pr4 = parseInt(KimlikNo.substr(3, 1));
            pr5 = parseInt(KimlikNo.substr(4, 1));
            pr6 = parseInt(KimlikNo.substr(5, 1));
            pr7 = parseInt(KimlikNo.substr(6, 1));
            pr8 = parseInt(KimlikNo.substr(7, 1));
            pr9 = parseInt(KimlikNo.substr(8, 1));
            pr10 = parseInt(KimlikNo.substr(9, 1));
            pr11 = parseInt(KimlikNo.substr(10, 1));

            if ((pr1 + pr3 + pr5 + pr7 + pr9 + pr2 + pr4 + pr6 + pr8 + pr10) % 10 != pr11) return false;
            if (((pr1 + pr3 + pr5 + pr7 + pr9) * 7 + (pr2 + pr4 + pr6 + pr8) * 9) % 10 != pr10) return false;
            if ((pr1 + pr3 + pr5 + pr7 + pr9) * 8 % 10 != pr11) return false;
            return true;
        };
        function formValidator() {
            var tckn = $('.idNumber'),
                errors = $('.errors'),
                tcknValue = $('.idNumber').val();
            check = true;

            if (!tcknValue || !validateKimlikNo(tcknValue || tcknValue == "00000000000")) {
            check = false;
                errors.addClass('error');
            } else if (tcknValue && validateKimlikNo(tcknValue)) {
                errors.removeClass('error');
            }
            return check;
        }
        $('.btn__send').on('click',function(){
            formValidator();
            //console.log(check);
            return SendForm('form1');
        });

        var formMessageRemove = function formMessageRemove() {
            var form = document.querySelector("form");
            form.addEventListener("invalid", function (e) {
                e.preventDefault();
            }, true);
        };
        formMessageRemove();

        //Mask
        var phoneInput = document.querySelector('.idNumber');
        phoneInput.addEventListener('keydown', function (event) {
        if (!(event.key == 'ArrowLeft' || event.key == 'ArrowRight' || event.key == 'Backspace' || event.key == 'Tab')) { event.preventDefault() }
        var mask = '11111111111';

        if (/[0-9\+\ \-\(\)]/.test(event.key)) {
            var currentString = this.value;
            var currentLength = currentString.length;
            if (/[0-9]/.test(event.key)) {
                if (mask[currentLength] == '1') {
                    this.value = currentString + event.key;
                } else {
                    for (var i = currentLength; i < mask.length; i++) {
                        if (mask[i] == '1') {
                            this.value = currentString + event.key;
                            break;
                        }
                        currentString += mask[i];
                    }
                }
            }
        }
        });

    </script>
    <script>
        $('.securiy-points').on('click', function () {
            $('.modal-securty').modal('show');
        });

        $('.close-l').on('click', function () {
            $('.modal-securty').modal('hide');
        });
    </script>

    @Html.Raw(ViewBag.strMessage)
</body>
</html>
