﻿@using AcenteLogin.Classes.Tools

@{ 
    ViewBag.Title = "CMS Giriş";

    jCryption.HandleRequest(Request); 
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>LIFE Giriş</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" href="/favicon.ico?v2" type="image/x-icon">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <link rel="stylesheet" href="/styles/vendor.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/vendor/modernizr.js"></script>
</head>
<body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="login">
        <div class="login-header">
            <img src="/images/logobig.png">
            <div class="Login__title">
                <p>LIFE GİRİŞ</p>
            </div>
        </div>
        <div class="login-container">
            <div class="login-inner">
                <form id="form1" method="post" action="/">
                    <ul role="tablist" class="nav nav-tabs">
                        <li class="active"><a href="#" role="tab" data-toggle="tab" style="width:180px">Giriş</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active">
                            <div class="form-group">
                                <input id="username" name="username" type="text" placeholder="Kullanıcı Adı" class="form-control validate[required]" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <input id="userpss" name="userpss" type="password" placeholder="Şifre" class="form-control validate[required]" style="height:60px; border: 1px solid #cdd7e1; border-radius: 0;" />
                            </div>
                            <a class="securiy-points" style="visibility: hidden">&nbsp;</a>
                            <button type="submit" class="btn button-beta" onclick="return SendForm();">Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" class="modal fade modal-alpha">
        <div class="modal-dialog modal-md">
            <div class="close-l">
                <div class="icon-close"></div>
            </div>
            <div class="modal-content"></div>
        </div>
    </div>
    <div tpl="modal-warning">
        <div class="warning">
            <div class="head-type">
                <div class="icon-warning"></div>
            </div>
            <div class="title"><span>Uyari</span></div>
            <div class="text"><span>Bir uyari ile karsilasildi.</span></div>
        </div>
    </div>
    <div tpl="modal-error">
        <div class="error">
            <div class="head-type">
                <div class="icon-warning"></div>
            </div>
            <div class="title"><span>Hata</span></div>
            <div class="text"><span>Bir hata ile karsilasildi.</span></div>
        </div>
    </div>

    <script src="/scripts/vendor.js"></script>
    @jCryption.RenderScriptFor("form", src: "/js/jquery.jcryption.3.1.0.mod.js")

    <script type="text/javascript">
        var _clickBtn = 0;
        $(function () {
            $(".icon-close").click(function () {
                location.href = '/';
            });
        });
        function SendForm() {
            var _sendForm = _clickBtn == 0 ? $("#form1").validationEngine('validate') : false;
            if (_sendForm) {
                _clickBtn = 1;
            }
            return _sendForm;
        };
        function MsgOpen(strMsg, strType) {
            setTimeout(function () {
                var title = ""
                if (strType == "warning") {
                    title = "Uyarı"
                }
                else if (strType == "error") {
                    title = "Hata"
                }
                else if (strType == "success") {
                    title = "Başarılı"
                }

                $(window).trigger('modal-' + strType, { title: title, text: strMsg });
            }, 500);
        };
    </script>
    <script>
        $('.securiy-points').on('click', function () {
            $('.modal-securty').modal('show');
        });

        $('.close-l').on('click', function () {
            $('.modal-securty').modal('hide');
        });

    </script>

    @Html.Raw(ViewBag.strMessage)

</body>
</html>
