﻿@model KatilimEmeklilikInternetSube.Classes.ClassData.Individual.AccumulationInfo.cIndividual_AccumulationInfo

@{  
    string strTitle = Model.PageSettings.Title;

    ViewBag.Title = strTitle + " / Birikim Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">
                            @if (Model.SozlesmeBilgileri != null)
                            {
                                @Model.SozlesmeBilgileri.UrunAdi
                            }
                            else
                            {
                                @strTitle
                            }
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-person_filled"></div>
                            Sözleşme Bilgileri
                        </h1>
                        <form>
                            <div class="table-responsive">
                                @if (Model.SozlesmeBilgileri != null)
                                {
                                    <table class="table table-hover">
                                        <tr>
                                            <td>Sözleşme No</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Sözleşme No" class="validate[required]" value="@Model.SozlesmeBilgileri.SozlesmeNo" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>KTLM Müşteri No</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="KTLM Müşteri No" class="validate[required]" value="@Model.SozlesmeBilgileri.KTLMMusteriNo" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Katılımcı</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Katılımcı" class="validate[required]" value="@Model.SozlesmeBilgileri.Katilimci" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ürün Adı</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Ürün Adı" class="validate[required]" value="@Model.SozlesmeBilgileri.UrunAdi" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                }
                                else
                                {
                                    <label>Sözleşme bilgileri bulunamadı!</label>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-pin"></div>
                            Detaylı Birikim Bilgileri
                        </h1>
                        <form>
                            <div class="table-responsive">
                                @if (@Model.DetayBirikimBilgileri != null)
                                { 
                                    <table class="table table-hover">
                                        <tr>
                                            <td style="width: 30%;">Fon Adı (KK)</td>
                                            <td style="text-align: center; width: 14%;">Dağılım</td>
                                            <td style="text-align: center; width: 14%; white-space: nowrap">Güncel Fon Oranı</td>
                                            <td style="text-align: center; width: 14%;">Fon Adeti</td>
                                            <td style="text-align: right; width: 14%;">Fon Fiyat</td>
                                            <td style="text-align: right; width: 14%;">Tutar</td>
                                        </tr>
                                        @if (Model.DetayBirikimBilgileri.Data.Count(c => c.FonTipi == "kk") > 0)
                                        {
                                            foreach (var item in Model.DetayBirikimBilgileri.Data.Where(w => w.FonTipi == "kk").ToList())
                                            { 
                                            <tr>
                                                <td>@item.FonAd</td>
                                                <td style="text-align: center">% @item.Oran</td>
                                                <td style="text-align: center">% @item.GuncelOran</td>
                                                <td style="text-align: center">@item.FonAdedi</td>
                                                <td style="text-align: right">@item.FonFiyat</td>
                                                <td style="text-align: right">@item.Tutar &#x20BA;</td>
                                            </tr>
                                            }
                                        }
                                        else
                                        { 
                                            <tr>
                                                <td colspan="4">
                                                    <label>Kayıt bulunamadı!</label></td>
                                            </tr>
                                        }
                                    </table>
                                    <br />
                                    
                                        if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                                        {
                                    <div style="border-top: 1px solid #CEE3F6;"></div>
                                    <br />
                                    <table class="table table-hover">
                                        <tr>
                                            <td style="width: 30%;">Fon Adı (DK)</td>
                                            <td style="text-align: center; width: 14%;">Dağılım</td>
                                            <td style="text-align: center; width: 14%; white-space: nowrap">Güncel Fon Oranı</td>
                                            <td style="text-align: center; width: 14%;">Fon Adeti</td>
                                            <td style="text-align: right; width: 14%;">Fon Fiyat</td>
                                            <td style="text-align: right; width: 14%;">Tutar</td>
                                        </tr>
                                        @if (Model.DetayBirikimBilgileri.Data.Count(c => c.FonTipi == "dk") > 0)
                                        {
                                            foreach (var item in Model.DetayBirikimBilgileri.Data.Where(w => w.FonTipi == "dk").ToList())
                                            { 
                                            <tr>
                                                <td>@item.FonAd</td>
                                                <td style="text-align: center">% @item.Oran</td>
                                                <td style="text-align: center">% @item.GuncelOran</td>
                                                <td style="text-align: center">@item.FonAdedi</td>
                                                <td style="text-align: right">@item.FonFiyat</td>
                                                <td style="text-align: right">@item.Tutar &#x20BA;</td>
                                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="4">
                                                    <label>Kayıt bulunamadı!</label></td>
                                            </tr>
                                        }
                                    </table>
                                        }

                                        if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                                        {
                                    <table class="table table-hover">
                                        <tr>
                                            <td>Toplam Birikim (Devlet Katkısı Hariç):	</td>
                                            <td>
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Toplam Birikim" class="validate[required]" value="@Model.DetayBirikimBilgileri.ToplamBirikim_DevletKatkisiHaric &#x20BA;" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Toplam Birikim (Devlet Katkısı Dahil):	</td>
                                            <td>
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Toplam Birikim" class="validate[required]" value="@Model.DetayBirikimBilgileri.ToplamBirikim_DevletKatkisiDahil &#x20BA;" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                        }
                                }
                                else
                                {
                                    <label>Detay birikim bilgileri bulunamadı!</label>
                                }

                                @if (Model.DetayBirikimBilgileri != null)
                                { 
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tr>
                                                <td><a href="javascript:void();" style="font-size: 18px; font-weight: bold;" title="Bilgi" onclick="OpenHelp('İç Verim Oranı: Sözleşmedeki net fona yönlenen tutarların bugünkü değerini hesaplamada yıllık bileşik getiri oranını ifade eder. Net fona yönlenen tutar katılımcının ödediği tutardan varsa oransal ya da birikimden indirilen yönetim gider kesintisi oranları düşürülerek getiri oranı hesaplanır. Sözleşmede varsa ceza ödemeleri (artı yönde) ya da ara verme kesintileri (eksi yönde) hesaplamada dikkate alınır.');"><i class="icon-warning"></i></a>Katılımcı Katkısı İç Verim Oranı</td>
                                                <td style="text-align: right">
                                                    <div class="button-gamma">
                                                        <input type="text" value="@Model.DetayBirikimBilgileri.KatilimciKatkisiIcVerimOrani" disabled />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href="javascript:void();" style="font-size: 18px; font-weight: bold;" title="Bilgi" onclick="OpenHelp('İç Verim Oranı: Sözleşmedeki net fona yönlenen tutarların bugünkü değerini hesaplamada yıllık bileşik getiri oranını ifade eder. Net fona yönlenen tutar katılımcının ödediği tutardan varsa oransal ya da birikimden indirilen yönetim gider kesintisi oranları düşürülerek getiri oranı hesaplanır. Sözleşmede varsa ceza ödemeleri (artı yönde) ya da ara verme kesintileri (eksi yönde) hesaplamada dikkate alınır.');"><i class="icon-warning"></i></a>Devlet Katkısı İç Verim Oranı</td>
                                                <td style="text-align: right">
                                                    <div class="button-gamma">
                                                        <input type="text" value="@Model.DetayBirikimBilgileri.DevletciKatkisiIcVerimOrani" disabled />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div> 
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <a href="https://www.katilimemeklilik.com.tr/surekli-bilgilendirme-formlari-.aspx?pageID=199" target="_blank">
                                    <div class="box-content-wide">
                                        <span class="high">Sürekli Bilgilendirme Formları</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <a href="https://www.katilimemeklilik.com.tr/fon-bultenleri.aspx?pageID=240" target="_blank">
                                    <div class="box-content-wide">
                                        <span class="high">Fon Bültenleri</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <a href="https://www.katilimemeklilik.com.tr/Default.aspx?pageID=254" target="_blank">
                                    <div class="box-content-wide">
                                        <span class="high">Fon Performansları</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-person_filled"></div>
                            Aktarım Bilgileri
                        </h1>
                        <form>
                            <div class="table-responsive">
                                @if (Model.AktarimBilgileri != null)
                                {
                                    <table class="table table-hover">
                                        <tr>
                                            <td>Aktarım Ana Para (KK) :  </td>
                                            <td style="text-align: right">@Model.AktarimBilgileri.AktarimAnaParaKK &#x20BA;</td>
                                        </tr>
                                        <tr>
                                            <td>Aktarım Getiri (KK) :  </td>
                                            <td style="text-align: right">@Model.AktarimBilgileri.AktarimGetiriKK &#x20BA;</td>
                                        </tr>
                                        <tr>
                                            <td>Aktarım Toplamı (KK) : </td>
                                            <td style="text-align: right">@Model.AktarimBilgileri.AktarimToplamiKK &#x20BA;</td>
                                        </tr>
                                        <tr>
                                            <td>Aktarım Ana Para (DK) :  </td>
                                            <td style="text-align: right">@Model.AktarimBilgileri.AktarimAnaParaDK &#x20BA;</td>
                                        </tr>
                                        <tr>
                                            <td>Aktarım Getiri (DK) : </td>
                                            <td style="text-align: right">@Model.AktarimBilgileri.AktarimGetiriDK &#x20BA;</td>
                                        </tr>
                                        <tr>
                                            <td>Aktarım Toplamı (DK) :  </td>
                                            <td style="text-align: right">@Model.AktarimBilgileri.AktarimToplamiDK &#x20BA;</td>
                                        </tr>
                                    </table>
                                }
                                else
                                {
                                    <label>Aktarım bilgileri bulunamadı!</label>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-person_filled"></div>
                            Tahsilat Detay Bilgileri (Katılımcı Katkısı@(Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.OtomatikKatilim ? " Bilgileri" : ""))
                        </h1>
                        <form>
                            <div class="table-responsive">
                                @if (Model.TahsilatDetayBilgileri_KatilimciKatkisi != null)
                                {
                                <table class="table table-hover">
                                    <tr>
                                        <td>Ek Katkı Payı Tutarı:  </td>
                                        <td style="text-align: right">@Model.TahsilatDetayBilgileri_KatilimciKatkisi.EkKatkiPayiTutari &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td>Başlangıç Katkı Payı Tutarı:  </td>
                                        <td style="text-align: right">@Model.TahsilatDetayBilgileri_KatilimciKatkisi.BKTutar &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td>Provizyonda Bekleyen Tutar:  </td>
                                        <td style="text-align: right">@Model.TahsilatDetayBilgileri_KatilimciKatkisi.ProvizyondaBekleyenTutar &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td>Yatırılan Toplam Tutar (Giriş Aidatı Hariç): </td>
                                        <td style="text-align: right">@Model.TahsilatDetayBilgileri_KatilimciKatkisi.YatirilanToplamTutar_GirisAidatiHaric &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td>Yatırıma Yönlendirilen Tutar:  </td>
                                        <td style="text-align: right">@Model.TahsilatDetayBilgileri_KatilimciKatkisi.YatirimaYonlendirilenTutar &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td>Katılımcı Katkısı Getiri Tutarı:  </td>
                                        <td style="text-align: right">@Model.TahsilatDetayBilgileri_KatilimciKatkisi.KatilimciKatkisiGetiriTutari &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td>Stopaj Oranı / Stopaj Tutarı: </td>
                                        <td style="text-align: right; white-space: nowrap">@Model.TahsilatDetayBilgileri_KatilimciKatkisi.StopajOrani_StopajTutari &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td>Yönetim Gideri Kesinti Tutarı:  </td>
                                        <td style="text-align: right">@Model.TahsilatDetayBilgileri_KatilimciKatkisi.YonetimGideriKesintiTutari &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td>Giriş Aidatı: </td>
                                        <td style="text-align: right">@Model.TahsilatDetayBilgileri_KatilimciKatkisi.GirisAidati &#x20BA;</td>
                                    </tr>
                                    <tr>
                                        <td>Toplam Birikim @(Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel ? "( Devlet Katkısı Hariç )" : ""):   </td>
                                        <td style="text-align: right">@Model.TahsilatDetayBilgileri_KatilimciKatkisi.ToplamBirikim_DevletKatkisiHaric &#x20BA;</td>
                                    </tr>
                                </table>
                                }
                                else
                                {
                                    <label>Tahsilat detay bilgileri (katılımcı katkısı) bulunamadı!</label>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                    {
                        <div class="table-alpha">
                            <h1>
                                <div class="icon icon-person_filled"></div>
                                Tahsilat Detay Bilgileri (Devlet Katkısı)
                            </h1>
                            <form>
                                <div class="table-responsive">
                                    @if (Model.TahsilatDetayBilgileri_DevletKatkisi != null)
                                    {
                                        <table class="table table-hover">
                                            <tr>
                                                <td>Devlet Katkısı Birikim:   </td>
                                                <td style="text-align: right">@Model.TahsilatDetayBilgileri_DevletKatkisi.DevletKatkisiBirikim &#x20BA;</td>
                                            </tr>
                                            <tr>
                                                <td>Devlet Katkısı Tahsilatı:   </td>
                                                <td style="text-align: right">@Model.TahsilatDetayBilgileri_DevletKatkisi.DevletKatkisiTahsilati &#x20BA;</td>
                                            </tr>
                                            <tr>
                                                <td>Devlet Katkısı Getiri Tutarı:   </td>
                                                <td style="text-align: right">@Model.TahsilatDetayBilgileri_DevletKatkisi.DevletKatkisiGetiriTutari &#x20BA;</td>
                                            </tr>
                                            <tr>
                                                <td>Devlet Katkısı Hakediş Oranı / Devlet Katkısı Hakediş Tutar (Devlet katkısı 2016 dan sonra hak edilecektir.) </td>
                                                <td style="text-align: right; white-space: nowrap">@Model.TahsilatDetayBilgileri_DevletKatkisi.DevletKatkisiHakedisOrani_Tutar &#x20BA;</td>
                                            </tr>
                                            <tr>
                                                <td>Stopaj Oranı / Stopaj Tutarı:  </td>
                                                <td style="text-align: right; white-space: nowrap;">@Model.TahsilatDetayBilgileri_DevletKatkisi.StopajOrani_StopajTutari &#x20BA;</td>
                                            </tr>
                                        </table>
                                    }
                                    else
                                    {
                                        <label>Tahsilat detay bilgileri (devlet katkısı) bulunamadı!</label>
                                    }
                                </div>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="table-alpha">
                            <h1>
                                <div class="icon icon-person_filled"></div>
                                Tahsilat Detay Bilgileri (DK Taahhüt Bilgileri)
                            </h1>
                            <form>
                                <div class="table-responsive">
                                    @if (Model.TahsilatDetayBilgileri_DevletKatkisi != null)
                                    {
                                        <table class="table table-hover">
                                            <tr>
                                                <td><a href="javascript:void();" style="font-size: 18px; font-weight: bold;" title="Bilgi" onclick="OpenHelp('Cayma süresinin sonunda sistemde kalmaya devam ettiğiniz için hak ettiğiniz devlet katkısı tutarıdır.');"><i class="icon-warning"></i></a>Taahhüt Edilen Başlangıç Devlet Katkısı Tutarı:   </td>
                                                <td style="text-align: right">@Model.TahsilatDetayBilgileri_DevletKatkisi.TaahhutBaslangicDKAnaTutar &#x20BA;</td>
                                            </tr>
                                            <tr>
                                                <td><a href="javascript:void();" style="font-size: 18px; font-weight: bold;" title="Bilgi" onclick="OpenHelp('İşvereniniz tarafından maaşınızdan kesinti yapılarak hesabınıza yatırılan katkı payı tutarının %25’i oranında hak ettiğiniz devlet katkısı tutarıdır.');"><i class="icon-warning"></i></a> Taahhüt Edilen Devlet Katkısı Tutarı:   </td>
                                                <td style="text-align: right">@Model.TahsilatDetayBilgileri_DevletKatkisi.TaahhutDKAnaTutarToplami &#x20BA;</td>
                                            </tr>
                                            @if (Model.TahsilatDetayBilgileri_DevletKatkisi.DevletKatkisiHakEdisOraniTutari != "")
                                            {
                                                <tr>
                                                    <td>Devlet Katkısı Hak Ediş Oranı / Tutarı:   </td>
                                                    <td style="text-align: right">@Model.TahsilatDetayBilgileri_DevletKatkisi.DevletKatkisiHakEdisOraniTutari &#x20BA;</td>
                                                </tr>
                                            }
                                        </table>
                                        <p>
                                            <label>Devlet Katkısı Bilgilendirme</label>
                                            <br />
                                            Devlet katkı payının hak edilmesinde kademeli bir yapı uygulanmaktadır. 
                                            <ul>
                                                <li>En az 3 yıl sistemde kalan katılımcı devlet katkısı ve getirilerinin %15'ine,</li>
                                                <li>En az 6 yıl kalan katılımcı %35'ine,</li>
                                                <li>En az 10 yıl kalan katılımcı %60'ına,</li>
                                                <li>10 yıl sistemde kaldıktan sonra 56 yaşını dolduran katılımcı devlet katkısının %100'üne hak kazanacaktır.</li>
                                                <li>Cayma hakkının kullanılmaması halinde, cayma hakkının dolduğu ayı takip eden hesap döneminde, sisteme girişte bir defaya mahsus olmak üzere, 1,000 TL başlangıç devlet katkısı ödenir.</li>
                                            </ul>
                                        </p>
                                    }
                                    else
                                    {
                                        <label>Tahsilat detay bilgileri (dk taahhüt bilgileri) bulunamadı!</label>
                                    }
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>

<script type="text/javascript">
    function OpenHelp(strText) {
        $('[tpl="modal-prompt"] .mrTop').hide();
        $('[tpl="modal-prompt"] .text').attr('style', 'word-wrap: break-word; max-width: 500px; text-align: left;');

        $(window).trigger('modal-prompt', { title: 'Bilgi', text: strText });
    };
</script>