﻿@model KatilimEmeklilikInternetSube.Classes.ClassData.Individual.cIndividual_Alteration

@{
    string strTitle = Model.PageSettings.Title;
    string strUrlRoot = Model.PageSettings.UrlRoot;

    ViewBag.Title = strTitle + " / Değişiklik";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string strPolicy = !string.IsNullOrEmpty(KatilimEmeklilikInternetSube.Classes.Tools.QueryStrings.policyRequest) ? KatilimEmeklilikInternetSube.Classes.Tools.QueryStrings.policyRequest : "0";
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">
                            @if (!string.IsNullOrEmpty(Model.UrunAdi))
                            {
                                @Model.UrunAdi
                            }
                            else
                            {
                                @strTitle
                            }
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <a href="/@strUrlRoot/fon-dagilim-degisikligi?policy=@strPolicy">
                        <div class="box-content-wide">
                            <div class="icon-paper icon"></div>
                            <span class="high">Fon Dağılım Değişikliği</span>
                        </div>
                    </a>
                </div>
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel && !Model.OdemeAraciAck.Contains("NKT") && !Model.IGES)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/@strUrlRoot/katki-payi-degisikligi?policy=@strPolicy">
                            <div class="box-content-wide">
                                <div class="icon-paper icon"></div>
                                <span class="high">KP Değişikliği</span>
                            </div>
                        </a>
                    </div>
                }
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.OtomatikKatilim && (Model.OkBireyselDevam == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.OkBireyselDevam.Cayma) && !Model.IGES)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/@strUrlRoot/cayma-talebi-degisikligi?policy=@strPolicy">
                            <div class="box-content-wide">
                                <div class="icon-paper icon"></div>
                                <span class="high">Cayma Talebi</span>
                            </div>
                        </a>
                    </div>
                }
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.OtomatikKatilim && Model.KpOran && !Model.IGES)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/@strUrlRoot/katki-payi-oran-degisikligi?policy=@strPolicy">
                            <div class="box-content-wide">
                                <div class="icon-paper icon"></div>
                                <span class="high">KP Oran Değişikliği</span>
                            </div>
                        </a>
                    </div>
                }
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel && Model.EkKatkiPayi && !Model.IGES)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/@strUrlRoot/ek-katki-payi-talebi?policy=@strPolicy">
                            <div class="box-content-wide">
                                <div class="icon-paper icon"></div>
                                <span class="high">Ek Katkı Payı Talebi</span>
                            </div>
                        </a>
                    </div>
                }
                @if (!Model.IGES)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/files/BireyselPlanDegisikligiTalepFormu.pdf" target="_blank">
                            <div class="box-content-wide">
                                <div class="icon-pdf icon"></div>
                                <span class="high">Bireysel Plan Değişikliği</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <a href="/files/GrupPlanDegisikligiTalepFormu.pdf" target="_blank">
                            <div class="box-content-wide">
                                <div class="icon-pdf icon"></div>
                                <span class="high">Grup Plan Değişikliği</span>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>
</div>
