﻿@model KatilimEmeklilikInternetSube.Classes.ClassData.Individual.ContractInfo.cIndividual_ContractInfo

@{
    string strTitle = Model.PageSettings.Title;

    ViewBag.Title = strTitle + " / Sözleşme Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">
                            @if (Model.SozlesmeBilgileri != null)
                            {
                                @Model.SozlesmeBilgileri.UrunAdi
                            }
                            else
                            {
                                @strTitle
                            }
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-person_filled"></div>
                            Sözleşme Bilgileri
                        </h1>
                        <form>
                            @if (Model.SozlesmeBilgileri != null)
                            {
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tr>
                                            <td>Sözleşme No</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Sözleşme No" class="validate[required]" value="@Model.SozlesmeBilgileri.SozlesmeNo" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>KTLM Müşteri No</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="KTLM Müşteri No" class="validate[required]" value="@Model.SozlesmeBilgileri.KTLMMusteriNo" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Katılımcı</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Katılımcı" class="validate[required]" value="@Model.SozlesmeBilgileri.Katilimci" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Katılımcı TCKN</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Katılımcı TCKN" class="validate[required]" value="@Model.SozlesmeBilgileri.KatilimciTCKN" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ürün Adı</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Ürün Adı" class="validate[required]" value="@Model.SozlesmeBilgileri.UrunAdi" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>BES'e İlk Giriş Tarihi</td>
                                            <td>
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Sisteme İlk Giriş Tarihi" class="validate[required]" value="@Model.SozlesmeBilgileri.IlkGirisTarihi" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Yürürlük Tarihi</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Yürürlük Tarihi" class="validate[required]" value="@Model.SozlesmeBilgileri.YururlukTarihi" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Emeklilik Tarihi</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Emeklilik Tarihi" class="validate[required]" value="@Model.SozlesmeBilgileri.EmeklilikTarihi" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Katkı Payı Ödeme Dönemi</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Katkı Payı Ödeme Dönemi" class="validate[required]" value="@Model.SozlesmeBilgileri.KatkiPayiOdemeDonemi" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Düzenli Katkı Payı Tutarı</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Düzenli Katkı Payı Tutarı" class="validate[required]" value="@Model.SozlesmeBilgileri.DuzenliKatkiPayiTutari &#x20BA;" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ödeme Aracı</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Ödeme Aracı" class="validate[required]" value="@Model.SozlesmeBilgileri.OdemeAraci" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                                        {
                                            <tr>
                                                <td>Giriş Aidatı Tutarı</td>
                                                <td style="text-align: right">
                                                    <div class="button-gamma">
                                                        <input type="text" placeholder="Giriş Aidatı Tutarı" class="validate[required]" value="@Model.SozlesmeBilgileri.GirisAidatiTutari &#x20BA;" disabled />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ertelenmiş Giriş Aidatı Tutarı</td>
                                                <td style="text-align: right">
                                                    <div class="button-gamma">
                                                        <input type="text" placeholder="Ertelenmiş Giriş Aidatı Tutarı" class="validate[required]" value="@Model.SozlesmeBilgileri.ErtelenmisGirisAidatiTutari &#x20BA;" disabled />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Yönetim Gider Kesintisi</td>
                                                <td style="text-align: right">
                                                    <div class="button-gamma">
                                                        <input type="text" placeholder="Yönetim Gider Kesintisi" class="validate[required]" value="@Model.SozlesmeBilgileri.YonetimGiderKesintisi &#x20BA;" disabled />
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td>Başlangıç Katkı Payı Tutarı</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Başlangıç Katkı Payı Tutarı" class="validate[required]" value="@Model.SozlesmeBilgileri.BKTutar &#x20BA;" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <label>Sözleşme bilgileri bulunamadı!</label>
                            }
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-pin"></div>
                            Lehtar Bilgileri
                        </h1>
                        <form>
                            <div class="table-responsive">
                                @if (Model.LehtarBilgileri != null)
                                {
                                    <table class="table table-hover">
                                        <tr>
                                            <td>Ad Soyad</td>
                                            <td align="right">Oran</td>
                                        </tr>
                                        @foreach (var item in Model.LehtarBilgileri)
                                        {
                                            <tr>
                                                <td>@item.AdSoyad</td>
                                                <td align="right">% @item.Oran</td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <label>Lehtar tanımı yapılmamıştır!</label>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-pin"></div>
                            Tercih Edilen Fon Dağılımı
                        </h1>
                        <form>
                            <div class="table-responsive">
                                @if (Model.TercihEdilenFonDagilimi != null)
                                {
                                    <table class="table table-hover">
                                        <tr>
                                            <td>Fon Adı</td>
                                            <td align="right">Oran</td>
                                        </tr>
                                        @foreach (var item in Model.TercihEdilenFonDagilimi)
                                        {
                                            <tr>
                                                <td>@item.FonAdi</td>
                                                <td align="right">
                                                    <div class="button-gamma">
                                                        <input type="text" value="% @item.Oran">
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <label>Tercih edilen fon dağılımı bulunamadı!</label>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <!--Extended from table-alpha-->
                        <div class="table-alpha">
                            <h1>
                                <div class="icon icon-pin"></div>
                                DK Fonları
                            </h1>
                            <form>
                                <div class="table-responsive">
                                    @if (Model.DKFonlari != null)
                                    {
                                        <table class="table table-hover">
                                            <tr>
                                                <td>Fon Adı</td>
                                                <td align="right">Oran</td>
                                            </tr>
                                            @foreach (var item in Model.DKFonlari)
                                            {
                                                <tr>
                                                    <td>@item.FonAdi</td>
                                                    <td align="right">
                                                        <div class="button-gamma">
                                                            <input type="text" value="% @item.Oran">
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                    else
                                    {
                                        <label>DK fonları bulunamadı!</label>
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>
