﻿@model KatilimEmeklilikInternetSube.Classes.ClassData.Individual.cIndividual_Forms

@{
    string strTitle = Model.PageSettings.Title;
    string strUrlRoot = Model.PageSettings.UrlRoot;

    ViewBag.Title = strTitle + " / Formlar";
    Layout = "~/Views/Shared/_Layout.cshtml"; 

    string strPolicy = !string.IsNullOrEmpty(KatilimEmeklilikInternetSube.Classes.Tools.QueryStrings.policyRequest) ? KatilimEmeklilikInternetSube.Classes.Tools.QueryStrings.policyRequest : "0";
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">@Model.UrunAdi</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <a href="/@strUrlRoot/formlar?policy=@strPolicy&reportid=6">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Emeklilik Bilgi Formu</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a href="/@strUrlRoot/formlar?policy=@strPolicy&reportid=22">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Yıllık Hesap Bildirim Cetveli</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a href="/@strUrlRoot/formlar?policy=@strPolicy&reportid=9">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Ayrılma Talep ve Bilgi Formu</span>
                        </div>
                    </a>
                </div>
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/@strUrlRoot/formlar?policy=@strPolicy&reportid=5">
                            <div class="box-content-wide" style="min-height: 245px;">
                                <div class="icon-pdf icon"></div>
                                <span class="high">Aktarım Talep ve Bilgi Formu</span>
                            </div>
                        </a>
                    </div>
                }
                <div class="col-sm-6 col-lg-4">
                    <a href="/@strUrlRoot/formlar?policy=@strPolicy&reportid=7&type=ayrilma">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Hesap Özeti Ayrılma</span>
                        </div>
                    </a>
                </div>
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/@strUrlRoot/formlar?policy=@strPolicy&reportid=7&type=aktarim">
                            <div class="box-content-wide" style="min-height: 245px;">
                                <div class="icon-pdf icon"></div>
                                <span class="high">Hesap Özeti Aktarım</span>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="container-fluid" style="border-top: 1px solid #e5eff4; padding-top: 20px">
            <div class="row">
                @if (Model.CmsForms != null && Model.CmsForms.Count > 0)
                {
                    foreach (var item in Model.CmsForms)
                    {
                        bool bolView = true;
                        if (!string.IsNullOrEmpty(item.strType))
                        {
                            KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType pageType = KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel;
                            if (item.strType == "bireysel")
                            {
                                pageType = KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel;
                            }
                            else if (item.strType == "otomatikkatilim")
                            {
                                pageType = KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.OtomatikKatilim;
                            }

                            if (Model.PageSettings.RouteName != pageType)
                            {
                                bolView = false;
                            }
                        }

                        if (bolView)
                        {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/files/@item.strFile" target="_blank">
                            <div class="box-content-wide" style="min-height: 245px;">
                                <div class="icon-pdf icon"></div>
                                <span class="high">@item.strName</span>
                            </div>
                        </a>
                    </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>

@section footer
{
    @Html.Raw(ViewBag.Msg)
}