﻿@model KatilimEmeklilikInternetSube.Classes.ClassData.Individual.cIndividual_Forms

@{
    string strTitle = Model.PageSettings.Title;
    string strUrlRoot = Model.PageSettings.UrlRoot;

    ViewBag.Title = strTitle + " / Formlar";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
     
    string strPolicy = !string.IsNullOrEmpty(KatilimEmeklilikInternetSube.Classes.Tools.QueryStrings.policyRequest) ? KatilimEmeklilikInternetSube.Classes.Tools.QueryStrings.policyRequest : "0";
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">@Model.UrunAdi</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <a href="/@strUrlRoot/formlar?policy=@strPolicy&reportid=6">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Emeklilik Bilgi Formu</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a href="/@strUrlRoot/formlar?policy=@strPolicy&reportid=22">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Yıllık Hesap Bildirim Cetveli</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a href="/@strUrlRoot/formlar?policy=@strPolicy&reportid=9">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Ayrılma Talep ve Bilgi Formu</span>
                        </div>
                    </a>
                </div>
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/@strUrlRoot/formlar?policy=@strPolicy&reportid=5">
                            <div class="box-content-wide" style="min-height: 245px;">
                                <div class="icon-pdf icon"></div>
                                <span class="high">Aktarım Talep ve Bilgi Formu</span>
                            </div>
                        </a>
                    </div>
                }
                <div class="col-sm-6 col-lg-4">
                    <a href="/@strUrlRoot/formlar?policy=@strPolicy&reportid=7&type=ayrilma">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Hesap Özeti Ayrılma</span>
                        </div>
                    </a>
                </div>
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/@strUrlRoot/formlar?policy=@strPolicy&reportid=7&type=aktarim">
                            <div class="box-content-wide" style="min-height: 245px;">
                                <div class="icon-pdf icon"></div>
                                <span class="high">Hesap Özeti Aktarım</span>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="container-fluid" style="border-top: 1px solid #e5eff4; padding-top: 20px">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <a href="/files/BESKatkiPayiOdemeyeAraVermeTalepFormu.pdf" target="_blank">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Bes Katkı Payı Ödemeye Ara Verme Talep Formu</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a href="/files/BESLehdarDegisiklikTalepFormu.pdf" target="_blank">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Bes Lehdar Değişiklik Talep Formu</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a href="/files/BirikimlerinTransferiTalepFormu.pdf" target="_blank">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Birikimlerin Transferi Talep Formu (Şirket içi)</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a href="/files/EkOdemeTalepFormu.pdf" target="_blank">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Ek Ödeme Talep Formu</span>
                        </div>
                    </a>
                </div>
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/files/GrupFonDegisikligiTalepFormu.pdf" target="_blank">
                            <div class="box-content-wide" style="min-height: 245px;">
                                <div class="icon-pdf icon"></div>
                                <span class="high">Grup Fon Dağılım Oranları Değişikliği Talep Formu</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <a href="/files/GrupPlanDegisikligiTalepFormu.pdf" target="_blank">
                            <div class="box-content-wide" style="min-height: 245px;">
                                <div class="icon-pdf icon"></div>
                                <span class="high">Grup Plan Değişikliği Talep Formu</span>
                            </div>
                        </a>
                    </div>
                }
                <div class="col-sm-6 col-lg-4">
                    <a href="/files/KisiselBilgilerdeDegisiklikTalepFormu.pdf" target="_blank">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Kişisel Bilgilerde Değişiklik Talep Formu</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <a href="/files/OdemeBilgileriDegisikligiTalepFormu.pdf" target="_blank">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Ödeme Bilgileri Değişiklik Talep Formu</span>
                        </div>
                    </a>
                </div>
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/files/OdeyenKisiDegisikligiTalepFormu.pdf" target="_blank">
                            <div class="box-content-wide" style="min-height: 245px;">
                                <div class="icon-pdf icon"></div>
                                <span class="high">Ödeyen Kişi Değişikliği Talep Formu</span>
                            </div>
                        </a>
                    </div>
                }
                <div class="col-sm-6 col-lg-4">
                    <a href="/files/BireyselFonDagilimOranlariDegisikligiTalepFormu.pdf" target="_blank">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Bireysel Fon Dağılım Oranları Değişikliği Talep Formu</span>
                        </div>
                    </a>
                </div>
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/files/BireyselPlanDegisikligiTalepFormu.pdf" target="_blank">
                            <div class="box-content-wide" style="min-height: 245px;">
                                <div class="icon-pdf icon"></div>
                                <span class="high">Bireysel Plan Değişikliği Talep Formu</span>
                            </div>
                        </a>
                    </div>
                }
                <div class="col-sm-6 col-lg-4">
                    <a href="/files/Isci-Isveren-Beyan-Formu.pdf" target="_blank">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">İşçi İşeveren Beyan Formu</span>
                        </div>
                    </a>
                </div>
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/files/Vade-Doyurma-Talep-Formu.docx" target="_blank">
                            <div class="box-content-wide" style="min-height: 245px;">
                                <div class="icon-pdf icon"></div>
                                <span class="high">Vade Doyurma Talep Formu</span>
                            </div>
                        </a>
                    </div>
                }
                <div class="col-sm-6 col-lg-4">
                    <a href="/files/Hizmet-Sozlesmesi-v1.pdf" target="_blank">
                        <div class="box-content-wide" style="min-height: 245px;">
                            <div class="icon-pdf icon"></div>
                            <span class="high">Hizmet Sözleşmesi</span>
                        </div>
                    </a>
                </div>
                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                {
                    <div class="col-sm-6 col-lg-4">
                        <a href="/files/ÇALIŞAN BİLGİLENDİRME KILAVUZU_revize5 (003).pdf" target="_blank">
                            <div class="box-content-wide" style="min-height: 245px;">
                                <div class="icon-pdf icon"></div>
                                <span class="high">Çalışan Bilgilendirme Klavuzu</span>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>

@section footer
{
    @Html.Raw(ViewBag.Msg)
}