﻿@model KatilimEmeklilikInternetSube.Classes.ClassData.Individual.FundDistributionChange.cIndividual_FundDistributionChange

@{
    string strTitle = Model.PageSettings.Title;

    ViewBag.Title = strTitle + " / Fon Dağılım Değişikliği";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var userSession = KatilimEmeklilikInternetSube.Classes.LiveData.Sessions.FundDistributionChange;
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">
                            @if (!string.IsNullOrEmpty(Model.UrunAdi))
                            {
                                @Model.UrunAdi
                            }
                            else
                            {
                                @strTitle
                            }
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-person_filled"></div>
                            Fon Dağılım Değişikliği
                        </h1>
                        @if (!Model.bolVisible)
                        {
                            if (string.IsNullOrEmpty(userSession.strType))
                            {
                                <form id="form1" action="@Request.Url.PathAndQuery" method="post">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tr>
                                                <td>Risk Getiri Analizi</td>
                                                <td>
                                                    <input type="radio" name="rgpType" id="rgpTypeYes" value="yes" onclick="$('#form1').submit();" />
                                                    İstiyorum
                                                </td>
                                                <td>
                                                    <input type="radio" name="rgpType" value="no" onclick="$('#form1').submit();" />
                                                    İstemiyorum
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <input type="hidden" name="hdType" value="rgptype" />
                                </form>
                            }
                            else if (userSession.strType == "rgptype" && userSession.strRrpType == "yes")
                            {
                                <form id="form1" action="@Request.Url.PathAndQuery" method="post">
                                    @for (int i = 0; i < Model.RrpQuestions.Count; i++)
                                    {
                                        <div class="table-responsive" id="question_@i" style="display: @(i == 0 ? "block" : "none")" )>
                                            <label>@Model.RrpQuestions[i].Soru</label>
                                            <table class="table table-hover">
                                                @foreach (var answer in Model.RrpQuestions[i].Cevaplar)
                                                {
                                                    <tr>
                                                        <td style="width: 10px">
                                                            <input type="radio" data-questionid="@Model.RrpQuestions[i].ID" data-point="@answer.Puan" name="answer_@i" value="@answer.ID" />
                                                        </td>
                                                        <td style="text-align: left">@answer.Cevap</td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    }
                                    <input type="hidden" name="hdType" value="question" />
                                    <input type="hidden" name="questionanswers" id="questionanswers" value="" />
                                </form>
                                <input type="hidden" value="0" id="question" />
                                <input type="hidden" value="@(Model.RrpQuestions.Count - 1)" id="maxquestion" />
                                <input type="button" id="btnBack" class="button-beta pull-left" value="Önceki" onclick="ShowQuestion('back');" style="display: none">
                                <input type="button" id="btnNext" class="button-beta pull-right" value="Sonraki" onclick="ShowQuestion('next');">
                                <input type="button" id="btnFinishQuestion" class="button-alpha pull-right" value="Strateji Öner" onclick="FinishQuestion();" style="display: none">
                            }
                            else if (userSession.strType == "question")
                            {
                                if (Model.RrpPointResults != null)
                                {
                                    <form id="form1" action="@Request.Url.PathAndQuery" method="post">
                                        @foreach (var result in Model.RrpPointResults)
                                        {
                                            <div class="table-responsive">
                                                <label>
                                                    <input type="radio" name="secimtip" id="secimtip" value="@result.DEGER_ID" data-detayid="@result.DETAY_ID" @(Model.RrpPointResults.Count == 1 ? "checked" : "") />
                                                    @result.SecimTip
                                                </label>
                                                <table class="table table-hover" id="table_@result.DEGER_ID">
                                                    <tr>
                                                        <td>Fon Adı</td>
                                                        <td style="text-align: right">Fon Dağılım Oranı</td>
                                                    </tr>
                                                    @foreach (var fon in result.fonlar)
                                                    {
                                                        <tr>
                                                            <td>@fon.FonAd</td>
                                                            <td style="text-align: right">
                                                                % @fon.FonOran
                                                                <input type="hidden" value="@fon.FonKod" data-oran="@fon.FonOran" />
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        }
                                        <input type="hidden" name="hdType" id="hdType" value="" />
                                        <input type="hidden" name="fonsecim" id="fonsecim" value="" />
                                        <input type="button" id="btnSecimCancel" class="button-beta pull-left font-size" value="Fon Önerisini Kabul Etmiyorum" onclick="FinishRrp('iptal');">
                                        <input type="button" id="btnSecim" class="button-beta pull-right font-size" value="Fon Önerisini Kabul Ediyorum" onclick="FinishRrp('devam');">
                                    </form>
                                }
                            }
                            else if (userSession.strType == "secim" || (userSession.strType == "rgptype" && userSession.strRrpType == "no"))
                            {
                                <h3>Kalan Fon Dağılım Değişikliği Hakkı</h3>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tr>
                                            <td>Adet</td>
                                            <td style="text-align: right">@Model.RemainingFundChangeRight</td>
                                        </tr>
                                    </table>
                                </div>

                                if (Model.MevcutFonlar != null)
                                {
                                    <h3>
                                        Mevcut Dağılım
                                    </h3>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tr>
                                                <td>Fon Adı</td>
                                                <td style="text-align: right">Fon Dağılım Oranı</td>
                                            </tr>
                                            @foreach (var item in Model.MevcutFonlar)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.FonAd
                                                </td>
                                                <td style="text-align: right">% @item.FonOran</td>
                                            </tr>
                                        }
                                        </table>
                                    </div>
                                }

                                if (Model.YeniDagilimFonlar != null)
                                {
                                    <h3>
                                        Yeni Dağılım
                                    </h3>
                                    <form id="form1" action="@Request.Url.PathAndQuery" method="post">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="tableNewFunds">
                                                <tr>
                                                    <td>Fon Adı</td>
                                                    <td style="text-align: right">Mevcut Fon Dağılım Oranı</td>
                                                    <td style="text-align: right">Talep Edilen Yeni Fon Dağılım Oranı</td>
                                                </tr>
                                                @foreach (var item in Model.YeniDagilimFonlar)
                                                {
                                                    <tr>
                                                        <td>
                                                            @item.FonAd
                                                    </td>
                                                    <td style="text-align: right">% @item.FonOran</td>
                                                    <td style="text-align: right">
                                                        <div class="button-gamma">
                                                            %
                                                            <input type="number" max="100" data-fonkod="@item.FonKod" value="@item.YeniFonOran" style="border: solid 1px #ddd; padding: 5px; width: 150px" @(userSession.strType == "secim" && userSession.strSecim == "devam" ? "disabled" : "") />
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                                <tr>
                                                    <td colspan="3" style="text-align: right">
                                                        Toplam Fon Oranı:
                                                        <label id="lblTotalFund">@(userSession.strSecim == "devam" ? Model.YeniDagilimFonlar.Sum(s => int.Parse(s.FonOran)).ToString() : "0")</label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-sm-12">
                                            <div>
                                                <input type="radio" name="demandType" value="GD">
                                                Hem mevcut birikimimin hem de yeni katkı payı ödemelerimin dağılımı talep edilen dağılma uygun hale getirilsin
                                            </div>
                                            <div>
                                                <input type="radio" name="demandType" value="SG">
                                                Sadece eski birikimlerimin dağılımı talep edilen dağılıma uygun hale getirilsin, yeni katkı payı ödemelerimin dağılımı mevcut haliyle kalsın
                                            </div>
                                            <div>
                                                <input type="radio" name="demandType" value="SI">
                                                Sadece yeni katkı payı ödemelerimin dağılımı talep edilen dağılıma uygun hale getirilsin, mevcut birikimlerimin dağılımı mevcut haliyle kalsın
                                            </div>
                                        </div>

                                        <input type="hidden" name="hdType" value="form" />
                                        <input type="hidden" name="yenidagilim" id="yenidagilim" value="" />
                                        <input type="button" class="button-alpha pull-right" value="Güncelle" onclick="FormSave();">
                                    </form>
                                }
                                else
                                {
                                    <label>Emeklilik yatırım fonları bulunamadı!</label>
                                }
                            }
                        }
                        else
                        {
                            <br />
                            <p>
                                <label>@Model.strMsg</label>
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>

<script type="text/javascript">

    function NewFundChange() {

    };
    function ShowQuestion(strType) {
        var intQ = parseInt($("#question").val());
        if (strType == 'next') {
            var answer = $('input[name=answer_' + intQ + ']:checked').val();
            if (answer != '' && answer != undefined) {
                $("#question_" + intQ).hide();
                $("#question_" + (intQ + 1)).show();

                var intMQ = parseInt($("#maxquestion").val());
                if (intQ + 1 == intMQ) {
                    $("#btnNext").hide();
                    $("#btnFinishQuestion").show();
                }
                $("#btnBack").show();
                $("#question").val((intQ + 1));
            } else {
                MsgOpen('Soruyu cevaplayınız!', 'warning');
            }
        } else if (strType == 'back') {
            $("#question_" + intQ).hide();
            $("#question_" + (intQ - 1)).show();
            if (intQ - 1 == 0) {
                $("#btnBack").hide();
            }
            $("#btnNext").show();
            $("#btnFinishQuestion").hide();
            $("#question").val((intQ - 1));
        }
    };
    function FinishQuestion() {
        var intMQ = parseInt($("#maxquestion").val());
        var answer = $('input[name=answer_' + intMQ + ']:checked').val();
        if (answer != '' && answer != undefined) {
            var questionanswers = [];
            for (var i = 0; i < intMQ + 1; i++) {
                $("#question_" + i + " input").each(function () {
                    if ($(this).is(":checked")) {
                        var newQ = {};
                        newQ.questionId = $(this).attr("data-questionid");
                        newQ.answerId = $(this).val();
                        newQ.point = parseInt($(this).attr("data-point"));
                        questionanswers.push(newQ);
                    }
                });
            }
            $("#questionanswers").val(JsonString(questionanswers));
            $("#form1").submit();
        } else {
            MsgOpen('Soruyu cevaplayınız!', 'warning');
        }
    };
    function FinishRrp(strType) {
        if (strType == 'devam') {
            var secim = $('input[name=secimtip]:checked').val();
            if (secim != '' && secim != undefined) {
                var secimJson = {};
                secimJson.DEGER_ID = $('#secimtip').val();
                secimJson.DETAY_ID = $('#secimtip').attr("data-detayid");
                secimJson.fonlar = [];
                $("#table_" + secim + " tr :input").each(function () {
                    var newFon = {};
                    newFon.FonKod = $(this).val();
                    newFon.FonOran = $(this).attr("data-oran");
                    secimJson.fonlar.push(newFon);
                });
                $("#fonsecim").val(JsonString(secimJson));
                $("#hdType").val('secimdevam');
                $("#form1").submit();
            } else {
                MsgOpen('Seçim yapmalısınız!', 'warning');
            }
        } else {
            $("#hdType").val('secimiptal');
            $("#form1").submit();
        }
    };
    function FormSave() {
        if (parseInt($("#lblTotalFund").html()) != 100) {
            MsgOpen("Fon oranlarının 100 olmalıdır!", "warning");
            return;
        }

        var demandTypeVal = $("input:radio[name='demandType']:checked").val();
        if (demandTypeVal == undefined || demandTypeVal == null || demandTypeVal == "") {
            MsgOpen("Talep tipini seçiniz.", "warning");
            return;
        }

        var newFundJson = [];
        $("#tableNewFunds tr :input").each(function () {
            var newFund = {};
            newFund.FonKod = $(this).attr("data-fonkod");
            newFund.FonOran = $(this).val();
            newFundJson.push(newFund);
        });
        $("#yenidagilim").val(JsonString(newFundJson));
        $("#form1").submit();
    };
    function JsonString(obj) {
        var t = typeof (obj);
        if (t != "object" || obj === null) {
            if (t == "string") obj = '"' + obj + '"';
            return String(obj);
        }
        else {
            var n, v, json = [], arr = (obj && obj.constructor == Array);
            for (n in obj) {
                v = obj[n]; t = typeof (v);
                if (t == "string") v = '"' + v + '"';
                else if (t == "object" && v !== null) v = JSON.stringify(v);
                json.push((arr ? "" : '"' + n + '":') + String(v));
            }
            return (arr ? "[" : "{") + String(json) + (arr ? "]" : "}");
        }
    };
</script>

@section footer
{
    @Html.Raw(ViewBag.Msg)

    <script type="text/javascript">
        $(function () {
            $("input[type='number']").bind("change keyup", function () {
                var intTotal = 0;
                $("#tableNewFunds tr :input").each(function () {
                    try {
                        if ($(this).val() != '') {
                            intTotal += parseInt($(this).val());
                        }
                    }
                    catch (e) { }
                });
                $("#lblTotalFund").html(intTotal);
            });
        });
    </script>
}