﻿@using KatilimEmeklilikInternetSube.Classes.ClassData.Individual
@model cIndividual

@{
    string strUrlRoot = Model.PageSettings.UrlRoot;

    ViewBag.Title = Model.PageSettings.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string strCryptPolicyNo = KatilimEmeklilikInternetSube.Classes.Tools.cCrypto.EncryptDES(ViewBag.policyNo.ToString());
}

<div class="page bes">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">@Model.PensionGeneralInfo.UrunAd</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="box-content-wide"><span class="sub">BES Giriş Tarihiniz</span><span class="high">@Model.PensionGeneralInfo.BesGirisTarih</span></div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="box-content-wide"><span class="sub">Toplam Katkı Payınız</span><span class="high">@Model.PensionGeneralInfo.KatkiPayiTutar</span></div>
                </div>
            </div>
        </div>
        <div class="container-fluid mrTop">
            <div class="row">
                <div class="col-md-12 col-lg-2">
                    <div class="selectbox-alpha">
                        <form id="form1" method="post" action="/@strUrlRoot">
                            <select name="polNo" class="selectpicker validate[required]" onchange="$('#form1').submit();">
                                @if (Model.Policies != null)
                                {
                                    foreach (var item in Model.Policies)
                                    {
                                        <option value="@KatilimEmeklilikInternetSube.Classes.Tools.cCrypto.EncryptDES(item.PoliceNo.ToString())" @(ViewBag.policyNo == item.PoliceNo ? "selected" : "")>@item.PoliceNo</option>
                                    }
                                }
                                else
                                {
                                    <option value="">Seçiniz</option>
                                }
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mrTop">
                <div class="col-md-12">
                    <div class="chart-pie-alpha">
                        <div class="chart-title">
                            <span>Toplam Birikiminiz</span>
                            <h2>@KatilimEmeklilikInternetSube.Classes.Tools.Utilities.Price(Model.AccumulationInfo.ToplamBirikim) &#x20BA;</h2>
                        </div>
                        <div class="chart-context"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mrTop">
            <div class="col-md-6">
                <div class="box-content-table">
                    <div class="item"><span class="sub">Katılımcı Katkısı</span><span class="high">@KatilimEmeklilikInternetSube.Classes.Tools.Utilities.Price(Model.AccumulationInfo.KatilimciKatkisi) <sub>&#x20BA;</sub></span></div>
                    <div class="item"><a href="javascript:void(0);" style="float: right;" class="icon icon-warning" onclick="MsgOpen('Bu tutara diğer şirketlerden yapılan aktarım tutarı, ek katkı payları ve düzenli ödenen katkı payları dahildir.', 'warning');"></a><span class="sub">Yatırılan Toplam Tutar</span><span class="high">@KatilimEmeklilikInternetSube.Classes.Tools.Utilities.Price(Model.AccumulationInfo.YatirilanToplamTutar) <sub>&#x20BA;</sub></span></div>
                    <div class="item"><span class="sub">Yatırım Getirisi</span><span class="high">@KatilimEmeklilikInternetSube.Classes.Tools.Utilities.Price(Model.AccumulationInfo.YatirimGetirisi) <sub>&#x20BA;</sub></span></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-content-table">
                    <div class="item"><span class="sub">Devlet Katkısı</span><span class="high">@KatilimEmeklilikInternetSube.Classes.Tools.Utilities.Price(Model.AccumulationInfo.DevletKatkisi) <sub>&#x20BA;</sub></span></div>
                    <div class="item"><a href="javascript:void(0);" style="float: right;" class="icon icon-warning" onclick="MsgOpen('Bu tutara diğer şirketlerden yapılan aktarım tutarı, ek katkı payları ve düzenli ödenen katkı payları dahildir.', 'warning');"></a><span class="sub">Yatırılan Devlet Katkısı</span><span class="high">@KatilimEmeklilikInternetSube.Classes.Tools.Utilities.Price(Model.AccumulationInfo.YatirilanDevletKatkisi) <sub>&#x20BA;</sub></span></div>
                    <div class="item"><span class="sub">Devlet Katkısı Getirisi</span><span class="high">@KatilimEmeklilikInternetSube.Classes.Tools.Utilities.Price(Model.AccumulationInfo.DevletKatkisiGetirisi) <sub>&#x20BA;</sub></span></div>
                </div>
            </div>
        </div>
        <div class="container-fluid mrTop">
            <div class="col-md-12">
                <div class="table-alpha">
                    <h1>
                        Karşılaştırmalı Fon Getirileri
                        <a href="javascript:void();" style="font-size: 18px; font-weight: bold; float: right;" title="Bilgi" onclick="OpenChartInfo();"><i class="icon-warning"></i></a>
                    </h1>
                    @if (Model.AlternativeInvestmentTools != null)
                    {
                        <div class="chart_div" id="chart_div1"></div>
                        <p>&nbsp;</p>
                        <div class="chart_div" id="chart_div2"></div>
                    }
                </div>
            </div>
        </div>
        <div class="container-fluid mrTop no-padding">
            <div class="col-md-12 no-padding">
                <div class="datepicker-hero">
                    <h1>Tarihler Arası Birikim Değişimi</h1>
                    <div class="container-fluid">
                        <div class="col-md-5">
                            <div class="datepicker-alpha">
                                <input type="text" readonly="readonly" id="txtStartDate" name="txtStartDate" data-date-format="dd-mm-yyyy" class="datepicker-input -first form-control" placeholder="Baslangıç tarihini belirleyiniz." />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="datepicker-alpha">
                                <input type="text" readonly="readonly" id="txtEndDate" name="txtEndDate" data-date-format="dd-mm-yyyy" class="datepicker-input -second form-control" placeholder="Bitiş tarihini belirleyiniz." />
                            </div>
                        </div>
                        <div class="col-md-2"><a href="javascript:void(0)" onclick="GetAccumulationChange();" class="button-alpha">GÖSTER</a></div>
                    </div>
                    <div class="container-fluid texts">
                        <div class="col-xs-12">
                            <span class="sub">@ViewBag.policyNo nolu Sözleşmenize İstinaden Başlangıç ve Bitiş Tarihi Vererek, Birikim Bilgilerinizi Sorgulayabilirsiniz</span><span class="sub">Toplam Birikim Tutarı Değişiminiz (Devlet Katkısı Dahil) :</span><span class="high"><label id="dvtkatkisi">-</label></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mrTop">
            <div class="col-md-12">
                <div class="button-navigations">
                    <div class="row">
                        <div class="col-md-6 col-lg-4"><a @Html.Raw(Model.IsHaveData ? "href=\"" + strUrlRoot + "/sozlesme-bilgileri?policy=" + strCryptPolicyNo + "\"" : "") class="button-container alpha mrTop icon-certificate">Sözleşme Bilgileri</a></div>
                        <div class="col-md-6 col-lg-4"><a @Html.Raw(Model.IsHaveData ? "href=\"" + strUrlRoot + "/birikim-bilgileri?policy=" + strCryptPolicyNo + "\"" : "") class="button-container beta mrTop icon-rich">Birikim Bilgileri</a></div>
                        <div class="col-md-6 col-lg-4"><a @Html.Raw(Model.IsHaveData ? "href=\"" + strUrlRoot + "/odeme-bilgileri?policy=" + strCryptPolicyNo + "\"" : "") class="button-container gamma mrTop icon-money">Ödeme Bilgileri</a></div>
                        <div class="col-md-6 col-lg-4"><a @Html.Raw(Model.IsHaveData ? "href=\"" + strUrlRoot + "/degisiklik?policy=" + strCryptPolicyNo + "\"" : "") class="button-container alpha mrTop icon-statistics">İşlemler</a></div>
                        @if (Model.Policies.Count(c => c.PoliceNo == ViewBag.policyNo && c.bolForms) > 0)
                        {
                            <div class="col-md-6 col-lg-4"><a @Html.Raw(Model.IsHaveData ? "href=\"" + strUrlRoot + "/formlar?policy=" + strCryptPolicyNo + "\"" : "") class="button-container beta mrTop icon-reports">Formlar</a></div>
                        }
                        <div class="col-md-6 col-lg-4"><a @Html.Raw(Model.IsHaveData ? "href=\"" + strUrlRoot + "/sozlesme-indir?policy=" + strCryptPolicyNo + "\"" : "") class="button-container gamma mrTop icon-pdf">Sözleşme İndir</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mrTop no-padding">
            <div class="col-md-12 no-padding">
                <div class="carousel-alpha">
                    <div class="owl-carousel">
                        <div class="item">
                            <img src="/images/slider1.png">
                            <div class="text-content">
                                <span class="title">Yeni Hesaplı Katılım Emeklilik Planı</span>
                                <p class="text">Katılım Emeklilik’in Yeni Hesaplı Katılım Bes Planı ile huzurlu bir geleceğe ilk adımı bugün atın. Yeni Hesaplı Katılım Emeklilik Planı’na aylık 135 TL ve üzeri katkı payıyla bütçenizi zorlamadan rahatça katılabilirsiniz.</p>
                                <a href="https://www.katilimemeklilik.com.tr/bireysel-emeklilik/faizsiz-bireysel-emeklilik-planlari/yeni-hesapli-katilim-emeklilik-plani/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider2.png">
                            <div class="text-content">
                                <span class="title">Yeni Özel Katılım Emeklilik Planı</span>
                                <p class="text">Katılım Emeklilik’in Yeni Özel Katılım Bes Planı ile huzurlu bir geleceğe ilk adımı bugün atın. Yeni Özel Katılım Emeklilik Planı’na aylık 535 TL ve üzeri katkı payıyla bütçenizi zorlamadan rahatça katılabilir, emeklilik döneminiz için benzersiz bir tasarruf sağlayabilirsiniz.</p>
                                <a href="https://www.katilimemeklilik.com.tr/bireysel-emeklilik/faizsiz-bireysel-emeklilik-planlari/yeni-ozel-katilim-emeklilik-plani/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider3.png">
                            <div class="text-content">
                                <span class="title">Yeni Güzel Katılım Emeklilik Planı</span>
                                <p class="text">Katılım Emeklilik’in Yeni Güzel Katılım Bes Planı ile huzurlu bir geleceğe ilk adımı bugün atın. Yeni Güzel Katılım Emeklilik Planı’na aylık 1285 TL ve üzeri katkı payıyla katılabilir ve bugünkü refah seviyenizin gelecekte de devam etmesini sağlayabilirsiniz.</p>
                                <a href="https://www.katilimemeklilik.com.tr/bireysel-emeklilik/faizsiz-bireysel-emeklilik-planlari/yeni-guzel-katilim-emeklilik-plani/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider4.png">
                            <div class="text-content">
                                <span class="title">Faizsiz Kredi Hayat Sigortası</span>
                                <p class="text">Faizsiz Kredi Hayat Sigortası ile olası bir maluliyet ve vefat durumunda bankaya olan borcunuzdan ötürü sevdiklerinizi zor durumda bırakmazsınız. Kalan kredi tutarınız Katılım Emeklilik tarafından ödenir.</p>
                                <a href="https://www.katilimemeklilik.com.tr/hayat-sigortasi/faizsiz-kredi-hayat-sigortasi/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider5.png">
                            <div class="text-content">
                                <span class="title">Kritik Hastalıklar Sigortası</span>
                                <p class="text">Kritik Hastalıklar Sigortası ile kendinizi ve sevdiklerinizi bugünden güvence altına alın. Kalp krizi, kanser veya hastalık sonucu inme durumlarında alacağınız toplu para ile ister tedavi masraflarınızı, ister diğer giderlerinizi karşılayın. Yaşam kaybı halinde de sevdiklerinizi mağdur bırakmayın..</p>
                                <a href="https://www.katilimemeklilik.com.tr/hayat-sigortasi/kritik-hastaliklar-sigortasi/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider6.png">
                            <div class="text-content">
                                <span class="title">Eğitim Güvencesi Hayat Sigortası</span>
                                <p class="text">Katılım Emeklilik Eğitim Güvencesi Hayat Sigortası ile çocuğunuzun eğitimini, başınıza gelebilecek beklenmedik olaylara karşı güvence altına alırsınız. Çocuğunuzun eğitim hayatını aynı standartlarda sürdürmesini sağlarsınız.</p>
                                <a href="https://www.katilimemeklilik.com.tr/hayat-sigortasi/egitim-guvencesi-hayat-sigortasi/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider7.png">
                            <div class="text-content">
                                <span class="title">Tam Destek Ferdi Kaza Sigortası</span>
                                <p class="text">Tam Destek Ferdi Kaza Sigortası sayesinde trafik kazalarından düşme ve burkulmalara kadar her yerde karşılaşabileceğiniz kazalara karşı kendinizi maddi yönden güvence altına alırsınız.</p>
                                <a href="https://www.katilimemeklilik.com.tr/ferdi-kaza-sigortasi/tam-destek-ferdi-kaza-sigortasi/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider8.png">
                            <div class="text-content">
                                <span class="title">Destek Ferdi Kaza Sigortası</span>
                                <p class="text">Destek Ferdi Kaza Sigortası sayesinde trafik kazalarından düşme ve burkulmalara kadar her yerde karşılaşabileceğiniz kazalara karşı kendinizi maddi yönden güvence altına alırsınız.</p>
                                <a href="https://www.katilimemeklilik.com.tr/ferdi-kaza-sigortasi/destek-ferdi-kaza-sigortasi/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slider9.png">
                            <div class="text-content">
                                <span class="title">Krediye Bağlı Ferdi Kaza Sigortası</span>
                                <p class="text">Krediye bağlı Ferdi kaza Sigortası ile olası bir kaza sonucu maluliyet ve kaza sonucu vefat durumunda bankaya olan borcunuzdan ötürü sevdiklerinizi zor durumda bırakmazsınız. Kalan kredi tutarınız Katılım Emeklilik tarafından ödenir.</p>
                                <a href="https://www.katilimemeklilik.com.tr/ferdi-kaza-sigortasi/krediye-bagli-ferdi-kaza-sigortasi/" target="_blank" class="button-beta">Detaylı Bilgi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>

<script type="text/javascript">
    function GetAccumulationChange() {
        if ($('[name="txtStartDate"]').val() == "" || $('[name="txtEndDate"]').val() == "") {
            MsgOpen("Tarih aralıklarını belirlemediniz.", "error");
            return false;
        }
        $.ajax({
            type: "POST", url: "/individual/getaccumulationchange",
            data: { pol: '@strCryptPolicyNo', startdate: $('#txtStartDate').val(), enddate: $('#txtEndDate').val() },
            cache: false,
            headers: { "cache-control": "no-cache" },
            success: function (data) {
                var resultData = $.parseJSON(data);
                if (resultData.price == "-") {
                    $('#dvtkatkisi').html("-");
                } else {
                    $('#dvtkatkisi').html(resultData.price + " <sub>&#x20BA;</sub>");
                }
                if (resultData.msg != "") {
                    MsgOpen(resultData.msg, "warning");
                }
            }
        });
    };
    function OpenChartInfo() {
        $('[tpl="modal-prompt"] .mrTop').hide();
        $('[tpl="modal-prompt"] .text').attr('style', 'word-wrap: break-word; max-width: 500px; text-align: left;');

        var strText = 'Bu tabloda gösterilen rakamlar bilgi vermek amacıyla belirtilmiş olup getiri konusunda herhangi bir taahhüt sunmamaktadır. Mevcut birikiminizin tamamının belirtilen fon seçeneğinde değerlendirilmesi durumunda oluşacak tahmini tutar ve oran gösterilmektedir. Dilerseniz birikiminizi ve düzenli katkı paylarınızı farklı fonlar arasında dağıtabilirsiniz.';

        $(window).trigger('modal-prompt', { title: 'Bilgi', text: strText });
    };
</script>

@section footer
{
    @Html.Raw(ViewBag.Msg)

    @if (Model.pieChartData != null)
    {
        if (Model.pieChartData.Count > 0)
        {
            string strChart = "";
            foreach (var item in Model.pieChartData)
            {
                strChart += ",{ name: \"" + item.strText + "\", y: " + item.strValue.Replace(",", ".") + " }";
            }

            strChart = strChart.Remove(0, 1);

            <script type="text/javascript">
            $(function () {
                $(".chart-context").highcharts({
                    credits: {
                        enabled: false
                    },
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: !1,
                        type: "pie"
                    },
                    title: {
                        text: ""
                    },
                    tooltip: {
                        pointFormat: "{series.name}: <b>{point.percentage:.1f}%</b>"
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: !0,
                            cursor: "pointer",
                            dataLabels: {
                                enabled: !1
                            },
                            showInLegend: !0
                        }
                    },
                    series: [{
                        name: "Brands",
                        colorByPoint: !0,
                        data: [ @Html.Raw(strChart)]
                    }]
                });
            });
            </script>
        }
    }

    @if (Model.AlternativeInvestmentTools != null && Model.AlternativeInvestmentTools.Count > 0)
    {
        string strChart1 = "";
        string strChart2 = "";

        foreach (var item in Model.AlternativeInvestmentTools)
        {
            string strTutar = KatilimEmeklilikInternetSube.Classes.Tools.Utilities.Price(item.Tutar).Replace(",", ".");
            strChart1 += ",['" + item.Fon.Ad + "', " + (item.Tutar).ToString().Replace(",", ".") + ", '" + item.Fon.Renk + "', '" + strTutar.Remove(strTutar.Length - 3, 3) + "']";
            strChart2 += ",['" + item.Fon.Ad + "', " + item.Yuzde.ToString().Replace(",", ".") + ", '" + item.Fon.Renk + "', '" + item.Yuzde.ToString().Replace(",", ".") + "']";
        }

        if (!string.IsNullOrEmpty(strChart1))
        {
            <script type="text/javascript">
            function drawBasic1() {
                var data = google.visualization.arrayToDataTable([
                       ['Element', '', { role: 'style' }, { role: 'annotation' }]
                       @Html.Raw(strChart1)
                ]);

                var options = {
                    title: 'BİRİKİM (TL)',
                    legend: { position: 'none' },
                    hAxis: { format: 'none' }
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div1'));

                chart.draw(data, options);
            }
            </script>
        }

        if (!string.IsNullOrEmpty(strChart2))
        {
            <script type="text/javascript">
            function drawBasic2() {
                var data = google.visualization.arrayToDataTable([
                       ['Element', '', { role: 'style' }, { role: 'annotation' }]
                       @Html.Raw(strChart2)
                ]);

                var options = {
                    title: 'İÇ VERİM ORANI (IRR) (%)',
                    legend: { position: 'none' }
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));

                chart.draw(data, options);
            }
            </script>
        }

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            $(function () {
                google.charts.load('current', { packages: ['corechart', 'bar'] });

                @if (!string.IsNullOrEmpty(strChart1))
                {
                    @Html.Raw("google.charts.setOnLoadCallback(drawBasic1);")
                }

                @if (!string.IsNullOrEmpty(strChart2))
                {
                    @Html.Raw("google.charts.setOnLoadCallback(drawBasic2);")
                }
            });
        </script>
    }
}