﻿@model KatilimEmeklilikInternetSube.Classes.ClassData.Individual.PaymentInfo.cPaymentInfo

@{
    string strTitle = Model.PageSettings.Title;
    string strType = Model.PageSettings.Type;
    string strUrlRoot = Model.PageSettings.UrlRoot;

    ViewBag.Title = strTitle + " / Ödeme Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page hayat-sigortasi">
    <div class="page-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-container">
                        <h1 class="page-title">
                            @if (Model.SozlesmeBilgileri != null)
                            {
                                @Model.SozlesmeBilgileri.UrunAdi
                            }
                            else
                            {
                                @strTitle
                            }
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-person_filled"></div>
                            @strType Bilgileri
                        </h1>
                        <form>
                            <div class="table-responsive">
                                @if (Model.SozlesmeBilgileri != null)
                                {
                                    <table class="table table-hover">
                                        <tr>
                                            <td>@strType No</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Sözleşme No" class="validate[required]" value="@Model.SozlesmeBilgileri.SozlesmeNo" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>KTLM Müşteri No</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="KTLM Müşteri No" class="validate[required]" value="@Model.SozlesmeBilgileri.KTLMMusteriNo" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Katılımcı</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Katılımcı" class="validate[required]" value="@Model.SozlesmeBilgileri.Katilimci" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ürün Adı</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Ürün Adı" class="validate[required]" value="@Model.SozlesmeBilgileri.UrunAdi" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ödeme Aracı</td>
                                            <td style="text-align: right">
                                                <div class="button-gamma">
                                                    <input type="text" placeholder="Kredi Kartı" class="validate[required]" value="@Model.SozlesmeBilgileri.KrediKarti" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                }
                                else
                                {
                                    <label>@strType bilgileri bulunamadı!</label>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Ferdi || Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Hayat)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <!--Extended from table-alpha-->
                        <div class="table-alpha">
                            <h1>
                                <div class="icon icon-pin"></div>
                                Bakiye İadesi Sorgulama
                            </h1>
                            <form>
                                <div class="table-responsive">
                                    <label>Bakiye iadenizi sorgulamak için lütfen <a href="javascript:void(0);" onclick="ResponseSite();">buraya</a> tıklayınız.</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-xs-12">
                    <!--Extended from table-alpha-->
                    <div class="table-alpha">
                        <h1>
                            <div class="icon icon-pin"></div>
                            Tahsilat Makbuzu
                        </h1>
                        <form>
                            <div class="table-responsive" style="max-height: 500px; overflow-x: hidden; overflow-y: auto">
                                @if (Model.Tahsilat_Makbuzu != null)
                                {
                                    <table class="table table-hover">
                                        <tr>
                                            <td>Makbuz Basım</td>
                                            <td>Ödeme Tarihi</td>
                                            @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel || Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.OtomatikKatilim)
                                            {
                                                <td>Vade Tarihi</td>
                                            }
                                            <td>Vade Tipi</td>
                                            <td>Ödeme Tutarı</td>
                                        </tr>
                                        @foreach (var item in Model.Tahsilat_Makbuzu)
                                        {
                                            <tr>
                                                <td class="col-sm-2">
                                                    <div class="">
                                                        <a href="/@strUrlRoot/odeme-bilgileri-pdf?policy=@(KatilimEmeklilikInternetSube.Classes.Tools.QueryStrings.policyRequest)&refno=@(KatilimEmeklilikInternetSube.Classes.Tools.cCrypto.EncryptDES(item.ReferansNo))" class="button-beta">@item.ReferansNo</a>
                                                    </div>
                                                </td>
                                                <td>@item.OdemeTarihi</td>
                                                @if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel || Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.OtomatikKatilim)
                                                {
                                                    <td>@item.VadeTarihi</td>
                                                }
                                                <td>@item.VadeTipi.Replace("Başlangıç Kapitali", "Başlangıç Katkı Payı")</td>
                                                <td>@item.OdemeTutari &#x20BA;</td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    if (Model.PageSettings.RouteName == KatilimEmeklilikInternetSube.Classes.LiveData.cEnums.PageType.Bireysel)
                                    {
                                        <label>Henüz katkı payı ödemeniz gerçekleşmemiştir!</label>
                                    }
                                    else
                                    {
                                        <label>Henüz prim ödemeniz gerçekleşmemiştir!</label>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>

@section footer
{
    @Html.Raw(ViewBag.Msg)
}